@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "农田水利新增页面";
}
<script src="~/Scripts/SuperMap/libs/SuperMap.Include.js"></script>
<div id="add">
    <el-form v-model="addForm" ref="addForm" v-bind:inline="true" label-position="right" label-width="100px" size="small">
        <div id="BasicInfo">
            <div class="titlecss">基本信息</div>
            <el-row type="flex">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程名称:" style="width:100%;">
                        <el-input placeholder="请输入内容" v-model="addForm.S_NAME">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="项目编号:">
                        <el-input placeholder="请输入内容" v-model="addForm.S_PROJECT_NO">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="年度:">
                        <el-select v-model="addForm.N_YEAR" class="selectwidth">
                            <el-option v-for="item in YearOption" v-bind:key="item.s_cd_key2" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key" v-on:change="changeYear">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程分类:">
                        小型农田水利
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程状态:">
                        <el-select v-model="addForm.N_PACE_STATUS" class="selectwidth">
                            <el-option v-for="item in staticsOptions" v-bind:key="item.s_cd_key2" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key" v-on:change="changeStatics">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="所属镇:">
                        <el-select v-model="addForm.S_TOWN" class="selectwidth">
                            <el-option v-for="item in xzqhOptions" v-bind:key="item.s_cd_key2" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value" v-on:change="changeXzqh">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="16" class="colheight el-col-16">
                    <el-form-item label="工程地址:">
                        <el-input placeholder="请输入内容" v-model="addForm.S_ADDRESS" style="width:129.5%;">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="项目法人:" style="padding-left: 15px;">
                        <el-select v-model="addForm.S_LEGAL_PERSON" class="selectwidth">
                            <el-option v-for="item in LegalPerOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_name" v-on:change="changeLegalper">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="监理单位:">
                        <el-input placeholder="请输入内容" v-model="addForm.S_UNIT_SUPERVISE">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="施工单位:">
                        <el-input placeholder="请输入内容" v-model="addForm.S_UNIT_BUILD">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="设计单位:">
                        <el-select v-model="addForm.S_UNIT_DESIGN" class="selectwidth">
                            <el-option v-for="item in DesignUnitOption" v-bind:label="item.s_name" v-bind:value="item.s_name" v-on:change="changeDesignUnit">
                                @*v-bind:key="item.s_id"*@
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="估算总投资:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_RECKON_TOTAL_AMT">

                    </el-form-item>
                </el-col>
            </el-row>

            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="24">
                    <el-form-item label="备注:">
                        <el-input type="textarea" v-model="addForm.S_REMARK" style="width:85%;"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="ProjectInfo">
            <div class="titlecss"> 批复工程量</div>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区数量:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_GGSL">
                            <template slot="append">
                                个
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区面积:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_GGMJ">
                            <template slot="append">
                                亩
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站座数:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_BZZS">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站台套:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_BZTT">
                            <template slot="append">
                                台套
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="地下渠道:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_DXQD">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="渡槽:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_DC">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="倒虹吸:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_DXH">
                            <template slot="append">
                                道
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="衬砌明渠:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_CQMQ">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="新翻建道路:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_XFJDL">
                            <template slot="append">
                                平方米
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="InvestInfo">
            <div class="titlecss">概算投资</div>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="总投资:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_TOTAL_INVEST">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程直接费:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_ENGIN_COST">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="独立费用:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_INDEPENDENT_COST">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="预备费:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_PREP_COST">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" label-position="right" class="colheight">
                    <el-form-item label="景观等费用:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_SIGHT_COST">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="fundForm">
            <div class="titlecss">资金配套组成</div>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="市补:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_SUBSIDY_CITY">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>

                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="区配套:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_SUBSIDY_DISTRICT">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>

                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="镇配套:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_SUBSIDY_TOWN">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>

                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="finishInfo">
            <div class="titlecss">完成工程量</div>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区数量:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCGGSL">
                            <template slot="append">
                                个
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区面积:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCGGMJ">
                            <template slot="append">
                                亩
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站座数:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCBZZS">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站台套:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCBZTT">
                            <template slot="append">
                                道
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="地下渠道:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCDXQD">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="渡槽:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCDC">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="倒虹吸:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCDXH">
                            <template slot="append">
                                道
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="衬砌明渠:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCCQMQ">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="新翻建道路:">
                        <el-input placeholder="请输入内容" v-model="addForm.N_WCXFJDL">
                            <template slot="append">
                                平方米
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="addInfo">
            <div class="titlecss">补充信息</div>
            <div>
                <span>工程图纸上传:</span>
                <el-button type="primary" size="small">点击上传 </el-button>
                <span> （支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传）</span>
            </div>
            <div style="padding-top:20px;">
                <span>工程位置草图:</span>
                <el-button type="text" v-on:click="showgcctMapEdit">工程位置草图</el-button>
            </div>
            <el-dialog title="工程位置草图编辑" v-bind:visible.sync="mapEditDialogVisible" width="70%" top="6vh">
                <com-gcctmap-edit v-bind:style="{height:gccteditmapheight+'px'}" ref="gcctedit" v-bind:gcctinfo=this.gcctinfo></com-gcctmap-edit>
            </el-dialog>
            <div style="padding-top:20px;">
                <span>工程图片上传:</span>
            </div>
        </div>

        <div style="text-align:center;">
            <el-button style="width: 90px;" v-on:click="cancel" size="small"> 取消</el-button>
            <el-button type="primary" v-on:click="save" style="width: 90px;" size="small">保存</el-button>
        </div>
    </el-form>
</div>

@Html.Partial("~/Views/components/gcctMap/com_gcctEdit.cshtml")
<script>
    new Vue({
        el: '#add',
        data: {
            gcctinfo: {
                S_PROJECT_NO: "",
                N_PACE_STATUS: "",
                N_YEAR: "",
                N_TYPE: "",
                S_LEGAL_PERSON: "",
                S_TOWN: "",
                S_ADDRESS: "",
                S_UNIT_DESIGN: "",
                S_UNIT_BUILD: "",
                S_UNIT_SUPERVISE: "",
                N_RECKON_TOTAL_AMT: "",
                REMARK:""
            },
            YearOption: [],
            staticsOptions: [],
            N_PACE_STATUS: "",
            xzqhOptions: [],
            S_TOWN: "",
            LegalPerOption: [],
            S_LEGAL_PERSON: "",
            DesignUnitOption: [],
            S_UNIT_DESIGN: "",
            mapEditDialogVisible: false,
            gccteditmapheight: document.documentElement.clientHeight - 200,
            addForm: {
                S_NAME: '',
                N_TYPE: '',
                S_PROJECT_NO: '',
                N_YEAR: '',
                N_PACE_STATUS: '',
                S_TOWN: '',
                S_ADDRESS: '',
                S_LEGAL_PERSON: '',
                S_UNIT_DESIGN: '',
                S_UNIT_BUILD: '',
                S_UNIT_SUPERVISE: '',
                N_RECKON_TOTAL_AMT: '',
                S_REMARK: '',
                N_GGSL: '',
                N_GGMJ: '',
                N_BZZS: '',
                N_BZTT: '',
                N_DXQD: '',
                N_DC: '',
                N_DXH: '',
                N_CQMQ: '',
                N_XFJDL: '',
                N_TOTAL_INVEST: '',
                N_ENGIN_COST: '',
                N_INDEPENDENT_COST: '',
                N_PREP_COST: '',
                N_SIGHT_COST: '',
                N_SUBSIDY_CITY: '',
                N_SUBSIDY_DISTRICT: '',
                N_SUBSIDY_TOWN: '',
                N_WCGGSL: '',
                N_WCGGMJ: '',
                N_WCBZZS: '',
                N_WCBZTT: '',
                N_WCDXQD: '',
                N_WCDC: '',
                N_WCDXH: '',
                N_WCCQMQ: '',
                N_WCXFJDL: '',
            }
        },
        components: {
            "com-gcctmap-edit": comgcctmapEdit
        },
        mounted: function () {
            this.getYear("/FarmlandWater/GetDictionary", { type: "年度" });
            this.getTown("/FarmlandWater/GetDictionary", { type: "街镇" });
            this.getStatics("/FarmlandWater/GetDictionary", { type: "工程状态" });
            this.getLegalPerson("/FarmlandWater/GetLegalPerson", null);
            this.getDesignUnit("/FarmlandWater/GetDesignUnit", null);

            $(window).resize(function () {
                this.gccteditmapheight = document.documentElement.clientHeight - 200;
            });
        },
        watch: {
            gccteditmapheight: function (val) {
                this.gccteditmapheight = val;
            },
        },
        methods: {
            bindGCCTData:function(val){
                this.gcctinfo.S_PROJECT_NO = this.addForm.S_PROJECT_NO; 
                this.gcctinfo.N_PACE_STATUS = this.addForm.N_PACE_STATUS;
                this.gcctinfo.N_YEAR = this.addForm.N_YEAR;
                this.gcctinfo.N_YEAR = "小型农田水利";
                this.gcctinfo.S_LEGAL_PERSON = this.addForm.S_LEGAL_PERSON;
                this.gcctinfo.S_TOWN = this.addForm.S_TOWN;
                this.gcctinfo.S_ADDRESS = this.addForm.S_ADDRESS;
                this.gcctinfo.S_UNIT_DESIGN = this.addForm.S_UNIT_DESIGN;
                this.gcctinfo.S_UNIT_BUILD = this.addForm.S_UNIT_BUILD;
                this.gcctinfo.S_UNIT_SUPERVISE = this.addForm.S_UNIT_SUPERVISE;
                this.gcctinfo.N_RECKON_TOTAL_AMT = this.addForm.N_RECKON_TOTAL_AMT;
                this.gcctinfo.REMARK = this.addForm.S_REMARK;
            },
            showgcctMapEdit: function () {
                this.bindGCCTData();
                this.mapEditDialogVisible = true;
            },
            getYear: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.YearOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getTown: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.xzqhOptions = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getStatics: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.staticsOptions = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getLegalPerson: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.EnginLegalPersonListGetResponse.engin_unit_person_list;
                      this.LegalPerOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getDesignUnit: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.EnginUnitListGetResponse.engin_unit_person_list;
                      this.DesignUnitOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            changeYear: function (param) {
                this.addForm.N_YEAR = param;
            },
            changeStatics: function (param) {
                this.N_PACE_STATUS = param;
            },
            changeXzqh: function (param) {
                this.S_TOWN = param;
            },
            changeLegalper: function (param) {
                this.S_LEGAL_PERSON = param;
            },
            changeDesignUnit: function (param) {
                this.S_UNIT_DESIGN = param;
            },

            cancel: function () {
                window.location.href = "/FarmlandWater/Index";
            },

            save: function () {
                axios.post('/FarmlandWater/Add',
                    { param: JSON.stringify(this.addForm) }
                    ).then(function (response) {
                    debugger
                    var datas = JSON.parse(response.data);
                    if (datas.EnginFarmReportResponse.result == true) {
                        alert("新增成功！");
                        window.location.href = "/FarmlandWater/Index";
                    }
                });
            },
        }
    });
</script>

<style scoped>
    #add input, textarea {
        max-width: none;
        width: 100%;
    }

    #add .el-form-item {
        width: 100%;
    }

    #add .el-form-item__content {
        width: 65%;
    }

    #add .gcaddress.el-form-item__content {
        width: 83%;
    }

    #add {
        /*position: relative;*/
        overflow-y: auto;
        height: 95%;
        width: 100%;
        padding: 20px;
        font-size: 14px;
        min-width:900px;
    }

    .titlecss {
        font-size: 14px;
        font-weight: bold;
        color: #666666;
    }

    .rowpadding {
        padding-bottom: 10px;
    }

    .colheight {
        height: 40px;
        font-size: 14px;
        color: #333333;
    }

    .el-col-16 {
        width: 65.5%;
    }

    .selectwidth {
        width: 100%;
    }

    .el-dialog__body {
        padding: 15px 20px !important;
    }
</style>
