
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditPage";
}
<script src="~/Scripts/SuperMap/libs/SuperMap.Include.js"></script>
<div id="edit">
    <el-form :model="editForm" v-bind:inline="true" label-position="right" label-width="110px" size="small" ref="editForm" v-bind:rules="rules">
        <div id="BasicInfo">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss">基本信息</div>
            </el-row>
            <el-row type="flex">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程名称：" style="width:100%;" prop="S_NAME">
                        <el-input v-model="editForm.S_NAME" v-bind:disabled="isFinish">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程编号：" prop="S_PROJECT_NO">
                        <el-input v-model="editForm.S_PROJECT_NO" v-bind:disabled="isFinish">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="年度：" prop="N_YEAR">
                        @*<el-select v-model="editForm.N_YEAR" class="selectwidth">
                                <el-option v-for="item in YearOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key" v-on:change="changeYear">
                                </el-option>
                            </el-select>*@
                        <el-date-picker v-model="editForm.N_YEAR"
                                        type="year"
                                        placeholder="选择年份" style="width:90%;" v-bind:disabled="isFinish">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程分类：">
                        小型农田水利
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程状态：" prop="N_PACE_STATUS">
                        <el-select v-model="editForm.N_PACE_STATUS" class="selectwidth" v-bind:disabled="isFinish">
                            <el-option v-for="item in staticsOptions" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="所属镇：" prop="S_TOWN">
                        <el-select v-model="editForm.S_TOWN" class="selectwidth" v-bind:disabled="isFinish">
                            <el-option v-for="item in xzqhOptions" v-bind:key="item.s_cd_value" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value" v-on:change="changeXzqh">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="16" class="colheight el-col-16">
                    <el-form-item label="工程地址：" prop="S_ADDRESS">
                        <el-input v-model="editForm.S_ADDRESS" style="width:116.5%;" v-bind:disabled="isFinish">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="项目法人：">
                        <el-select v-model="editForm.S_LEGAL_PERSON" class="selectwidth" v-bind:disabled="isFinish">
                            <el-option v-for="item in LegalPerOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id" v-on:change="changeLegalper">
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="监理单位：">
                        <el-input v-model="editForm.S_UNIT_SUPERVISE" v-bind:disabled="isFinish">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="施工单位：">
                        <el-input v-model="editForm.S_UNIT_BUILD" v-bind:disabled="isFinish">
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="设计单位：">
                        <el-select v-model="editForm.S_UNIT_DESIGN" class="selectwidth" v-bind:disabled="isFinish">
                            <el-option v-for="item in DesignUnitOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id" v-on:change="changeDesignUnit">
                                @*v-bind:key="item.s_id"*@
                            </el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="估算总投资：" prop="N_RECKON_TOTAL_AMT">
                        <el-input v-model="editForm.N_RECKON_TOTAL_AMT" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="24">
                    <el-form-item label="备注：">
                        <el-input type="textarea" placeholder="请输入内容" v-bind:rows="3" v-model="editForm.S_REMARK" style="width:125%;padding-top:10px;" resize="none" v-bind:disabled="isFinish">
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="ProjectInfo">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss"> 批复工程量</div>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区数量：" prop="N_GGSL">
                        <el-input v-model="editForm.N_GGSL" v-bind:disabled="isFinish">
                            <template slot="append">
                                个
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区面积：" prop="N_GGMJ">
                        <el-input v-model="editForm.N_GGMJ" v-bind:disabled="isFinish">
                            <template slot="append">
                                亩
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站座数：" prop="N_BZZS">
                        <el-input v-model="editForm.N_BZZS" v-bind:disabled="isFinish">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站台套：" prop="N_BZTT">
                        <el-input v-model="editForm.N_BZTT" v-bind:disabled="isFinish">
                            <template slot="append">
                                台套
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="地下渠道：" prop="N_DXQD">
                        <el-input v-model="editForm.N_DXQD" v-bind:disabled="isFinish">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="渡槽：" prop="N_DC">
                        <el-input v-model="editForm.N_DC" v-bind:disabled="isFinish">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="倒虹吸：" prop="N_DXH">
                        <el-input v-model="editForm.N_DXH" v-bind:disabled="isFinish">
                            <template slot="append">
                                道
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="衬砌明渠：" prop="N_CMMQ">
                        <el-input v-model="editForm.N_CMMQ" v-bind:disabled="isFinish">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="新翻建道路：" prop="N_XFJDL">
                        <el-input v-model="editForm.N_XFJDL" v-bind:disabled="isFinish">
                            <template slot="append">
                                平方米
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="InvestInfo">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss">概算投资</div>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="总投资：" prop="N_TOTAL_INVEST">
                        <el-input v-model="editForm.N_TOTAL_INVEST" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="工程直接费：" prop="N_ENGIN_COST">
                        <el-input v-model="editForm.N_ENGIN_COST" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="独立费用：" prop="N_INDEPENDENT_COST">
                        <el-input v-model="editForm.N_INDEPENDENT_COST" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="预备费：" prop="N_PREP_COST">
                        <el-input v-model="editForm.N_PREP_COST" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" label-position="right" class="colheight">
                    <el-form-item label="景观等费用：" prop="N_SIGHT_COST">
                        <el-input v-model="editForm.N_SIGHT_COST" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="fundForm">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss">资金配套组成</div>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="市补:" prop="N_SUBSIDY_CITY">
                        <el-input v-model="editForm.N_SUBSIDY_CITY" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="区配套:" prop="N_SUBSIDY_DISTRICT">
                        <el-input v-model="editForm.N_SUBSIDY_DISTRICT" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="镇配套:" prop="N_SUBSIDY_TOWN">
                        <el-input v-model="editForm.N_SUBSIDY_TOWN" v-bind:disabled="isFinish">
                            <template slot="append">
                                万元
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="finishInfo">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss">完成工程量</div>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区数量：" prop="N_WCGGSL">
                        <el-input v-model="editForm.N_WCGGSL" v-bind:disabled="isFinish">
                            <template slot="append">
                                个
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="灌区面积：" prop="N_WCGGMJ">
                        <el-input v-model="editForm.N_WCGGMJ" v-bind:disabled="isFinish">
                            <template slot="append">
                                亩
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站座数：" prop="N_WCBZZS">
                        <el-input v-model="editForm.N_WCBZZS" v-bind:disabled="isFinish">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="泵站台套：" prop="N_WCBZTT">
                        <el-input v-model="editForm.N_WCBZTT" v-bind:disabled="isFinish">
                            <template slot="append">
                                台套
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="地下渠道：" prop="N_WCDXQD">
                        <el-input v-model="editForm.N_WCDXQD" v-bind:disabled="isFinish">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="渡槽：" prop="N_WCDC">
                        <el-input v-model="editForm.N_WCDC" v-bind:disabled="isFinish">
                            <template slot="append">
                                座
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row type="flex" class="rowpadding">
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="倒虹吸：" prop="N_WCDXH">
                        <el-input v-model="editForm.N_WCDXH" v-bind:disabled="isFinish">
                            <template slot="append">
                                道
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="衬砌明渠：" prop="N_WCCQMQ">
                        <el-input v-model="editForm.N_WCCQMQ" v-bind:disabled="isFinish">
                            <template slot="append">
                                公里
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
                <el-col v-bind:span="8" class="colheight">
                    <el-form-item label="新翻建道路：" prop="N_WCXFJDL">
                        <el-input v-model="editForm.N_WCXFJDL" v-bind:disabled="isFinish">
                            <template slot="append">
                                平方米
                            </template>
                        </el-input>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div id="editInfo" style="margin-bottom:60px;">
            <el-row type="flex">
                <div class="blueTitle"></div>
                <div class="titlecss">补充信息</div>
            </el-row>
            <el-row>
                <el-col v-bind:span="24">
                    <el-form-item label="工程图纸上传:">
                        <el-upload class="upload-demo"
                                   ref="upload"
                                   multiple
                                   action="/FarmlandWater/UpFiles"
                                   v-bind:on-change="getDrawing"
                                   v-bind:on-remove="handleRemoveDrawing"
                                   v-bind:on-success="upSucess"
                                   v-bind:on-error="upError"
                                   v-bind:before-remove="beforeRemove"
                                   v-bind:file-list="drawingFiles"
                                   v-bind:disabled="isFinish"
                                   v-bind:before-upload="beforeAvatarUpload">
                            <el-button slot="trigger" size="small" type="primary" v-bind:disabled="isFinish">选取文件</el-button>
                            @*<el-button style="margin-left: 10px;" size="small" type="success" v-on:click="submitUpload">上传到服务器</el-button>*@
                            <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                        </el-upload>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row>
                <el-col v-bind:span="24">
                    <el-form-item label="工程位置草图:">
                        <el-button type="text" v-on:click="showgcctMapEdit" v-bind:disabled="isFinish">工程位置草图</el-button>
                    </el-form-item>
                </el-col>
                <el-dialog title="编辑工程位置草图" v-bind:visible.sync="mapEditDialogVisible" width="70%" top="6vh">
                    <com-gcctmap-edit v-bind:style="{height:gccteditmapheight+'px'}" ref="gcctedit" v-bind:gcctinfo=this.gcctinfo></com-gcctmap-edit>
                </el-dialog>
            </el-row>
            <el-row>
                <el-col v-bind:span="24">
                    <el-form-item label="工程图片上传:">
                        <span class="el-upload__tip">支持png、jpg、jpeg、gif格式的图片上传；文件大小应在10M以内</span>
                        <el-upload action="/FarmlandWater/UpFiles"
                                    list-type="picture-card"
                                    v-bind:on-preview="handlePreview"
                                    v-bind:on-remove="handleRemovePicture"
                                    v-bind:on-change="getPicture"
                                    v-bind:on-success="upSucess2"
                                    v-bind:on-error="upError"
                                    v-bind:before-remove="beforeRemove"
                                    v-bind:file-list="pictureFiles"
                                    v-bind:disabled="isFinish"
                                    v-bind:before-upload="beforeImagesUpload"
                                    accept="image/png, image/jpg, image/jpeg, image/gif">
                            <i class="el-icon-plus"></i>
                        </el-upload>
                        <el-dialog v-bind:visible.sync="dialogVisible" v-bind:disabled="isFinish">
                            <img style="width:100%" v-bind:src="dialogImageUrl" alt="">
                        </el-dialog>
                    </el-form-item>
                </el-col>
            </el-row>
        </div>

        <div style="width:100%;text-align:center;position:fixed;bottom:0;left:0;height:60px;">
            <el-button v-on:click="cancel" size="small"> 取消</el-button>
            <el-button type="primary" v-on:click="edit('editForm')" size="small" v-bind:disabled="isFinish">保存</el-button>
        </div>
    </el-form>
</div>
@Html.Partial("~/Views/components/gcctMap/com_gcctEdit.cshtml")
<script>
    new Vue({
        el: '#edit',
        data: function () {
            var checkNum = function (rule, value, callback) {
                //var reNum = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;//正数
                var reNum = /^([0-9][0-9]{7}|[0-9]{1,7})(\.[0-9][0-9]?)?$/;
                if (value != '' && value != 'undefind' && value != null) {
                    if (!reNum.test(value)) {
                        callback(new Error('请输入正确的数字值（最大支持8位整数，2位小数）'));
                        debugger
                    } else {
                        callback();
                    }
                } else {
                    callback();
                }
            };
            return {
                yYear: moment().format('YYYY'),
                YearOption: [],
                staticsOptions: [],
                xzqhOptions: [],
                LegalPerOption: [],
                DesignUnitOption: [],
                drawingFiles: [],
                pictureFiles: [],
                drawingFilesAdd: [],
                pictureFilesAdd: [],
                filesData: [],
                dialogImageUrl: '',
                dialogVisible: false,
                mapEditDialogVisible: false,
                gccteditmapheight: document.documentElement.clientHeight - 200,
                isFinish: false,
                gcctinfo: {
                    S_PROJECT_NO: "",
                    N_PACE_STATUS: "",
                    N_YEAR: "",
                    N_TYPE: "",
                    S_LEGAL_PERSON: "",
                    S_TOWN: "",
                    S_ADDRESS: "",
                    S_UNIT_DESIGN: "",
                    S_UNIT_BUILD: "",
                    S_UNIT_SUPERVISE: "",
                    N_RECKON_TOTAL_AMT: "",
                    REMARK: ""
                },
                editForm: {
                    S_ID: '',
                    S_NAME: '',
                    S_PROJECT_NO: '',
                    N_YEAR: moment().format('YYYY'),
                    N_PACE_STATUS: '',
                    S_TOWN: '',
                    S_ADDRESS: '',
                    S_LEGAL_PERSON: '',
                    S_UNIT_DESIGN: '',
                    S_UNIT_BUILD: '',
                    S_UNIT_SUPERVISE: '',
                    N_RECKON_TOTAL_AMT: '',
                    S_REMARK: '',
                    N_GGSL: '',
                    N_GGMJ: '',
                    N_BZZS: '',
                    N_BZTT: '',
                    N_DXQD: '',
                    N_DC: '',
                    N_DXH: '',
                    N_CQMQ: '',
                    N_XFJDL: '',
                    N_TOTAL_INVEST: '',
                    N_ENGIN_COST: '',
                    N_INDEPENDENT_COST: '',
                    N_PREP_COST: '',
                    N_SIGHT_COST: '',
                    N_SUBSIDY_CITY: '',
                    N_SUBSIDY_DISTRICT: '',
                    N_SUBSIDY_TOWN: '',
                    N_WCGGSL: '',
                    N_WCGGMJ: '',
                    N_WCBZZS: '',
                    N_WCBZTT: '',
                    N_WCDXQD: '',
                    N_WCDC: '',
                    N_WCDXH: '',
                    N_WCCQMQ: '',
                    N_WCXFJDL: '',
                    REMOVE_PIC_IDS: '',
                },
                rules: {
                    S_NAME: [
                        { required: true, message: '请输入工程名称', trigger: 'blur' }
                    ],
                    S_PROJECT_NO: [
                        { required: true, message: '请输入项目编号', trigger: 'blur' }
                    ],
                    N_YEAR: [
                        { required: true, message: '请选择年份', trigger: 'blur' }
                    ],
                    S_ADDRESS: [
                        { required: true, message: '请输入工程地址', trigger: 'blur' }
                    ],
                    N_PACE_STATUS: [
                        { required: true, message: '请选择工程状态', trigger: 'blur' }
                    ],
                    S_TOWN: [
                        { required: true, message: '请选择所属镇', trigger: 'blur' }
                    ],
                    N_RECKON_TOTAL_AMT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_GGSL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_GGMJ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_BZZS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_BZTT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_DXQD: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_DC: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_DXH: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_CQMQ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_XFJDL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_TOTAL_INVEST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_ENGIN_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_INDEPENDENT_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_PREP_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SIGHT_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_CITY: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_DISTRICT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_TOWN: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCGGSL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCGGMJ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCBZZS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCBZTT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCDXQD: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCDC: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCDXH: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCCQMQ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCXFJDL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                },
            }
        },
        components: {
            "com-gcctmap-edit": comgcctmapEdit
        },
        mounted: function () {
            var t = this.GetId();
            this.GetDetail("/FarmlandWater/GetDetail", { id: t.id });

            //this.getYear("/FarmlandWater/GetDictionary", { type: "年度" });
            this.getTown("/FarmlandWater/GetDictionary", { type: "街镇" });
            this.getStatics("/FarmlandWater/GetDictionary", { type: "工程状态" });
            this.getLegalPerson("/FarmlandWater/GetLegalPerson", null);
            this.getDesignUnit("/FarmlandWater/GetDesignUnit", null);
            $(window).resize(function () {
                this.gccteditmapheight = document.documentElement.clientHeight - 200;
            });
        },
        watch: {
            gccteditmapheight: function (val) {
                this.gccteditmapheight = val;
            },
        },
        methods: {
            bindGCCTData: function () {
                this.gcctinfo.S_PROJECT_NO = this.editForm.S_PROJECT_NO;
                this.gcctinfo.N_PACE_STATUS = this.editForm.N_PACE_STATUS;
                this.gcctinfo.N_YEAR = this.editForm.N_YEAR;
                this.gcctinfo.N_YEAR = this.editForm.N_TYPE;
                this.gcctinfo.S_LEGAL_PERSON = this.editForm.S_LEGAL_PERSON;
                this.gcctinfo.S_TOWN = this.editForm.S_TOWN;
                this.gcctinfo.S_ADDRESS = this.editForm.S_ADDRESS;
                this.gcctinfo.S_UNIT_DESIGN = this.editForm.S_UNIT_DESIGN;
                this.gcctinfo.S_UNIT_BUILD = this.editForm.S_UNIT_BUILD;
                this.gcctinfo.S_UNIT_SUPERVISE = this.editForm.S_UNIT_SUPERVISE;
                this.gcctinfo.N_RECKON_TOTAL_AMT = this.editForm.N_RECKON_TOTAL_AMT;
                this.gcctinfo.REMARK = this.editForm.S_REMARK;
            },
            showgcctMapEdit: function () {
                this.bindGCCTData();
                this.mapEditDialogVisible = true;
            },
            getYear: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.YearOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getTown: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.xzqhOptions = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getStatics: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.staticsOptions = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getLegalPerson: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.EnginLegalPersonListGetResponse.engin_unit_person_list;
                      this.LegalPerOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getDesignUnit: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.EnginUnitListGetResponse.engin_unit_person_list;
                      this.DesignUnitOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },

            changeStatics: function (param) {
                this.editForm.N_PACE_STATUS = param;
            },
            changeXzqh: function (param) {
                this.editForm.S_TOWN = param;
            },
            changeLegalper: function (param) {
                this.editForm.S_LEGAL_PERSON = param;
            },
            changeDesignUnit: function (param) {
                this.editForm.S_UNIT_DESIGN = param;
            },

            cancel: function () {
                window.location.href = "/FarmlandWater/Index";
            },
            GetId: function () {
                var url = window.location.search;
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            },
            GetDetail: function (url, id) {
                axios.post(url, id)
                 .then(function (response) {
                     var li = JSON.parse(response.data);
                     this.editForm.S_NAME = li.EnginFarmGetResponse.info.s_name;
                     this.editForm.S_PROJECT_NO = li.EnginFarmGetResponse.info.s_project_no;
                     this.editForm.S_ID = li.EnginFarmGetResponse.info.s_id;

                     this.editForm.N_YEAR = li.EnginFarmGetResponse.info.n_year.toString();
                     this.yYear = li.EnginFarmGetResponse.info.n_year.toString();
                     //   this.editForm.N_PACE_STATUS = li.EnginFarmGetResponse.info.n_pace_status;
                     this.editForm.S_TOWN = li.EnginFarmGetResponse.info.s_town;
                     this.editForm.S_ADDRESS = li.EnginFarmGetResponse.info.s_address;
                     this.editForm.S_LEGAL_PERSON = li.EnginFarmGetResponse.info.s_legal_person;
                     this.editForm.S_UNIT_DESIGN = li.EnginFarmGetResponse.info.s_unit_design;
                     this.editForm.S_UNIT_BUILD = li.EnginFarmGetResponse.info.s_unit_build;
                     this.editForm.S_UNIT_SUPERVISE = li.EnginFarmGetResponse.info.s_unit_supervise;
                     this.editForm.N_RECKON_TOTAL_AMT = li.EnginFarmGetResponse.info.n_reckon_total_amt;
                     this.editForm.S_REMARK = li.EnginFarmGetResponse.info.s_remark;
                     this.editForm.N_GGSL = li.EnginFarmGetResponse.info.EnginMainFarm.n_ggsl;
                     this.editForm.N_GGMJ = li.EnginFarmGetResponse.info.EnginMainFarm.n_ggmj;
                     this.editForm.N_BZZS = li.EnginFarmGetResponse.info.EnginMainFarm.n_bzzs;
                     this.editForm.N_BZTT = li.EnginFarmGetResponse.info.EnginMainFarm.n_bztt;
                     this.editForm.N_DXQD = li.EnginFarmGetResponse.info.EnginMainFarm.n_dxqd;
                     this.editForm.N_DC = li.EnginFarmGetResponse.info.EnginMainFarm.n_dc;
                     this.editForm.N_DXH = li.EnginFarmGetResponse.info.EnginMainFarm.n_dxh;
                     this.editForm.N_CQMQ = li.EnginFarmGetResponse.info.EnginMainFarm.n_cqmq;
                     this.editForm.N_XFJDL = li.EnginFarmGetResponse.info.EnginMainFarm.n_xfjdl;
                     this.editForm.N_TOTAL_INVEST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_total_invest;
                     this.editForm.N_ENGIN_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_engin_cost;
                     this.editForm.N_INDEPENDENT_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_independent_cost;
                     this.editForm.N_PREP_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_prep_cost;
                     this.editForm.N_SIGHT_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_sight_cost;
                     this.editForm.N_SUBSIDY_CITY = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_city;
                     this.editForm.N_SUBSIDY_DISTRICT = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_district;
                     this.editForm.N_SUBSIDY_TOWN = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_town;
                     this.editForm.N_WCGGSL = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggsl;
                     this.editForm.N_WCGGMJ = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggmj;
                     this.editForm.N_WCBZZS = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bzzs;
                     this.editForm.N_WCBZTT = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bztt;
                     this.editForm.N_WCDXQD = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxqd;
                     this.editForm.N_WCDC = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dc;
                     this.editForm.N_WCDXH = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxh;
                     this.editForm.N_WCCQMQ = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_cqmq;
                     this.editForm.N_WCXFJDL = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_xfjdl;
                     if (li.EnginFarmGetResponse.info.n_pace_status == '工程完结') {
                         this.isFinish = true;
                     } else {
                         this.isFinish = false;
                     }
                     var files = li.EnginFarmGetResponse.info.FileUploaderList;
                     for (var i = 0; i < files.length; i++) {
                         var temp = { name: files[i].s_file_name, url: files[i].s_path, uid: files[i].s_id }
                         if (files[i].s_type == '图纸') {
                             this.drawingFiles.push(temp);
                         }
                         if (files[i].s_type == '图片') {
                             this.pictureFiles.push(temp);
                         }
                     }
                     this.StatusToNum(li.EnginFarmGetResponse.info.n_pace_status);
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            edit: function (formName) {
                this.editForm.N_YEAR = new Date(this.editForm.N_YEAR).getFullYear();
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        var drawing = '';
                        var picture = '';
                        if (this.drawingFilesAdd != '') {
                            for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                                drawing = this.drawingFilesAdd[i].name + ',' + drawing
                            }
                        }
                        if (this.pictureFilesAdd != '') {
                            for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                                picture = this.pictureFilesAdd[i].name + ',' + picture
                            }
                        }
                        axios.post('/FarmlandWater/Edit', { param: JSON.stringify(this.editForm), drawingFiles: drawing, pictureFiles: picture })
                          .then(function (response) {
                              var datas = JSON.parse(response.data);
                              var tempR = datas.EnginFarmUpdateResponse.result;
                              this.editForm.N_YEAR = this.yYear;
                              if (tempR) {
                                  debugger
                                  window.location.href = "/FarmlandWater/Index";
                              } else {
                                  this.$message.error('保存失败！' + TempR);
                              }
                          }.bind(this))
                          .catch(function (error) {
                              this.editForm.N_YEAR = this.yYear;
                              console.log(error);
                          });
                    } else {
                        this.editForm.N_YEAR = this.yYear;
                        console.log('error submit!!');
                        return false;
                    }
                }.bind(this));
                // axios.post('/FarmlandWater/Edit',
                //{ param: JSON.stringify(this.editForm) }
                //).then(function (response) {
                //    var datas = JSON.parse(response.data);
                //    if (datas.EnginFarmUpdateResponse.result == true) {
                //        alert("修改成功！");
                //        window.location.href = "/FarmlandWater/Index";
                //    }
                //});
            },

            beforeAvatarUpload: function (file) {
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                if (fileType == 'exe') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeImagesUpload: function (file) {

                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                //image/png, image/jpg, image/jpeg, image/gif
                if (fileType != 'png' && fileType != 'jpg' && fileType != 'jpeg' && fileType != 'gif') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeRemove: function (file, fileList) {
                if (file.status == 'ready') {
                    return;
                }
                return this.$confirm('是否确定删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    if (this.editForm.REMOVE_PIC_IDS == "") {
                        this.editForm.REMOVE_PIC_IDS = file.uid;
                    } else {
                        this.editForm.REMOVE_PIC_IDS += "," + file.uid
                    }
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除！'
                    });
                });
            },
            handleRemoveDrawing: function (file, fileList) {
                for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                    if (this.drawingFilesAdd[i].name == file.name) {
                        this.drawingFilesAdd.splice(i, 1);
                    }
                }
            },
            handleRemovePicture: function (file, fileList) {
                for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                    if (this.pictureFilesAdd[i].name == file.name) {
                        this.pictureFilesAdd.splice(i, 1);
                    }
                }
            },
            getDrawing: function (file, fileList) {
                this.drawingFiles = fileList;
            },
            getPicture: function (file, fileList) {
                this.pictureFiles = fileList;
            },
            handlePreview: function (file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            upSucess: function (response, file, fileList) {
                debugger
                var temp = { name: file.name, url: file.url }
                this.drawingFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upSucess2: function (response, file, fileList) {
                var temp = { name: file.name, url: file.url }
                this.pictureFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upError: function (err, file, fileList) {
                this.$message.error('上传失败！' + err);
            },
            StatusToNum: function (status) {
                switch (status) {
                    case '工前准备':
                        this.editForm.N_PACE_STATUS = 1;
                        break;
                    case '开工':
                        this.editForm.N_PACE_STATUS = 10;
                        break;
                    case '完工':
                        this.editForm.N_PACE_STATUS = 20;
                        break;
                    case '完工验收':
                        this.editForm.N_PACE_STATUS = 30;
                        break;
                    case '决算审批':
                        this.editForm.N_PACE_STATUS = 40;
                        break;
                    case '竣工验收':
                        this.editForm.N_PACE_STATUS = 50;
                        break;
                    case '工程完结':
                        this.editForm.N_PACE_STATUS = 60;
                        break;
                    default:
                        break;
                }
            },
        }
    });
</script>

<style>
    body {
        overflow-x: hidden;
    }

    #edit input, textarea {
        max-width: none;
        width: 100%;
    }

    #edit .el-form-item {
        width: 100%;
    }

    #edit .el-form-item__content {
        width: 70%;
    }

    #edit .el-input {
        width: 90%;
    }

    #edit {
        /*position: relative;*/
        overflow-y: auto;
        height: 95%;
        width: 100%;
        padding: 20px;
        font-size: 14px;
        min-width: 1000px;
    }

        #edit .blueTitle {
            width: 7px;
            height: 18px;
            background-color: #409eff;
            float: left;
        }

        #edit.titlecss {
            font-size: 14px;
            font-weight: bold;
            color: #666666;
            float: left;
        }

        #edit.rowpadding {
            padding-bottom: 10px;
        }

        #edit .colheight {
            height: 50px;
        }

        #edit .selectwidth {
            width: 100%;
        }

        #edit.el-col-16 {
            width: 66.6%;
        }

        #editInfo .el-dialog__body {
            padding: 10px 5px;
        }
</style>
