
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "EditPage";

    string type = ViewData["type"].ToString();
    string token = ViewData["token"].ToString();
}
<script src="~/Scripts/SuperMap/libs/SuperMap.Include.js"></script>

<div id="edit">
    <div style="display:none;">@type</div>

    <div id="formData">
        <el-form v-bind:inline="true" label-position="right" label-width="100px" v-bind:model="formData" ref="formData" class="demo-ruleForm" v-bind:rules="rules">
            <div id="appBasic">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">基本信息</div>
                    </el-col>
                </el-row>
                <el-row class="el-row" type="flex">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程名称:" prop="S_NAME">
                            <el-input v-model="formData.S_NAME" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程编号:" prop="S_PROJECT_NO">
                            <el-input v-model="formData.S_PROJECT_NO" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="年度:" prop="N_YEAR">
                            <el-date-picker v-model="formData.N_YEAR"
                                            type="year"
                                            placeholder="选择年份" class="selCss" size="mini">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程分类:">
                            <span>小型农田水利</span>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程状态:" prop="N_PACE_STATUS">
                            <el-select v-model="formData.N_PACE_STATUS" class="selCss" size="mini">
                                <el-option v-for="item in StatusOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="所属镇:" prop="s_town">
                            <el-select v-model="formData.S_TOWN" class="selCss" size="mini">
                                <el-option v-for="item in TownOption" v-bind:key="item.s_cd_value" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="16" class="colCss">
                        <el-form-item label="工程地址:" prop="S_ADDRESS">
                            <el-input v-model="formData.S_ADDRESS" size="mini" style="width:127%;"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="项目法人:">
                            <el-select id="sellegal" v-bind:disabled="isPersonDisable" v-model="formData.S_LEGAL_PERSON" class="selCss" size="mini">
                                <el-option v-for="item in PersonOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="设计单位:">
                            <el-select id="selunit" v-bind:disabled="isUnitDisable" v-model="formData.S_UNIT_DESIGN" class="selCss" size="mini">
                                <el-option v-for="item in UnitOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="施工单位:">
                            <el-input v-model="formData.S_UNIT_BUILD" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="监理单位:">
                            <el-input v-model="formData.S_UNIT_SUPERVISE" size="mini"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="估算总投资:" prop="N_RECKON_TOTAL_AMT">
                            <el-input v-model="formData.N_RECKON_TOTAL_AMT" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row ">
                    <el-col v-bind:span="24" style="height:90px;">
                        <el-form-item label="备注:">
                            <el-input type="textarea" placeholder="请输入内容" v-bind:rows="3" resize="none" v-model="formData.S_REMARK" style="width:136%;padding-top:10px;">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appReply">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">批复工程量</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="村组数量:" prop="N_CZSL">
                            <el-input v-model="formData.N_CZSL" size="mini">
                                <template slot="append">
                                    个
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="总户数:" prop="N_ZHS">
                            <el-input v-model="formData.N_ZHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="就地处理户数:" prop="N_JDCLHS">
                            <el-input v-model="formData.N_JDCLHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="市政纳管户数:" prop="N_SZNGHS">
                            <el-input v-model="formData.N_SZNGHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="就地处理站:" prop="N_JDCLZ">
                            <el-input v-model="formData.N_JDCLZ" size="mini">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="管网长度:" prop="N_GWCD">
                            <el-input v-model="formData.N_GWCD" size="mini">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="新翻建化粪池:" prop="N_XFJHFC">
                            <el-input v-model="formData.N_XFJHFC" size="mini">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appInvest">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">概算投资</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="总投资:" prop="N_TOTAL_INVEST">
                            <el-input v-model="formData.N_TOTAL_INVEST" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程直接费:" prop="N_ENGIN_COST">
                            <el-input v-model="formData.N_ENGIN_COST" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="独立费用:" prop="N_INDEPENDENT_COST">
                            <el-input v-model="formData.N_INDEPENDENT_COST" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="预备费:" prop="N_PREP_COST">
                            <el-input v-model="formData.N_PREP_COST" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="景观等费用:" prop="N_SIGHT_COST">
                            <el-input v-model="formData.N_SIGHT_COST" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appCapital">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">资金配套组成</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="市补:" prop="N_SUBSIDY_CITY">
                            <el-input v-model="formData.N_SUBSIDY_CITY" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="区配套:" prop="N_SUBSIDY_DISTRICT">
                            <el-input v-model="formData.N_SUBSIDY_DISTRICT" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="镇配套:" prop="N_SUBSIDY_TOWN">
                            <el-input v-model="formData.N_SUBSIDY_TOWN" size="mini">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appFinish">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">完成工程量</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="村组数量:" prop="N_WCCZSL">
                            <el-input v-model="formData.N_WCCZSL" size="mini">
                                <template slot="append">
                                    个
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="总户数:" prop="N_WCZHS">
                            <el-input v-model="formData.N_WCZHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="就地处理户数:" prop="N_WCJDCLHS">
                            <el-input v-model="formData.N_WCJDCLHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="市政纳管户数:" prop="N_WCSZNGHS">
                            <el-input v-model="formData.N_WCSZNGHS" size="mini">
                                <template slot="append">
                                    户
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="就地处理站:" prop="N_WCJDCLZ">
                            <el-input v-model="formData.N_WCJDCLZ" size="mini">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="管网长度:" prop="N_WCGWCD">
                            <el-input v-model="formData.N_WCGWCD" size="mini">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="新翻建化粪池:" prop="N_WCXFJHFC">
                            <el-input v-model="formData.N_WCXFJHFC" size="mini">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appFiles">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">补充信息</div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程图纸上传:">
                            <el-upload class="upload-demo"
                                       ref="upload"
                                       multiple
                                       action="/FarmlandWater/UpFiles"
                                       v-bind:on-change="getDrawing"
                                       v-bind:on-remove="handleRemoveDrawing"
                                       v-bind:on-success="upSucess"
                                       v-bind:on-error="upError"
                                       v-bind:before-remove="beforeRemove"
                                       v-bind:file-list="drawingFiles"
                                       v-bind:disabled="isFinish"
                                       v-bind:before-upload="beforeAvatarUpload">
                                <el-button slot="trigger" size="small" type="primary" v-bind:disabled="isFinish">选取文件</el-button>
                                <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程位置草图:">
                            <el-button type="text" v-on:click="showgcctMapEdit" v-bind:disabled="isFinish">工程位置草图</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-dialog title="编辑工程位置草图" v-bind:visible.sync="mapEditDialogVisible" width="70%" top="6vh">
                    <com-gcctmap-edit v-bind:style="{height:gccteditmapheight+'px'}" ref="gcctedit" v-bind:gcctinfo=this.gcctinfo v-on:draftstatus="setDraftStatus"></com-gcctmap-edit>
                </el-dialog>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程图片上传:">
                            <span class="el-upload__tip">支持png、jpg、jpeg、gif格式的图片上传；文件大小应在10M以内</span>
                            <el-upload action="/FarmlandWater/UpFiles"
                                       list-type="picture-card"
                                       v-bind:on-preview="handlePreview"
                                       v-bind:on-remove="handleRemovePicture"
                                       v-bind:on-change="getPicture"
                                       v-bind:on-success="upSucess2"
                                       v-bind:on-error="upError"
                                       v-bind:before-remove="beforeRemove"
                                       v-bind:file-list="pictureFiles"
                                       v-bind:disabled="isFinish"
                                       v-bind:before-upload="beforeImagesUpload"
                                       accept="image/png, image/jpg, image/jpeg, image/gif">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog v-bind:visible.sync="dialogVisible" v-bind:disabled="isFinish">
                                <img style="width:100%" v-bind:src="dialogImageUrl" alt="">
                            </el-dialog>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
        </el-form>
    </div>
    <div id="appBtn" style="width:100%;text-align:center;position:fixed;bottom:0;left:0;height:60px;">
        <el-button plain v-on:click="openIndex" size="small">取消</el-button>
        <el-button type="primary" v-on:click="saveData('formData')" v-bind:disabled="isFinish" size="small">保存</el-button>
    </div>
</div>
@Html.Partial("~/Views/components/gcctMap/com_gcctEdit.cshtml")

<script>
    new Vue({
        el: '#edit',
        data: function () {
            var checkNum = function (rule, value, callback) {
                var reNum = /^([0-9][0-9]{7}|[0-9]{1,7})(\.[0-9][0-9]?)?$/;
                if (value != '' && value != 'undefind' && value != null) {
                    if (!reNum.test(value)) {
                        callback(new Error('请输入正确的数字值（最大支持8位整数，2位小数）'));
                    } else {
                        callback();
                    }
                } else {
                    callback();
                }
            };
            return {
                loading:null,
                gcctinfo: {
                    S_PROJECT_NO: "",
                    N_PACE_STATUS: "",
                    N_YEAR: "",
                    N_TYPE: "",
                    S_LEGAL_PERSON: "",
                    S_TOWN: "",
                    S_ADDRESS: "",
                    S_UNIT_DESIGN: "",
                    S_UNIT_BUILD: "",
                    S_UNIT_SUPERVISE: "",
                    N_RECKON_TOTAL_AMT: "",
                    REMARK: ""
                },
                isPersonDisable: false,
                isUnitDisable: false,
                yYear: moment().format('YYYY'),
                YearOption: [],
                StatusOption: [],
                TownOption: [],
                PersonOption: [],
                UnitOption: [],
                isFinish: false,

                formData: {
                    S_ID: '',
                    S_NAME: '',
                    N_TYPE: '',
                    S_PROJECT_NO: '',
                    N_YEAR: moment().format('YYYY'),
                    N_PACE_STATUS: '',
                    S_TOWN: '',
                    S_ADDRESS: '',
                    S_LEGAL_PERSON: '',
                    S_UNIT_DESIGN: '',
                    S_UNIT_BUILD: '',
                    S_UNIT_SUPERVISE: '',
                    N_RECKON_TOTAL_AMT: '',
                    S_REMARK: '',
                    N_CZSL: '',
                    N_ZHS: '',
                    N_JDCLHS: '',
                    N_SZNGHS: '',
                    N_JDCLZ: '',
                    N_GWCD: '',
                    N_XFJHFC: '',
                    N_TOTAL_INVEST: '',
                    N_ENGIN_COST: '',
                    N_INDEPENDENT_COST: '',
                    N_PREP_COST: '',
                    N_SIGHT_COST: '',
                    N_SUBSIDY_CITY: '',
                    N_SUBSIDY_DISTRICT: '',
                    N_SUBSIDY_TOWN: '',
                    N_WCCZSL: '',
                    N_WCZHS: '',
                    N_WCJDCLHS: '',
                    N_WCSZNGHS: '',
                    N_WCJDCLZ: '',
                    N_WCGWCD: '',
                    N_WCXFJHFC: '',
                    REMOVE_PIC_IDS: '',
                    N_DRAFT: ''
                },
                drawingFiles: [],
                pictureFiles: [],
                drawingFilesAdd: [],
                pictureFilesAdd: [],
                filesData: [],
                dialogImageUrl: '',
                dialogVisible: false,
                mapEditDialogVisible: false,
                gccteditmapheight: document.documentElement.clientHeight - 200,
                rules: {
                    S_NAME: [
                        { required: true, message: '请输入工程名称', trigger: 'blur' }
                    ],
                    S_PROJECT_NO: [
                        { required: true, message: '请输入项目编号', trigger: 'blur' }
                    ],
                    N_YEAR: [
                        { required: true, message: '请选择年份', trigger: 'blur' }
                    ],
                    S_ADDRESS: [
                        { required: true, message: '请输入工程地址', trigger: 'blur' }
                    ],
                    N_PACE_STATUS: [
                        { required: true, message: '请选择工程状态', trigger: 'blur' }
                    ],
                    S_TOWN: [
                        { required: true, message: '请选择所属镇', trigger: 'blur' }
                    ],
                    N_RECKON_TOTAL_AMT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_CZSL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_ZHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_JDCLHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SZNGHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_JDCLZ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_GWCD: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_XFJHFC: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_TOTAL_INVEST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_ENGIN_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_INDEPENDENT_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_PREP_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SIGHT_COST: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_CITY: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_DISTRICT: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_SUBSIDY_TOWN: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCCZSL: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCZHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCJDCLHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCSZNGHS: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCJDCLZ: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCGWCD: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    N_WCXFJHFC: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                }
            };
        },
        components: {
            "com-gcctmap-edit": comgcctmapEdit
        },
        mounted: function () {
            this.loading = this.$loading({
                lock: true,
                text: '数据加载中...',
                target: document.querySelector('body')
            });
            this.init();
            $(window).resize(function () {
                this.gccteditmapheight = document.documentElement.clientHeight - 200;
            });
        },
        watch: {
            gccteditmapheight: function (val) {
                this.gccteditmapheight = val;
            },
        },
        methods: {
            setDraftStatus: function (param) {
                this.formData.n_draft = param.n_draft;
            },
            bindGCCTData: function () {
                this.gcctinfo.S_PROJECT_NO = this.formData.s_project_no;
                this.gcctinfo.N_PACE_STATUS = this.formData.n_pace_status;
                this.gcctinfo.N_YEAR = this.formData.n_year;
                this.gcctinfo.N_TYPE = this.formData.n_type;
                this.gcctinfo.S_LEGAL_PERSON = this.formData.s_legal_person;
                this.gcctinfo.S_TOWN = this.formData.s_town;
                this.gcctinfo.S_ADDRESS = this.formData.s_address;
                this.gcctinfo.S_UNIT_DESIGN = this.formData.s_unit_design;
                this.gcctinfo.S_UNIT_BUILD = this.formData.s_unit_build;
                this.gcctinfo.S_UNIT_SUPERVISE = this.formData.s_unit_supervise;
                this.gcctinfo.N_RECKON_TOTAL_AMT = this.formData.n_reckon_total_amt;
                this.gcctinfo.REMARK = this.formData.s_remark;
            },
            showgcctMapEdit: function () {
                this.bindGCCTData();
                this.mapEditDialogVisible = true;
            },
            init: function () {
                var s_id = this.getRequest().id;
                axios.all([
                    axios.post('/FarmlandWater/GetDictionary', { Type: "工程状态" }),
                    axios.post('/FarmlandWater/GetDictionary', { Type: "街镇" }),
                    axios.post('/FarmlandWater/GetLegalPerson', null),
                    axios.post('/FarmlandWater/GetDesignUnit', null),
                    axios.post('/FarmlandWater/GetDetail', { id: s_id })
                ]).then(axios.spread(function (statusResp, townResp, personResp, unitResp,dataResp) {
                    // 上面两个请求都完成后，才执行这个回调方法
                    this.getStatus(statusResp.data)
                    this.getTown(townResp.data)
                    this.getLegalPerson(personResp.data)
                    this.getDesignUnit(unitResp.data)
                    this.getProjectData(dataResp.data);
                    this.loading.close();
                }.bind(this)))

            },
            getStatus: function (data) {
                var tempData = JSON.parse(data);
                this.StatusOption = tempData.DictionaryGetResponse.list;
            },
            getTown: function (data) {
                var tempData = JSON.parse(data);
                this.TownOption = tempData.DictionaryGetResponse.list;
            },
            getLegalPerson: function (data) {
                var tempData = JSON.parse(data);
                this.PersonOption = tempData.EnginLegalPersonListGetResponse.engin_unit_person_list;
            },
            getDesignUnit: function (data) {
                var tempData = JSON.parse(data);
                this.UnitOption = tempData.EnginUnitListGetResponse.engin_unit_person_list;
            },
            filterStatus: function (name) {
                this.StatusOption.forEach(function (value, index, array) {
                    if ('@type' == "person") {
                        this.isPersonDisable = true;
                        this.isUnitDisable = false;
                    }
                    if (value.s_cd_value == name) {
                        this.formData.N_PACE_STATUS = value.s_cd_key
                        return
                    }
                }.bind(this))
            },
            filterLegal: function (name) {
                this.PersonOption.forEach(function (value, index, array) {
                    if ('@type' == "person") {
                        this.isPersonDisable = true;
                        this.isUnitDisable = false;
                    }
                    if (value.s_name == name) {
                        this.formData.S_LEGAL_PERSON = value.s_id
                        return
                    }
                }.bind(this))
            },
            filterUnit: function (name) {
                this.UnitOption.forEach(function (value, index, array) {
                    if ('@type' == "unit") {
                        this.isPersonDisable = false;
                        this.isUnitDisable = true;
                    }
                    if (value.s_name == name) {
                        this.formData.S_UNIT_DESIGN = value.s_id
                        return
                    }
                }.bind(this))
            },
            getProjectData: function (data) {
                var tempData = JSON.parse(data);
                var replyData = tempData.EnginFarmGetResponse.info.EnginMainFarm;
                var capitalData = tempData.EnginFarmGetResponse.info.EnginInvestmentFarm;
                var investData = tempData.EnginFarmGetResponse.info.EnginInvestmentFarm;
                var finishData = tempData.EnginFarmGetResponse.info.EnginCompleteFarm;

                this.formData.S_ID = tempData.EnginFarmGetResponse.info.s_id;
                this.formData.S_NAME = tempData.EnginFarmGetResponse.info.s_name;
                this.formData.S_PROJECT_NO = tempData.EnginFarmGetResponse.info.s_project_no;
                this.formData.N_YEAR = tempData.EnginFarmGetResponse.info.n_year.toString()
                this.yYear = tempData.EnginFarmGetResponse.info.n_year.toString();
                this.formData.N_DRAFT = tempData.EnginFarmGetResponse.info.n_draft;
                this.formData.S_TOWN = tempData.EnginFarmGetResponse.info.s_town;
                this.formData.S_ADDRESS = tempData.EnginFarmGetResponse.info.s_address;
                this.formData.S_UNIT_BUILD = tempData.EnginFarmGetResponse.info.s_unit_build;
                this.formData.S_UNIT_SUPERVISE = tempData.EnginFarmGetResponse.info.s_unit_supervise;
                this.formData.N_RECKON_TOTAL_AMT = tempData.EnginFarmGetResponse.info.n_reckon_total_amt;
                this.formData.S_REMARK = tempData.EnginFarmGetResponse.info.s_remark;

                this.formData.N_GGSL = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_ggsl;
                this.formData.N_GGMJ = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_ggmj;
                this.formData.N_BZZS = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_bzzs;
                this.formData.N_BZTT = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_bztt;
                this.formData.N_DXQD = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_dxqd;
                this.formData.N_DC = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_dc;
                this.formData.N_DXH = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_dxh;
                this.formData.N_CQMQ = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_cqmq;
                this.formData.N_XFJDL = tempData.EnginFarmGetResponse.info.EnginMainFarm.n_xfjdl;

                this.formData.N_TOTAL_INVEST = capitalData.n_total_invest;
                this.formData.N_ENGIN_COST = capitalData.n_engin_cost;
                this.formData.N_INDEPENDENT_COST = capitalData.n_independent_cost;
                this.formData.N_PREP_COST = capitalData.n_prep_cost;
                this.formData.N_SIGHT_COST = capitalData.n_sight_cost;
                this.formData.N_EMPTY_AREA = capitalData.n_empty_area;
                this.formData.N_BUILD_COST = capitalData.n_build_cost;

                this.formData.N_SUBSIDY_CITY = investData.n_subsidy_city;
                this.formData.N_SUBSIDY_DISTRICT = investData.n_subsidy_district;
                this.formData.N_SUBSIDY_TOWN = investData.n_subsidy_town;

                this.formData.N_WCGGSL = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggsl;
                this.formData.N_WCGGMJ = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggmj;
                this.formData.N_WCBZZS = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bzzs;
                this.formData.N_WCBZTT = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bztt;
                this.formData.N_WCDXQD = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxqd;
                this.formData.N_WCDC = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dc;
                this.formData.N_WCDXH = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxh;
                this.formData.N_WCCQMQ = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_cqmq;
                this.formData.N_WCXFJDL = tempData.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_xfjdl;

                var files = tempData.EnginFarmGetResponse.info.FileUploaderList;

                if (tempData.EnginFarmGetResponse.info.n_pace_status == '工程完结') {
                    this.isFinish = true;
                } else {
                    this.isFinish = false;
                }
                for (var i = 0; i < files.length; i++) {
                    var temp = { name: files[i].s_file_name, url: files[i].s_path, uid: files[i].s_id }
                    if (files[i].s_type == '图纸') {
                        this.drawingFiles.push(temp);
                    }
                    if (files[i].s_type == '图片') {
                        this.pictureFiles.push(temp);
                    }
                }
                this.filterStatus(tempData.EnginFarmGetResponse.info.n_pace_status)
                this.filterLegal(tempData.EnginFarmGetResponse.info.s_legal_person);
                this.filterUnit(tempData.EnginFarmGetResponse.info.s_unit_design);
            },
            saveData: function (formName) {
                this.formData.N_YEAR = new Date(this.formData.N_YEAR).getFullYear();
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        var drawing = '';
                        var picture = '';
                        if (this.drawingFilesAdd != '') {
                            for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                                drawing = this.drawingFilesAdd[i].name + ',' + drawing
                            }
                        }
                        if (this.pictureFilesAdd != '') {
                            for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                                picture = this.pictureFilesAdd[i].name + ',' + picture
                            }
                        }
                        axios.post('/FarmlandWater/Edit', {
                            param: JSON.stringify(this.formData), drawingFiles: drawing,
                            pictureFiles: picture
                        })
                           .then(function (response) {
                               var datas = JSON.parse(response.data);
                               var tempR = datas.EnginFarmUpdateResponse.result;
                               this.formData.N_YEAR = this.yYear;
                               if (tempR) {
                                   window.location.href = "/FarmlandWater/Index";
                               } else {
                                   this.$message.error('保存失败！' + TempR);
                               }
                           }.bind(this))
                           .catch(function (error) {
                               this.formData.N_YEAR = this.yYear;
                               console.log(error);
                           });
                    } else {
                        this.formData.N_YEAR = this.yYear;
                        console.log('error submit!!');
                        return false;
                    }
                }.bind(this));
            },
            beforeAvatarUpload: function (file) {
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                if (fileType == 'exe') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeImagesUpload: function (file) {
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                if (fileType != 'png' && fileType != 'jpg' && fileType != 'jpeg' && fileType != 'gif') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeRemove: function (file, fileList) {
                if (file.status == 'ready') {
                    return;
                }
                return this.$confirm('是否确定删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    if (this.formData.remove_pic_ids == "") {
                        this.formData.remove_pic_ids = file.uid;
                    } else {
                        this.formData.remove_pic_ids += "," + file.uid
                    }
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除！'
                    });
                });
            },
            handleRemoveDrawing: function (file, fileList) {
                for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                    if (this.drawingFilesAdd[i].name == file.name) {
                        this.drawingFilesAdd.splice(i, 1);
                    }
                }
            },
            handleRemovePicture: function (file, fileList) {
                for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                    if (this.pictureFilesAdd[i].name == file.name) {
                        this.pictureFilesAdd.splice(i, 1);
                    }
                }
            },

            getDrawing: function (file, fileList) {
                this.drawingFiles = fileList;
            },
            getPicture: function (file, fileList) {
                this.pictureFiles = fileList;
            },
            handlePreview: function (file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            upSucess: function (response, file, fileList) {

                var temp = { name: file.name, url: file.url }
                this.drawingFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upSucess2: function (response, file, fileList) {
                var temp = { name: file.name, url: file.url }
                this.pictureFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upError: function (err, file, fileList) {
                this.$message.error('上传失败！' + err);
            },
            openIndex: function () {
                window.location.href = "/FarmlandWater/Index";
            },
            getRequest: function () {
                var url = window.location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            }
        },
    });
</script>


<style>
    #edit {
        font-size: 14px;
        min-width: 900px;
        overflow-x: hidden;
    }

    #formData {
        padding: 10px 20px 10px 20px;
        margin-bottom: 60px;
    }

    #edit .el-row {
        margin-bottom: 15px;
    }

    #edit .el-form-item__error {
        padding-top: 0px;
    }

    #edit .el-form-item {
        width: 100%;
    }

    #edit .el-form-item__content {
        width: 65%;
    }

    #edit input, select, textarea {
        max-width: none;
        color: #333333;
        font-size: 14px;
    }

    #edit .el-input-group__append {
        color: #333333;
        font-size: 14px;
    }

    #edit .el-textarea__inner {
        color: #333333;
        font-size: 14px;
    }

    #edit .el-form-item__label {
        color: #333333;
        font-size: 14px;
    }

    #edit .blueTitle {
        width: 7px;
        height: 18px;
        background-color: #409eff;
        float: left;
    }

    #edit .appTitle {
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        padding-left: 10px;
    }

    #edit .colCss {
        height: 35px;
    }

    #edit .selCss {
        width: 100%;
    }

    #appFiles .el-dialog__body {
        padding: 10px 5px;
    }
</style>
