
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "工程管理-文件管理";
}

<div id="app">
    <div id="appTop" style="padding-left:20px;">
        <el-form v-bind:inline="true" size="small">
            <el-form-item label="项目编号：">
                <span style="padding-right:30px;">
                    {{formData.S_PROJECT_NO}}
                </span>
            </el-form-item>
            <el-form-item label="工程分类：">
                <span style="padding-right:30px;">
                    小型农田水利
                </span>
            </el-form-item>
            <el-form-item label="工程状态：">
                <span style="padding-right:30px;">
                    <el-select class="selCss" v-model="formData.N_PACE_STATUS" v-bind:disabled="isFinish">
                        <el-option v-for="item in StatusOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                        </el-option>
                    </el-select>
                </span>
            </el-form-item>
        </el-form>

    </div>
    <div id="appFile">
        <el-collapse accordion v-on:change="changeSel" v-bind:value="Status">
            <el-collapse-item name="工前准备">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">工前准备</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                @*<el-button type="primary" class="btnUp" v-bind:disabled="isFinish"></el-button>*@
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
            <el-collapse-item name="开工">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">开工</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                @*<el-button type="primary" class="btnUp" v-bind:disabled="isFinish"></el-button>*@
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
            <el-collapse-item name="完工">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">完工</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                @*<el-button type="primary" class="btnUp" v-bind:disabled="isFinish"></el-button>*@
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
            <el-collapse-item name="完工验收">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">完工验收</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                @*<el-button type="primary" class="btnUp" v-bind:disabled="isFinish"></el-button>*@
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
            <el-collapse-item name="决算审批">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">决算审批</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                @*<el-button type="primary" class="btnUp" v-bind:disabled="isFinish"></el-button>*@
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
            <el-collapse-item name="竣工验收">
                <template slot="title">
                    <div class="blueTitle"></div>
                    <div class="appTitle">竣工验收</div>
                </template>
                <div>
                    <el-table v-bind:data="projectFile" border stripe style="width: 100%" max-height="300" class="tableCss">
                        <el-table-column type="index" label="序号" header-align="center" align="center" width="60"></el-table-column>
                        <el-table-column prop="s_file_name" label="文件名称" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_person" label="上传人" header-align="center" align="center"></el-table-column>
                        <el-table-column prop="s_create_time" label="上传时间" header-align="center" align="center"></el-table-column>
                        <el-table-column label="操作" header-align="center" align="center" width="200">
                            <template slot-scope="scope">
                                @*<el-button size="mini" class="btnCss btnDownload"></el-button>*@
                                <el-button size="mini" type="primary" v-on:click="downloadFile(scope.row.s_path,scope.row.s_file_name)">下载</el-button>
                                <el-button size="mini" type="danger" v-bind:disabled="isFinish" v-on:click="deleteFiles(scope.row.s_id)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
                <el-upload class="upload-demo"
                           ref="upload"
                           action="/FarmlandWater/UpFiles"
                           v-bind:on-preview="handlePreview"
                           v-bind:on-remove="handleRemove"
                           v-bind:on-change="getFile"
                           v-bind:on-success="sucess"
                           v-bind:show-file-list="false"
                           v-bind:disabled="isFinish"
                           v-bind:before-upload="beforeAvatarUpload">
                    <el-button slot="trigger" size="small" type="primary" class="btnUpp" v-bind:disabled="isFinish">上传文件<i class="el-icon-upload el-icon--right"></i></el-button>
                    <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                </el-upload>
            </el-collapse-item>
        </el-collapse>
    </div>
    <div id="appBtn" style="width:100%;text-align:center;position:fixed;bottom:0;left:0;height:60px;">
        <el-button plain v-on:click="openIndex" size="small">取消</el-button>
        <el-button type="primary" v-on:click="saveStatus" v-bind:disabled="isFinish" size="small">保存</el-button>
        <el-button type="primary" v-show="isShow" v-on:click="projectFinish" v-bind:disabled="isFinish">工程完结</el-button>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            ID: '',
            StatusOption: [],
            projectFile: [],
            height: '200',
            tableData: [],
            isFinish: false,
            isShow: false,
            tableName: '',
            Status: '',
            formData: {
                S_ID: '',
                S_NAME: '',
                S_PROJECT_NO: '',
                N_TYPE: '',
                N_YEAR: '',
                N_PACE_STATUS: 0,
                S_TOWN: '',
                S_ADDRESS: '',
                S_LEGAL_PERSON: '',
                S_UNIT_DESIGN: '',
                S_UNIT_BUILD: '',
                S_UNIT_SUPERVISE: '',
                N_RECKON_TOTAL_AMT: '',
                S_REMARK: '',
                N_GGSL: '',
                N_GGMJ: '',
                N_BZZS: '',
                N_BZTT: '',
                N_DXQD: '',
                N_DC: '',
                N_DXH: '',
                N_CQMQ: '',
                N_XFJDL: '',
                N_TOTAL_INVEST: '',
                N_ENGIN_COST: '',
                N_INDEPENDENT_COST: '',
                N_PREP_COST: '',
                N_SIGHT_COST: '',
                N_SUBSIDY_CITY: '',
                N_SUBSIDY_DISTRICT: '',
                N_SUBSIDY_TOWN: '',
                N_WCGGSL: '',
                N_WCGGMJ: '',
                N_WCBZZS: '',
                N_WCBZTT: '',
                N_WCDXQD: '',
                N_WCDC: '',
                N_WCDXH: '',
                N_WCCQMQ: '',
                N_WCXFJDL: '',
            },
            kkkk:0
        },
        components: {

        },
        mounted: function () {
            this.ID = this.GetId().id;
            this.getStatus("/FarmlandWater/GetDictionary", { Type: "工程状态" });
            this.getDetail('/FarmlandWater/GetDetail', { id: this.ID });
        },
        methods: {
            getStatus: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.StatusOption = tempData.DictionaryGetResponse.list;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getDetail: function (url, id) {
                axios.post(url, id)
                  .then(function (response) {
                      var li = JSON.parse(response.data);
                  
                      this.num = li.EnginFarmGetResponse.info.s_project_no;
                      this.type = li.EnginFarmGetResponse.info.n_type;
                      this.Status = li.EnginFarmGetResponse.info.n_pace_status;
                      this.tableName = li.EnginFarmGetResponse.info.n_pace_status;
                      this.getProjectFile('/FarmlandWater/GetProjectFileData', { id: this.ID, s_type: this.Status });

                      this.formData.S_ID = li.EnginFarmGetResponse.info.s_id;
                      this.formData.S_NAME = li.EnginFarmGetResponse.info.s_name;
                      this.formData.S_PROJECT_NO = li.EnginFarmGetResponse.info.s_project_no;
                      this.formData.N_TYPE = li.EnginFarmGetResponse.info.n_type;
                      this.formData.N_YEAR = li.EnginFarmGetResponse.info.n_year;
                      this.formData.S_TOWN = li.EnginFarmGetResponse.info.s_town;
                      this.formData.S_ADDRESS = li.EnginFarmGetResponse.info.s_address;
                      this.formData.S_LEGAL_PERSON = li.EnginFarmGetResponse.info.s_legal_person;
                      this.formData.S_UNIT_DESIGN = li.EnginFarmGetResponse.info.s_unit_design;
                      this.formData.S_UNIT_BUILD = li.EnginFarmGetResponse.info.s_unit_build;
                      this.formData.S_UNIT_SUPERVISE = li.EnginFarmGetResponse.info.s_unit_supervise;
                      this.formData.N_RECKON_TOTAL_AMT = li.EnginFarmGetResponse.info.n_reckon_total_amt;
                      this.formData.S_REMARK = li.EnginFarmGetResponse.info.s_remark;

                      this.formData.N_GGSL = li.EnginFarmGetResponse.info.EnginMainFarm.n_ggsl;
                      this.formData.N_GGMJ = li.EnginFarmGetResponse.info.EnginMainFarm.n_ggmj;
                      this.formData.N_BZZS = li.EnginFarmGetResponse.info.EnginMainFarm.n_bzzs;
                      this.formData.N_BZTT = li.EnginFarmGetResponse.info.EnginMainFarm.n_bztt;
                      this.formData.N_DXQD = li.EnginFarmGetResponse.info.EnginMainFarm.n_dxqd;
                      this.formData.N_DC = li.EnginFarmGetResponse.info.EnginMainFarm.n_dc;
                      this.formData.N_DXH = li.EnginFarmGetResponse.info.EnginMainFarm.n_dxh;
                      this.formData.N_CQMQ = li.EnginFarmGetResponse.info.EnginMainFarm.n_cqmq;
                      this.formData.N_XFJDL = li.EnginFarmGetResponse.info.EnginMainFarm.n_xfjdl;

                      this.formData.N_TOTAL_INVEST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_total_invest;
                      this.formData.S_UNIT_DESIGN = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_engin_cost;
                      this.formData.N_INDEPENDENT_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_independent_cost;
                      this.formData.N_PREP_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_prep_cost;
                      this.formData.N_SIGHT_COST = li.EnginFarmGetResponse.info.EnginInvestmentFarm.n_sight_cost;
                      this.formData.N_SUBSIDY_CITY = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_city;
                      this.formData.N_SUBSIDY_DISTRICT = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_district;
                      this.formData.N_SUBSIDY_TOWN = li.EnginFarmGetResponse.info.EnginCapitalFarm.n_subsidy_town;
                      this.formData.N_WCGGSL = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggsl;
                      this.formData.N_WCGGMJ = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_ggmj;
                      this.formData.N_WCBZZS = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bzzs;
                      this.formData.N_WCBZTT = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_bztt;
                      this.formData.N_WCDXQD = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxqd;
                      this.formData.N_WCDC = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dc;
                      this.formData.N_WCDXH = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_dxh;
                      this.formData.N_WCCQMQ = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_cqmq;
                      this.formData.N_WCXFJDL = li.EnginFarmGetResponse.info.EnginCompleteFarm.n_complete_xfjdl;

                      if (li.EnginFarmGetResponse.info.n_pace_status == '工程完结') {
                          this.isFinish = true;
                      } else {
                          this.isFinish = false;
                      }
                      //this.kkkk = this.StatusToNum(li.EnginFarmGetResponse.info.n_pace_status);
                      this.StatusToNum(li.EnginFarmGetResponse.info.n_pace_status);
                      
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            changeSel: function (name) {
                this.tableName = name;
                this.getProjectFile('/FarmlandWater/GetProjectFileData', { id: this.ID, s_type: name });
            },
            getProjectFile: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.projectFile = tempData.EnginFileManagerListGetResponse.file_list;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            beforeAvatarUpload: function (file) {
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                if (fileType == 'exe') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            handleRemove: function (file, fileList) {
                console.log(file, fileList);
            },
            handlePreview: function (file, fileList) {
                console.log(file);
            },
            getFile: function (file, fileList) {
                console.log(file);
            },
            sucess: function (response, file, fileList, data) {
                if (response == "OK") {
                    this.saveFiles("/FarmlandWater/SaveOneFile", { id: this.ID, Files: file.name, Type: this.tableName });
                }
            },
            saveFiles: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      if (tempData.EnginFileManagerReportResponse.result) {
                          this.$message({
                              message: '上传成功！',
                              type: 'success'
                          });
                      } else {
                          this.$message.error('上传失败！' + tempData.EnginFileManagerReportResponse.result);
                      }
                      this.getProjectFile('/FarmlandWater/GetProjectFileData', { id: this.ID, s_type: this.tableName });
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            deleteFiles: function (id) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    axios.post("/FarmlandWater/DeleteFile", { file_ids: id })
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      if (tempData.EnginFileDelResponse.result) {
                          this.$message({
                              type: 'success',
                              message: '删除成功!'
                          });
                      } else {
                          this.$message.error('删除失败！' + tempData.EnginFileDelResponse.result);
                      }
                      this.getProjectFile('/FarmlandWater/GetProjectFileData', { id: this.ID, s_type: this.tableName });
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });


            },
            GetId: function () {
                var url = window.location.search;
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {
                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);
                    }
                }
                return theRequest;
            },
            downloadFile: function (url, name) {
                var $a = document.createElement('a');
                $a.setAttribute("href", url);
                $a.setAttribute("download", name);
                var evObj = document.createEvent('MouseEvents');
                evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
                $a.dispatchEvent(evObj);
            },
            downloadFile2: function (url, name) {
                window.location.href = '/Uploader/Download?pathid=1';
            },
            saveStatus: function () {

                //this.formData.N_PACE_STATUS = this.kkkk;
                axios.post('/FarmlandWater/SaveProjectStatus', { param: JSON.stringify(this.formData) })
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      if (tempData.EnginFarmUpdateResponse.result) {
                          this.$message({
                              message: '保存成功！',
                              type: 'success'
                          });
                      } else {
                          this.$message.error('保存失败！' + tempData.EnginFileDelResponse.result);
                      }
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },

            projectFinish: function () {
                this.isFinish = true;
            },
            openIndex: function () {
                    window.location = "Index";
            },
            StatusToNum: function (status) {
                switch (status) {
                    case '工前准备':
                        this.formData.N_PACE_STATUS = 1;
                        break;
                    case '开工':
                        this.formData.N_PACE_STATUS = 10;
                        break;
                    case '完工':
                        this.formData.N_PACE_STATUS = 20;
                        break;
                    case '完工验收':
                        this.formData.N_PACE_STATUS = 30;
                        break;
                    case '决算审批':
                        this.formData.N_PACE_STATUS = 40;
                        break;
                    case '竣工验收':
                        this.formData.N_PACE_STATUS = 50;
                        break;
                    case '工程完结':
                        this.formData.N_PACE_STATUS = 60;
                        break;
                    default:
                        break;
                }
            },
        },
        watch: {
           
        }
    })
</script>

<style>
    #app {
        padding: 20px;
        font-size: 14px;
    }

    #appFile .tableCss th {
        background-color: #F5F5F5;
    }
    
    #appFile {
        margin-bottom:60px;
    }
    #appTop .selCss {
        width: 120px;
    }

    #app .titleCss {
        overflow: hidden;
    }

    #app .blueTitle {
        width: 7px;
        height: 18px;
        background-color: #409eff;
        float: left;
        margin-top: 12px;
    }

    #app .appTitle {
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        padding-left: 10px;
    }
    #app .appBtn {
        width: 100%;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 60px;
        line-height: 60px;
    }
    #app .btnUpp {
        margin: 10px 0 10px 0;
    }

    #app .btnUp {
        width: 100px;
        height: 32px;
        float: left;
        margin: 10px 0 10px 0;
        border: 0px;
        background-image: url(/Images/gcgl/btn_shangchuanwj_normal.png);
    }

        #app .btnUp:focus {
            background-image: url(/Images/gcgl/btn_shangchuanwj_normal.png);
        }

        #app .btnUp:hover {
            background-image: url(/Images/gcgl/btn_shangchuanwj_active.png);
        }
</style>