@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "农田水利管理页面";
}
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <farmlandwater-query v-on:emit-event="getEmitEvent" ref="farmlandwaterQuery"></farmlandwater-query>

    <div id="table" style="padding-top: 10px; text-align: center;">
        <el-table v-bind:data="tableData" border v-bind:height="height">
            <el-table-column type="index" label="序号" v-bind:index="(currentPage-1)*pagesize+1" header-align="center" align="center" width="60"> 
            </el-table-column>
            <el-table-column prop="n_year" label="年度" width="80;" header-align="center">
            </el-table-column>
            <el-table-column header-align="center"
                             label="工程名称">
                <template slot-scope="scope">
                    <a v-on:click="getDetail(scope.row.s_id)">{{ scope.row.s_name }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="s_project_no" label="项目编号" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="n_pace_status" label="工程状态" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="s_town" label="所属镇" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="s_unit_design" label="设计单位" width="200" header-align="center">

            </el-table-column>
            <el-table-column label="操作" width="260" header-align="center">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="info" v-on:click="openFileManage(scope.row.s_id)">文件管理</el-button>
                    <el-button size="mini" type="danger" v-on:click="handleDel(scope.row.s_id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-form v-bind:inline="true" label-position="right" size="small">
            <div style="text-align:right;">
                <el-form-item>
                    <el-pagination @@size-change="sizeChange" @@current-change="currentChange"  layout="total, sizes, prev, pager, next, jumper" v-bind:current-page.sync="currentPage" v-bind:page-sizes="[10, 20, 30, 40]" v-bind:page-size="pagesize" v-bind:total="total">
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>

@Html.Partial("~/Views/FarmlandWater/components/query.cshtml")

<script>
    new Vue({
        el: '#app',
        data: {
            height: 0,
            total: 0, //默认数据总数
            pagesize: 20,//每页的数据条数
            currentPage: 1,//默认开始页面
            height: 0,
            tableData: [],
            params: [],
            delForm: {
                S_ID: '',
                S_NAME: '',
                S_PROJECT_NO: '',
                N_YEAR: '',
                N_PACE_STATUS: '',
                S_TOWN: '',
                S_ADDRESS: '',
                S_LEGAL_PERSON: '',
                S_UNIT_DESIGN: '',
                S_UNIT_BUILD: '',
                S_UNIT_SUPERVISE: '',
                N_RECKON_TOTAL_AMT: '',
                S_REMARK: '',
                N_GGSL: '',
                N_GGMJ: '',
                N_BZZS: '',
                N_BZTT: '',
                N_DXQD: '',
                N_DC: '',
                N_DXH: '',
                N_CQMQ: '',
                N_XFJDL: '',
                N_TOTAL_INVEST: '',
                N_ENGIN_COST: '',
                N_INDEPENDENT_COST: '',
                N_PREP_COST: '',
                N_SIGHT_COST: '',
                N_SUBSIDY_CITY: '',
                N_SUBSIDY_DISTRICT: '',
                N_SUBSIDY_TOWN: '',
                N_WCGGSL: '',
                N_WCGGMJ: '',
                N_WCBZZS: '',
                N_WCBZTT: '',
                N_WCDXQD: '',
                N_WCDC: '',
                N_WCDXH: '',
                N_WCCQMQ: '',
                N_WCXFJDL: '',
            }
        },
        components: {
            "farmlandwater-query": query
        },
        mounted: function () {
            this.setSize() 
            this.resize()
            
        },
        methods: {
            getEmitEvent: function (param) {
                this.setData('/FarmlandWater/GetTabData', {
                    page:this.currentPage, pagesize: this.pagesize, sYear: param.sYear, eYear: param.eYear, status: param.status, town: param.town
                });
            },
            getDetail: function (id) {
                window.location.href = '/FarmlandWater/DetailPage?id=' + id;
            },
            setData: function (url, param) {
                this.params = param;
                this.setTableData(url, param);
            },

            setTableData: function (url, param) {
                axios.post(url, param)
                 .then(function (response) {
                     var li = JSON.parse(response.data);
                     var datas = li.EnginListGetResponse.engin_list;
                     this.tableData = datas;
                     this.total = li.EnginListGetResponse.totalCount;
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            openFileManage: function (id) {
                window.location.href = '/FarmlandWater/FileManage?id=' + id;

            },
            handleEdit: function (index, row) {
                window.location.href = "/FarmlandWater/EditPage?id=" + row.s_id;
            },
            handleDel: function (id) {
                    this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(function () {
                        this.delForm.S_ID = id;
                        axios.post("/FarmlandWater/DelData", { id: this.delForm.S_ID })
                      .then(function (response) {
                          var tempData = JSON.parse(response.data);
                          if (tempData.EnginFarmUpdateResponse.result) {
                              this.$message({
                                  type: 'success',
                                  message: '删除成功!'
                              });
                          } else {
                              this.$message.error('删除失败！' + tempData.EnginFarmUpdateResponse.result);
                          }
                          this.setData('/FarmlandWater/GetTabData',this.params);
                      }.bind(this))
                      .catch(function (error) {
                          console.log(error);
                      });
                    }.bind(this)).catch(function () {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
            },
            currentChange: function (val) {
                this.params.page = val;
                 this.setData('/FarmlandWater/GetTabData', this.params);
            },

            sizeChange: function (pagesize) {
                this.currentPage = pagesize;
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.farmlandwaterQuery.$el.clientHeight
                var contentH = docH - queryH - 66
                this.height = contentH;
            }
        }
    });
</script>

<style>
    .pagefloat {
        float: left;
    }
    #table a{
        text-decoration:none;
        font-size:14px;
        color:#2288f1;
        cursor:pointer;
    }
</style>