
@{
    ViewBag.Title = "单河道水质统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <singlechannelsztj-query v-on:emit-event="getEmitEvent" ref="SingleChannelsztjQuery"></singlechannelsztj-query>
    <div id="tableData">
        <template>
            <el-table v-bind:data="tableData"
                      v-bind:height="height"
                      stripe
                      border
                      style="width: 100%;"
                      class="tableCss">
                <el-table-column type="index"
                                 label="序号"
                                 width="60" 
                                 header-align="center"
                                 align="center" >
                </el-table-column>
                <el-table-column prop="hdid"
                                 label="河道编号"
                                 header-align="center"
                                 align="center" >
                </el-table-column>
                <el-table-column prop="name"
                                 label="河道名称"
                                 header-align="center" 
                                 align="left"> 
                </el-table-column>
                <el-table-column prop="hz"
                                 label="河长"
                                 header-align="center"
                                 align="left">
                </el-table-column>
                <el-table-column prop="dm"
                                 label="断面名称" 
                                 header-align="center"
                                 align="left">
                </el-table-column>
                <el-table-column prop="ssz"
                                 label="所属镇"
                                 header-align="center"
                                 align="center">
                </el-table-column>
                <el-table-column label="水质类别" 
                                 header-align="center"
                                 align="left">
                    <template scope="scope">
                        <span style="color:#20a335" v-if="scope.row.s_type=== 'Ⅱ'"><img src="~/Images/swzxt/Ⅱ类.png" class="typeImg" />{{scope.row.s_type}}</span>
                        <span style="color:#f30303" v-else-if="scope.row.s_type=== 'Ⅲ'"><img src="~/Images/swzxt/Ⅲ类.png" class="typeImg" />{{scope.row.s_type}}</span>
                        <span style="color:#f6c503" v-else-if="scope.row.s_type=== 'Ⅳ'"><img src="~/Images/swzxt/Ⅳ类.png" class="typeImg" />{{scope.row.s_type}}</span>
                        <span style="color:#f42d8e" v-else-if="scope.row.s_type=== 'Ⅴ'"><img src="~/Images/swzxt/Ⅴ类.png" class="typeImg" />{{scope.row.s_type}}</span>
                        <span style="color:#343434" v-else-if="scope.row.s_type=== '劣Ⅴ'"><img src="~/Images/swzxt/劣Ⅴ类.png" class="typeImg" />{{scope.row.s_type}}</span>
                        <span v-else>-</span>
                    </template>
                </el-table-column>
            </el-table>
        </template>
      
    </div>
    <div style="text-align:left;padding-top:10px;">
        <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" v-bind:current-page.sync="currentPage" v-bind:page-size="pageSize" v-bind:page-sizes="[10, 20, 30, 40, 50]" v-bind:total="total">
        </el-pagination>
    </div>
   
</div>

@Html.Partial("~/Views/SingleChannelSztj/components/query.cshtml")



<script>
    new Vue({
        el: "#app",
        data: {
            styles: {
                width: '90%',
                height: '0px',
                float: 'left',
            },
            height: '0',
            //tableData: [],
            tableData: [{ 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': 'Ⅲ' },
                      { 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': 'Ⅱ' },
                      { 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': 'Ⅳ' },
                      { 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': '劣Ⅴ' },
                      { 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': 'Ⅱ' },
                      { 'hdid': 'SHFXHD0010213678', 'name': '张翁庙机口河', 'hz': '王大锤', 'dm': '大菜场横泾港桥', 'ssz': '南桥镇', 's_type': 'Ⅴ' }],
            total: 0, //默认数据总数
            pageSize: 10,//每页的数据条数
            currentPage: 1,//默认开始页面
            params: []
        },
        components: {
            "singlechannelsztj-query": query, 
        },
        mounted: function () { 
            setTimeout(function () {
                this.setSize();
            }.bind(this), 200)
            this.resize();
            //this.setTableData('/SingleChannelSztj/GetProjectData', { Page: this.currentPage, pageSize: this.pageSize, startYear: moment().format("YYYY"), endYear: moment().format("YYYY"), Status: '', Town: '', NameNum: '' });
            ////this.$refs.smallQuery.gStatus   this.$refs.smallQuery.gTown
        },
        methods: {
            indexMethod: function (index) {
                return (index + 1) + (this.currentPage - 1) * this.pageSize;
            },
          
            getEmitEvent: function (param) {
                //this.setTableData('/SingleChannelSztj/GetProjectData', {
                //    Page: this.currentPage, pageSize: this.pageSize, startYear: param.startYear, endYear: param.endYear, Status: param.Status, Town: param.Town, NameNum: param.NameNum,
                //});
            },
            setTableData: function (url, param) {
                this.params = param;
                axios.post(url, param)
                  .then(function (response) {
                      //this.loading = false;
                      //    var tempData = JSON.parse(response.data);
                      //    //var datas = tempData.EnginListGetResponse.engin_list;
                      //    this.tableData = tempData.EnginListGetResponse.engin_list;
                  } .bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });

            },
            currentChange: function (val) {
                this.currentPage = val;
                this.params.Page = val;
                this.setTableData('/SingleChannelSztj/GetProjectData', this.params)
            },

            sizeChange: function (val) {
                this.pageSize = val;
                this.params.pageSize = val;
                this.setTableData('/SingleChannelSztj/GetProjectData', this.params)
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.SingleChannelsztjQuery.$el.clientHeight
                var contentH = docH - queryH - 40
                this.height = contentH - 5
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
        }

    })
</script>


<style scoped>
    #tableData th {
        background-color: #F5F5F5;
    }
     #app .typeImg {
        width:13px;
        height:15px;
    }
</style>