<script type="text/x-template" id="addPage">
    <div id="addpage">
        <el-dialog title="新增设计单位" v-bind:visible.sync="addDialogVisible" v-bind:before-close="handleClose">
            <div class="titlebg"></div>
            <div id="jbxx" style="margin-top:-20px;">
                <div class="jbxxTitle">基本信息:</div>
                <span>设计单位名称:</span>
                <el-input placeholder="请输入设计单位名称" prefix-icon="el-icon-search" size="small" v-model="sjdwmc">
                </el-input>
                <span class="distance" style="width:170px;">账号:</span>
                <el-input placeholder="请输入账号" prefix-icon="el-icon-search" size="small" v-model="account">
                </el-input>
                <span class="distance" style="width:170px;">密码:</span>
                <el-input placeholder="请输入密码" type="password" prefix-icon="el-icon-search" size="small" v-model="password">
                </el-input>
            </div>
            <div id="gzsx" style="margin-top:10px;">
                <div class="gzsxTitle">工程筛选:</div>
                <span>年度:</span>
                <el-date-picker v-model="yearVlue" type="year" placeholder="选择年份" value-format="yyyy" size="small" style="width:100px;">
                </el-date-picker>
                <span class="distance">所属镇:</span>
                <el-select v-model="town" placeholder="请选择" size="small" style="width:150px;">
                    <el-option v-for="item in towns"
                               v-bind:value="item">
                    </el-option>
                </el-select>
                <span class="distance">工程分类:</span>
                <el-select v-model="nowPrjClass" placeholder="请选择" size="small" style="width:150px;">
                    <el-option v-for="item in projectsClass" v-bind:value="item.value" v-bind:key="item.key">
                    </el-option>
                </el-select>
                <el-button type="primary" icon="el-icon-search" class="btnSel" plain v-on:click="queryProjct_add">查询</el-button>
            </div>
            <el-transfer v-model="selectedProjecKey" v-bind:data="allProjectsNameData" v-bind:titles="projectTitiles"    @*v-bind:left-default-checked="[2, 3,10,15]"*@>

            </el-transfer>
            <div class="gnDiv">
                <el-button type="primary" plain class="lastBtn" v-on:click="addDialogVisible=!addDialogVisible">取消</el-button>
                <el-button type="primary" plain class="lastBtn" v-on:click="saveAddInfo">保存</el-button>
            </div>
        </el-dialog>
    </div>
</script>
<script>
    var addPage = {
        template: "#addPage",
        data: function () {
            return {
                addDialogVisible: false,
                yearVlue: moment().format('YYYY'),
                towns: ['奉贤区', '庄行镇', '柘林镇', '南桥镇', '青村镇', '金汇镇', '奉城镇', '四团镇', '海湾镇','西渡街道 ','奉浦街道','金海社区','海湾旅游区'],
                town: "奉贤区",
                projectsClass: [{ key: 1, value: '骨干河道' }, { key: 2, value: '中小河道' }, { key: 3, value: '小型农田水利' }, { key: 4, value: '农村生活污水' }, { key: 5, value: '其他水利工程' }],  //工程类别
                nowPrjClass: "骨干河道",
                /*projectsName: ['奉贤农田水利工程(2018061511101)', '奉贤农田水利工程2', '奉贤农田水利工程3', '奉贤农田水利工程4', '奉贤农田水利工程5', '奉贤农田水利工程6', '奉贤农田水利工程7', '奉贤农田水利工程8', '奉贤农田水利工程9', '奉贤农田水利工程10', '奉贤农田水利工程11', '奉贤农田水利工程12', '奉贤农田水利工程13', '奉贤农田水利工程14', '奉贤农田水利工程15', '奉贤农田水利工程16', '奉贤农田水利工程17', '奉贤农田水利工程18', '奉贤农田水利工程19', '奉贤农田水利工程20'], */
                allNoChoiceProject:[],//所有查询到的没有被选择的工程信息
                allProjectsNameData: [],   //所有的工程（未选和已选）的名字
                selectedProjecKey: [], //已被选中的工程的key
                projectTitiles: ["待选工程", "已选工程"],
                sjdwmc: "",
                account: "",
                password: "",
            }
        },
        components: {
        },
        mounted: function () {
           
        },
        methods: {
            handleClose:function(done) {
                done();
               /* this.$confirm('确认关闭？') .then(function(){
                      done();
                }).catch(function () {

                });*/
            },
            //保存新增设计单位信息
            saveAddInfo: function () {
                debugger;
                const vm = this;
                var sjdwname=this.sjdwmc;  //新增设计单位名称
                var sjdwzh=this.account ;   //账号
                var sjdwpwd=this.password;   //密码
                var selectedProjectid = [];     //设计单位选择的工程id
                for (var i = 0; i < vm.selectedProjecKey.length; i++) {
                    var index = vm.selectedProjecKey[i];
                    selectedProjectid.push(vm.allNoChoiceProject[index].s_id);
                }
                selectedProjectid = selectedProjectid.join(',')
                if (sjdwname == "" || sjdwzh == "" || sjdwpwd == "") {
                    vm.$message("名称、账号或者密码为空,请完善信息");
                    return;
                }
                axios.post("/DesignOrganizationManger/addDesignOrganization", { s_name: sjdwname, s_account: sjdwzh, s_password: sjdwpwd, s_engin: selectedProjectid }).then(function (response) {
                    debugger;
                    var result = JSON.parse(response.data).EnginUnitCreateResponse.result;
                    if (result) {
                        vm.$message("新增成功!");
                        vm.$emit("refresh-event");
                    } else {
                        debugger;
                        var error = JSON.parse(response.data).EnginUnitCreateResponse.ErrCode;
                        vm.$message("新增失败，"+error+"!");
                    }
                });
            },
            queryProjct_add: function () {
                const vm = this;
                var year = this.yearVlue;             //年份
                var town = this.town;                //街镇
                if (town == "奉贤区") {
                    town = "";
                }
                var gcClass = this.nowPrjClass;  //工程类别
                var gckey = "1";   //骨干河道
                switch (gcClass) {
                    case "中小河道": gckey = "2";
                        break;
                    case "小型农田水利": gckey = "3";
                        break;
                    case "农村生活污水": gckey = "4";
                        break;
                    case "其他水利工程": gckey = "5";
                        break;
                }
                axios.post("/DesignOrganizationManger/getUnselectedProject", { s_town: town, n_type: gckey, n_year: year, unit_or_person: "unit" }).then(function (response) {
                    //获取未关联的工程(没有被任何设计单位关联的工程)
                    debugger;
                    vm.allNoChoiceProject = [];  //所有没有被选择的工程的所有信息
                    vm.allProjectsNameData = []; //所有工程的名字信息
                    vm.selectedProjecKey = [];   //已经被选择的工程的key;
                    var resultData = JSON.parse(response.data).EnginNoChoiceGetResponse.engin_choice_list;         
                    vm.allNoChoiceProject = resultData;  
                    for (var i = 0; i < vm.allNoChoiceProject.length; i++) {
                        vm.allProjectsNameData.push(
                            {
                                key: i,
                                label: vm.allNoChoiceProject[i].s_name
                            });
                    }
                 
                });
            }
        }
    }
</script>
<style scoped>
    .el-dialog {
        height: 630px;                 
        width: 814px;
    }

    .el-dialog__header {
        background-color: #2288f1;
        padding: 6px 20px;
        font-size: 14px;
    }

    .titlebg {
        background-color: white;
        width: 3px;
        height: 14px;
        position: absolute;
        top: 11px;
        left: 9px;
    }

    .el-dialog__headerbtn .el-dialog__close {
        color: white;
    }

        .el-dialog__headerbtn .el-dialog__close:hover {
            color: white;
            background-color: #6eb1f6;
        }

    .el-dialog__headerbtn {
        top: 10px;
        right: 10px;
    }

    .el-dialog__title {
        color: white;
        font-size:14px;
    }

    .el-dialog__body {
        margin-left: 6px;
    }

    #jbxx .el-input--small {
        width: 180px;
    }

    #addpage {
        font-size: 14px;
        font-family: 'Microsoft YaHei';
        color: #666666;
    }

        #addpage .jbxxTitle, .gzsxTitle {
            font-weight: bold;
            margin-bottom: 5px;
        }

    .distance {
        margin-left: 25px;
    }

    #addpage .btnSel {
        padding: 8px 12px;
        margin-left: 15px;
    }

    #addpage .el-transfer-panel {
        width: 320px;
        height: 360px;
    }

    #addpage .el-transfer-panel__list {
        height: 320px;
    }

    #addpage .el-transfer {
        margin-top: 16px;
    }

    #addpage .lastBtn {
        padding: 8px 20px;
    }

    .gnDiv {
        margin: 20px 0 0 290px;
    }
</style>
