
<script type="text/x-template" id="defaultPage">
    <div id="defaultpage">
        <div id="queryhead">
            <el-form v-bind:inline="true" size="small">
                <el-form-item>
                    <el-input v-bind:placeholder="promptMessage" prefix-icon="el-icon-search" size="small" ref="inputSjdw" v-model="sjdwName">
                    </el-input>
                </el-form-item>
                <el-form-item style="padding-left:20px;">
                    <el-button type="primary" icon="el-icon-search" class="btnSel"  v-on:click="queryDesignOrganization">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="btnAdd" v-on:click="showAddPage"></el-button>
                    <el-button type="primary" class="btnDown"></el-button>
                    <el-button type="primary" class="btnImport"></el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-upload2"  size="small" plain>导出</el-button>
                </el-form-item>            
            </el-form>           
        </div>
        <el-table v-bind:data="sjdwData" highlight-current-row v-bind:border='true' v-bind:height="tableHeight" v-bind:stripe="true" ref="sjdwtable">
            <el-table-column type="index" v-bind:index="indexOrder" width="100" label='序号' header-align="center" align="center">
            </el-table-column>
            <el-table-column property="s_name" label="设计单位名称" header-align="center" align="left">
            </el-table-column>
            <el-table-column property="s_account" label="账号" header-align="center" align="left">
            </el-table-column>
            <el-table-column property="engin_name" label="关联未完结工程" header-align="center" align="left">
            </el-table-column>
            <el-table-column property="cz" label="操作" header-align="center" align="center">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="showEditPage(scope)">编辑</el-button>
                    <el-button size="mini" type="danger" v-on:click="deletDesignOrganization(scope)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination layout="total, sizes, prev, pager, next, jumper" v-on:size-change="pagesize_Change" v-on:current-change="current_change" v-bind:current-page="currentPage" v-bind:page-sizes="[2, 3, 4, 5,6,7,8,9,10,11,12,13,14]" v-bind:page-size="pagesize" v-bind:total="sjdwTotalCount">
        </el-pagination>
    </div>
</script>
<script>
    var defaultPage = {
        template: "#defaultPage",
        data: function () {
            return {
                promptMessage: "请输入设计单位名称",
                sjdwData: [{
                    id: "0gdhsh44444hhedh",
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: "mima0",
                    nf: "2017",
                    town: "拓林",
                    gzclass: "骨干河道",


                }, {
                    id: "1gdhsh44444hhedh",
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima1',
                    nf: "2018",
                    town: "海湾",
                    gzclass: "骨干河道",
                }, {
                    id: "2gdhsh44444hhedh",
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima2',
                    nf: "2010",
                    town: "庄行",
                    gzclass: "骨干河道",
                }, {
                    id: "3gdhsh44444hhedh",
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima3',
                    nf: "2014",
                    town: "南桥",
                    gzclass: "骨干河道",

                }, {
                    sjdwmc: "上海网波软件",
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    nf: "2015",
                    town: "金汇",
                    gzclass: "骨干河道",

                }, {
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima5',
                    nf: "2015",
                    town: "拓林",
                    gzclass: "骨干河道",

                }, {
                    s_name: "上海网波软件股份有限公司",
                    s_account: "wavenet2018",
                    engin_name: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima6',
                    nf: "2015",
                    town: "拓林",
                    gzclass: "骨干河道",

                }, {
                    sjdwmc: "上海股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima7',
                    nf: "2015",
                    town: "拓林",
                    gzclass: "骨干河道",

                }, {
                    sjdwmc: "上海税务局",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima8',
                    nf: "2015",
                    town: "拓林",
                    gzclass: "骨干河道",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima9'

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima10'

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima11'

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",
                    mm: 'mima12'

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, {
                    sjdwmc: "上海网波软件股份有限公司",
                    zh: "wavenet2018",
                    glgz: "奉贤一期、奉贤二期、奉贤三期",

                }, ],
                sjdwTotalCount: 0,
                currentPage: 1,
                pagesize: 6,
                addpage_visible: false,
                editpage_visible: false,
                nowEditData: null,//当前编辑的数据
                tableHeight: document.documentElement.clientHeight - (53 + 34),
                sjdwName: "",
            }
        },
        components: {

        },
        mounted: function () {
            const vm = this;
            $(window).resize(function () {
                vm.tableHeight = document.documentElement.clientHeight - (53 + 34);
            })
            vm.queryDesignOrganization();
        },
        methods: {
            indexOrder: function (index) {
                var beginIndex = index + 1 + (this.currentPage - 1) * this.pagesize;
                return beginIndex;
            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
                this.queryDesignOrganization();
            },
            pagesize_Change: function (pagesize) {
                this.pagesize = pagesize;
                this.queryDesignOrganization();
            },
            showAddPage: function () {
                this.addpage_visible = true;
                this.editpage_visible = false;
                this.dataToFather();

            },
            showEditPage: function (scope) {
                debugger;
                var rowInfo = scope.row;//当前行信息
                var index = scope.$index; //当前行在数据数组中的序号，0开始
                this.nowEditData = this.sjdwData[index];  //当前编辑数据
                this.editpage_visible = true;
                this.addpage_visible = false;
                this.dataToFather();

            },
            dataToFather: function () {
                this.$emit("defaultpage-event", this.addpage_visible, this.editpage_visible, this.nowEditData);
            },
            //查询设计单位
            queryDesignOrganization: function () {
                //不输入设计单位名称默认查询所有
                const vm = this;
                axios.post("/DesignOrganizationManger/queryDesignOrganization", { currentPage: this.currentPage, page_size: this.pagesize, sjdwName: this.sjdwName }).then(function (response) {
                    debugger;
                    var resultArry = JSON.parse(response.data).EnginUnitListGetResponse;
                    vm.sjdwTotalCount = resultArry.totalCount;
                    vm.sjdwData = resultArry.engin_unit_person_list;
                });
            },
            //删除设计单位
            deletDesignOrganization: function (scope) {
                debugger;
                const vm = this;
                var rowInfo = scope.row;//当前行信息
                var sjdwId = rowInfo.s_id;
                var deleteDesOrg = window.confirm("确认删除？");
                if (deleteDesOrg) {
                    axios.post("/DesignOrganizationManger/deleteDesignOrganization", { s_id: sjdwId }).then(function (response) {
                        var result = JSON.parse(response.data).EnginUnitUpdateResponse.result;
                        if (result) {
                            vm.$message("删除成功");
                            vm.queryDesignOrganization();
                        }
                    });

                }
                else {
                    this.$message("取消删除");
                }

            }
        },
        watch: {

        },
    }
</script>
<style>
    #queryhead {
        margin-left: 10px;
        min-width: 700px;
         height:50px;ssssss
    }

        #queryhead .btnSel {
            padding: 8px 12px;
            margin-left: 0px;
        }

        #queryhead .el-input--small {
            width: 220px;
        }

        #queryhead .btnAdd {
            width: 73px;
            height: 32px;
            padding-left: 20px;
            background-image: url(/Images/gcgl/btn_xinzeng_normal.png);
            border: 0px;
        }

            #queryhead .btnAdd:focus {
                background-image: url(/Images/gcgl/btn_xinzeng_normal.png);
            }

            #queryhead .btnAdd:hover {
                background-image: url(/Images/gcgl/btn_xinzeng_active.png);
            }

            #queryhead .btnAdd:active {
                background-image: url(/Images/gcgl/btn_xinzeng_active.png);
            }

        #queryhead .btnDown {
            width: 100px;
            height: 32px;
            padding-left: 20px;
            background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
            border: 0px;
        }

            #queryhead .btnDown:focus {
                background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
            }

            #queryhead .btnDown:hover {
                background-image: url(/Images/gcgl/btn_mobanxz_active.png);
            }

        #queryhead .btnImport {
            width: 100px;
            height: 32px;
            padding-left: 20px;
            background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
            border: 0px;
        }

            #queryhead .btnImport:focus {
                background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
            }

            #queryhead .btnImport:hover {
                background-image: url(/Images/gcgl/btn_piliangdr_active.png);
            }

    .el-table__body-wrapper {
        overflow-y: auto !important;
    }

    .el-table--border {
        margin-bottom: 4px;
    }

    /*.el-pagination {
        float: right;
    }*/
</style>
