@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "验证页面";
}
@{
    ViewBag.Title = "Index";
}


    <div id="app" class="form">
        <el-form ref="form" model="UserForm" rules="this.$store.state.userinfo.CheckRules" label-position="left" label-width="180px">
            <el-form-item label="真实姓名" prop="truename">
                <el-input v-model="UserForm.truename"></el-input>
            </el-form-item>
            <el-form-item label="年龄" prop="age">
                <el-input v-model="UserForm.age"></el-input>
            </el-form-item>
            <el-form-item label="出生年月">
                <el-date-picker type="date" placeholder="选择日期"
                                v-model="UserForm.birthday">

                </el-date-picker>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" v-on:click="submitInfo">提交</el-button>
            </el-form-item>
        </el-form>
    </div>

<style>
    .form {
        margin-top: 20px;
    }
</style>

<script>
    new Vue({
        el: '#app',
        data: {
            UserForm: {
                truename: '',
                age: '',
                birthday: ''
            }
        },

        mounted: function () {
            debugger
            this.created();
            this.beforeDestory();
        },
        methods: {
            created: function () {
                this.UserForm = this.$store.state.userinfo.UserForm;
            },

            beforeDestory: function () {
                this.$store.state.userinfo.UserForm = this.UserForm;
            },
            submitInfo:function() {
                // 表单验证方法
                debugger
                this.$refs.form.validate(function (result) {
                    if (result) {
                        alert("验证成功！");
                        //// 验证通过,调用module里的setUserInfo方法
                        //this.$store.dispatch("setUserInfo");
                    } else {
                        alert("表达验证不合法")
                    }
                });
            },
            state: {
                
                UserForm: { truename: "", age: "", birthday: "" },
                CheckRules: {
                    truename: [
                        { required: true, message: "请输入活动名称", trigger: 'blur' },
                        { min: 3, max: 10, message: "必须3-5个字符", trigger: 'blur' }
                    ],
                    //age: [{
                    //    validator: (rule, value, callback) => {
                    //        if (/^\d+$/.test(value) == false) {
                    //            callback(new Error("年龄只能输入数字"));
                    //        } else {
                    //            callback();
                    //        }
                    //    }, trigger: 'blur'
                    //}]
                },
            },
        }
    });
</script>