@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "水资源首页";
}
@Html.Partial("~/Views/WaterRes/components/com_szyleft.cshtml")
@Html.Partial("~/Views/WaterRes/components/com_szymap.cshtml")
@Html.Partial("~/Views/WaterRes/components/com_szyright.cshtml")
<script src="~/Scripts/SuperMap/libs/SuperMap.Include.js"></script>
<div id="app">
    <el-row v-bind:gutter="15" class="row_bg">
        <el-col v-bind:xs="5" v-bind:sm="6" v-bind:md="6" v-bind:lg="6" v-bind:xl="5" class="sidescss">
            <div class="title" style="text-align:center;">月用水量(1月)</div>
            <com-szyleft ref="szyleft"></com-szyleft>
        </el-col>
        <el-col v-bind:xs="13" v-bind:sm="11" v-bind:md="11" v-bind:lg="11" v-bind:xl="13">
            <com_szymap ref="comSzyMap">

            </com_szymap>
        </el-col>
        <el-col v-bind:xs="6" v-bind:sm="7" v-bind:md="7" v-bind:lg="7" v-bind:xl="6" style="padding-left:11px;" class="sidescss">
            <div class="title ysxl">用水效率(2017年上半年)</div>
            <com-szyright>

            </com-szyright>
        </el-col>
    </el-row>
</div>

<script>
    new Vue({
        el: "#app",
        components: {
            "com-szyleft": comSzyLeft,
            "com_szymap": comSzyMap,
            "com-szyright": comSzyRight
        },
        data: {

        },
        mounted: function () {

        },
        watch: {

        },
        methods: {

        },
    })
</script>

<style scoped>
    html, body, #app {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        /*overflow: auto;*/
        background-color: #051266;
    }

    body {
        overflow: hidden;
    }

    #app {
        min-width: 1000px;
        min-height: 700px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .row_bg {
        margin: 15px 0 0 15px;
    }

    #app .sidescss {
        position: relative;
    }

    #app .title {
        position: absolute;
        top: -13px;
        left: 35px;
        z-index: 1400;
        background-color: #051266;
        width: 120px;
        height: 20px;
        color: #22eff8;
        font-size: 16px;
        font-family: "microsoft yahei";
    }
</style>
