
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "工程管理-工程编辑";
}

<script src="~/Scripts/SuperMap/libs/SuperMap.Include.js"></script>
<div id="edit">
    <div id="editForm">
        <el-form v-bind:inline="true" label-position="right" label-width="100px" :model="formData" ref="formData" class="demo-ruleForm" v-bind:rules="rules">
            <div id="appBasic">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">基本信息</div>
                    </el-col>
                </el-row>
                <el-row class="el-row" type="flex">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程名称:" prop="s_name">
                            <el-input v-model="formData.s_name" size="mini" v-bind:disabled="isFinish"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程编号:" prop="s_project_no">
                            <el-input v-model="formData.s_project_no" size="mini" v-bind:disabled="isFinish"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="年度:" prop="n_year">
                            @*<el-input v-model="formData.n_year" size="mini"></el-input>*@
                            @*<el-select v-model="formData.n_year" class="selCss" size="mini" v-bind:disabled="isFinish">
                                <el-option v-for="item in YearOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                                </el-option>
                            </el-select>*@
                            <el-date-picker v-model="formData.n_year"
                                            type="year"
                                            placeholder="选择年份" class="selCss" size="mini" v-bind:disabled="isFinish">
                            </el-date-picker>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程分类:">
                            <span>{{formData.n_type}}</span>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程状态:" prop="n_pace_status">
                            @*<el-input v-model="formData.n_pace_status" size="mini"></el-input>*@
                            <el-select v-model="formData.n_pace_status" class="selCss" size="mini" v-bind:disabled="isFinish">
                                <el-option v-for="item in StatusOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="所属镇:" prop="s_town">
                            @*<el-input v-model="formData.s_town" size="mini"></el-input>*@
                            <el-select v-model="formData.s_town" class="selCss" size="mini" v-bind:disabled="isFinish">
                                <el-option v-for="item in TownOption" v-bind:key="item.s_cd_value" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="16" class="colCss">
                        <el-form-item label="工程地址:" prop="s_address">
                            <el-input v-model="formData.s_address" size="mini" style="width:127%;" v-bind:disabled="isFinish"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="项目法人:">
                            @*<el-input v-model="formData.s_legal_person" size="mini"></el-input>*@
                            <el-select v-model="formData.s_legal_person" class="selCss" size="mini" v-bind:disabled="isFinish">
                                <el-option v-for="item in PersonOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="设计单位:">
                            @*<el-input v-model="formData.s_unit_design" size="mini"></el-input>*@
                            <el-select v-model="formData.s_unit_design" class="selCss" size="mini" v-bind:disabled="isFinish">
                                <el-option v-for="item in UnitOption" v-bind:key="item.s_id" v-bind:label="item.s_name" v-bind:value="item.s_id">
                                </el-option>
                            </el-select>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="施工单位:" prop="s_unit_build">
                            <el-input v-model="formData.s_unit_build" size="mini" v-bind:disabled="isFinish"></el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="监理单位:">
                            <el-input v-model="formData.s_unit_supervise" size="mini" v-bind:disabled="isFinish"></el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="估算总投资:" prop="n_reckon_total_amt">
                            <el-input v-model="formData.n_reckon_total_amt" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="新增水面积:" prop="n_water_area">
                            <el-input v-model="formData.n_water_area" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    亩
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row ">
                    <el-col v-bind:span="24" style="height:90px;">
                        <el-form-item label="备注:">
                            <el-input type="textarea" placeholder="请输入内容" v-bind:rows="3" v-model="formData.s_remark" style="width:136%;padding-top:10px;" resize="none" v-bind:disabled="isFinish">
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appReply">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">批复工程量</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="长度:" prop="n_length">
                            <el-input v-model="formData.n_length" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="土方:" prop="n_land_area">
                            <el-input v-model="formData.n_land_area" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万立方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="硬质护岸:" prop="n_protect_hard">
                            <el-input v-model="formData.n_protect_hard" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="生态护岸:" prop="n_protect_ecology">
                            <el-input v-model="formData.n_protect_ecology" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="桥梁:" prop="n_bridge">
                            <el-input v-model="formData.n_bridge" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="岸域绿化:" prop="n_plant_bank">
                            <el-input v-model="formData.n_plant_bank" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="斜坡绿化:" prop="n_plant_slope">
                            <el-input v-model="formData.n_plant_slope" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="水深绿化:" prop="n_plant_depth">
                            <el-input v-model="formData.n_plant_depth" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appInvest">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">概算投资</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="总投资:" prop="n_total_invest">
                            <el-input v-model="formData.n_total_invest" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="工程直接费:" prop="n_engin_cost">
                            <el-input v-model="formData.n_engin_cost" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="独立费用:" prop="n_independent_cost">
                            <el-input v-model="formData.n_independent_cost" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="预备费:" prop="n_prep_cost">
                            <el-input v-model="formData.n_prep_cost" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="景观费用:" prop="n_sight_cost">
                            <el-input v-model="formData.n_sight_cost" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="腾地面积:" prop="n_empty_area">
                            <el-input v-model="formData.n_empty_area" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    亩
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="建设用地费:" prop="n_build_cost">
                            <el-input v-model="formData.n_build_cost" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appCapital">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">资金配套组成</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="市补:" prop="n_subsidy_city">
                            <el-input v-model="formData.n_subsidy_city" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="区配套:" prop="n_subsidy_district">
                            <el-input v-model="formData.n_subsidy_district" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="镇配套:" prop="n_subsidy_town">
                            <el-input v-model="formData.n_subsidy_town" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万元
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appFinish">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">完成工程量</div>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="长度:" prop="n_complete_length">
                            <el-input v-model="formData.n_complete_length" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="土方:" prop="n_complete_land_area">
                            <el-input v-model="formData.n_complete_land_area" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    万立平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="硬质护岸:" prop="n_complete_protect_hard">
                            <el-input v-model="formData.n_complete_protect_hard" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="生态护岸:" prop="n_complete_protect_ecology">
                            <el-input v-model="formData.n_complete_protect_ecology" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    公里
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="桥梁:" prop="n_complete_bridge">
                            <el-input v-model="formData.n_complete_bridge" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    座
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="岸域绿化:" prop="n_complete_plant_bank">
                            <el-input v-model="formData.n_complete_plant_bank" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row class="el-row">
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="斜坡绿化:" prop="n_complete_plant_slope">
                            <el-input v-model="formData.n_complete_plant_slope" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                    <el-col v-bind:span="8" class="colCss">
                        <el-form-item label="水深绿化:" prop="n_complete_plant_depth">
                            <el-input v-model="formData.n_complete_plant_depth" size="mini" v-bind:disabled="isFinish">
                                <template slot="append">
                                    平方米
                                </template>
                            </el-input>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
            <div id="appFiles">
                <el-row class="el-row">
                    <el-col v-bind:span="24">
                        <div class="blueTitle"></div><div class="appTitle">补充信息</div>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程图纸上传:">
                            <el-upload class="upload-demo"
                                       ref="upload"
                                       multiple
                                       action="/BackboneRiverway/UpFiles"
                                       v-bind:on-change="getDrawing"
                                       v-bind:on-remove="handleRemoveDrawing"
                                       v-bind:on-success="upSucess"
                                       v-bind:on-error="upError"
                                       v-bind:before-remove="beforeRemove"
                                       v-bind:file-list="drawingFiles" 
                                       v-bind:disabled="isFinish"
                                       v-bind:before-upload="beforeAvatarUpload">
                                <el-button slot="trigger" size="small" type="primary" v-bind:disabled="isFinish">选取文件</el-button>
                                @*<el-button style="margin-left: 10px;" size="small" type="success" v-on:click="submitUpload">上传到服务器</el-button>*@
                                <span class="el-upload__tip">（支持word、jpg、png、dwg、zip、rar等格式文件上传；支持多文件上传；文件大小应在10M以内）</span>
                            </el-upload>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程位置草图:">
                            <el-button type="text" v-on:click="showgcctMapEdit" v-bind:disabled="isFinish">工程位置草图</el-button>
                        </el-form-item>
                    </el-col>
                </el-row>
                <el-dialog title="编辑工程位置草图" v-bind:visible.sync="mapEditDialogVisible" width="70%" top="6vh">
                    <com-gcctmap-edit v-bind:style="{height:gccteditmapheight+'px'}" ref="gcctedit" v-bind:gcctinfo=this.gcctinfo v-on:draftstatus="setDraftStatus"></com-gcctmap-edit>
                </el-dialog>
                <el-row>
                    <el-col v-bind:span="24">
                        <el-form-item label="工程图片上传:">
                            <span class="el-upload__tip">支持png、jpg、jpeg、gif格式的图片上传；文件大小应在10M以内</span>
                            <el-upload action="/BackboneRiverway/UpFiles"
                                       list-type="picture-card"
                                       v-bind:on-preview="handlePreview"
                                       v-bind:on-remove="handleRemovePicture"
                                       v-bind:on-change="getPicture"
                                       v-bind:on-success="upSucess2"
                                       v-bind:on-error="upError"
                                       v-bind:before-remove="beforeRemove"
                                       v-bind:file-list="pictureFiles" 
                                       v-bind:disabled="isFinish"
                                       v-bind:before-upload="beforeImagesUpload"
                                       accept="image/png, image/jpg, image/jpeg, image/gif">
                                <i class="el-icon-plus"></i>
                            </el-upload>
                            <el-dialog v-bind:visible.sync="dialogVisible" v-bind:disabled="isFinish">
                                <img style="width:100%" v-bind:src="dialogImageUrl" alt="">
                            </el-dialog>
                        </el-form-item>
                    </el-col>
                </el-row>
            </div>
        </el-form>
    </div>
    <div id="appBtn" style="width:100%;text-align:center;position:fixed;bottom:0;left:0;height:60px;">
        <el-button plain v-on:click="openIndex" size="small">取消</el-button>
        <el-button type="primary" v-on:click="saveData('formData')" v-bind:disabled="isFinish" size="small">保存</el-button>
    </div>
</div>

@Html.Partial("~/Views/components/gcctMap/com_gcctEdit.cshtml")
<script>
    new Vue({
        el: '#edit',
        data: function () {
            var checkNum = function (rule, value, callback) {
                //var reNum = /^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/;//正数
                var reNum = /^([0-9][0-9]{7}|[0-9]{1,7})(\.[0-9][0-9]?)?$/;
                if (value != '' && value != 'undefind' && value != null) {
                    if (!reNum.test(value)) {
                        callback(new Error('请输入正确的数字值（最大支持8位整数，2位小数）'));
                    } else {
                        callback();
                    }
                } else {
                    callback();
                }
            };
            return {
                gcctinfo: {
                    S_PROJECT_NO: "",
                    N_PACE_STATUS: "",
                    N_YEAR: "",
                    N_TYPE: "",
                    S_LEGAL_PERSON: "",
                    S_TOWN: "",
                    S_ADDRESS: "",
                    S_UNIT_DESIGN: "",
                    S_UNIT_BUILD: "",
                    S_UNIT_SUPERVISE: "",
                    N_RECKON_TOTAL_AMT: "",
                    REMARK: ""
                },
                yYear: moment().format('YYYY'),
                YearOption: [],
                StatusOption: [],
                TownOption: [],
                PersonOption: [],
                UnitOption: [],
                isFinish: false,
                formData: {
                    s_id: '',
                    s_name: '', s_project_no: '', n_year: '',
                    n_draft: '', n_pace_status: '', s_town: '',
                    s_address: '', s_legal_person: '',
                    s_unit_design: '', s_unit_build: '', s_unit_supervise: '',
                    n_reckon_total_amt: '', n_water_area: '',
                    s_remark: '', n_type: '', remove_pic_ids: '',

                    n_length: '', n_land_area: '', n_protect_hard: '',
                    n_protect_ecology: '', n_bridge: '', n_plant_bank: '',
                    n_plant_slope: '', n_plant_depth: '', n_river_count: '',

                    n_total_invest: '', n_engin_cost: '', n_independent_cost: '',
                    n_prep_cost: '', n_sight_cost: '', n_empty_area: '',
                    n_build_cost: '',

                    n_subsidy_city: '', n_subsidy_district: '', n_subsidy_town: '',

                    n_complete_length: '', n_complete_land_area: '', n_complete_protect_hard: '',
                    n_complete_protect_ecology: '', n_complete_bridge: '', n_complete_plant_bank: '',
                    n_complete_plant_slope: '', n_complete_plant_depth: '', n_complete_river_count: '',
                },
                drawingFiles: [],
                pictureFiles: [],
                drawingFilesAdd: [],
                pictureFilesAdd: [],
                filesData: [],
                dialogImageUrl: '',
                dialogVisible: false,
                mapEditDialogVisible: false,
                gccteditmapheight: document.documentElement.clientHeight - 200,
                rules: {
                    s_name: [
                        { required: true, message: '请输入工程名称', trigger: 'blur' }
                    ],
                    s_project_no: [
                        { required: true, message: '请输入项目编号', trigger: 'blur' }
                    ],
                    s_address: [
                        { required: true, message: '请输入工程地址', trigger: 'blur' }
                    ],
                    n_year: [
                        { required: true, message: '请选择年度', trigger: 'blur' }
                    ],
                    n_pace_status: [
                        { required: true, message: '请选择工程状态', trigger: 'blur' }
                    ],
                    s_town: [
                        { required: true, message: '请选择所属镇', trigger: 'blur' }
                    ],
                    n_reckon_total_amt: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_water_area: [
                        { validator: checkNum, trigger: 'blur' }
                    ],

                    n_length: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_land_area: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_protect_hard: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_protect_ecology: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_bridge: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_plant_bank: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_plant_slope: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_plant_depth: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_total_invest: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_engin_cost: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_independent_cost: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_prep_cost: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_sight_cost: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_empty_area: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_build_cost: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_subsidy_city: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_subsidy_district: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_subsidy_town: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_length: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_land_area: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_protect_hard: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_protect_ecology: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_bridge: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_plant_bank: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_plant_slope: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                    n_complete_plant_depth: [
                        { validator: checkNum, trigger: 'blur' }
                    ],
                },
            };
        },
        components: {
            "com-gcctmap-edit": comgcctmapEdit
        },
        mounted: function () {
            if (this.getRequest().id == "gg") {
                this.formData.n_type = "骨干河道";
            }
            if (this.getRequest().id == "zxx") {
                this.formData.n_type = "中小河道";
            }
            this.init();
            $(window).resize(function () {
                this.gccteditmapheight = document.documentElement.clientHeight - 200;
            });
        },
        watch: {
            gccteditmapheight: function (val) {
                this.gccteditmapheight = val;
            },
        },
        methods: {
            setDraftStatus: function (param) {
                this.formData.n_draft = param.n_draft;
            },
            bindGCCTData: function () {
                this.gcctinfo.S_PROJECT_NO = this.formData.s_project_no;
                this.gcctinfo.N_PACE_STATUS = this.formData.n_pace_status;
                this.gcctinfo.N_YEAR = this.formData.n_year;
                this.gcctinfo.N_TYPE = this.formData.n_type;
                this.gcctinfo.S_LEGAL_PERSON = this.formData.s_legal_person;
                this.gcctinfo.S_TOWN = this.formData.s_town;
                this.gcctinfo.S_ADDRESS = this.formData.s_address;
                this.gcctinfo.S_UNIT_DESIGN = this.formData.s_unit_design;
                this.gcctinfo.S_UNIT_BUILD = this.formData.s_unit_build;
                this.gcctinfo.S_UNIT_SUPERVISE = this.formData.s_unit_supervise;
                this.gcctinfo.N_RECKON_TOTAL_AMT = this.formData.n_reckon_total_amt;
                this.gcctinfo.REMARK = this.formData.s_remark;
            },
            showgcctMapEdit: function () {
                this.bindGCCTData();
                this.mapEditDialogVisible = true;
            },
            init: function () {
                var s_id = this.getRequest().id;
                //this.getYear("/BackboneRiverway/GetSelect", { Type: "年度" });
                this.getStatus("/BackboneRiverway/GetSelect", { Type: "工程状态" });
                this.getTown("/BackboneRiverway/GetSelect", { Type: "街镇" });
                this.getLegalPerson("/BackboneRiverway/GetLegalPerson", null);
                this.getDesignUnit("/BackboneRiverway/GetDesignUnit", null);
                this.getProjectData('/BackboneRiverway/GetOneProjectData', { s_id: s_id });
            },
            getYear: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.YearOption = tempData.DictionaryGetResponse.list;
                      //this.formData.n_year = this.YearOption[0].s_cd_key;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getStatus: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      //var datas = tempData.DictionaryGetResponse.list;
                      this.StatusOption = tempData.DictionaryGetResponse.list;
                      //this.formData.n_pace_status = this.StatusOption[0].s_cd_key;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getTown: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.TownOption = tempData.DictionaryGetResponse.list;
                      //this.formData.s_town = this.TownOption[0].s_cd_value;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getLegalPerson: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.PersonOption = tempData.EnginLegalPersonListGetResponse.engin_unit_person_list;
                      //this.formData.s_town = this.TownOption[0].s_cd_value;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getDesignUnit: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.UnitOption = tempData.EnginUnitListGetResponse.engin_unit_person_list;
                      //this.formData.s_unit_design = this.UnitOption[0].s_id;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getProjectData: function (url, s_id) {
                axios.post(url, s_id)
                  .then(function (response) {
                      
                      var tempData = JSON.parse(response.data);
                      var ss = tempData.EnginCoreGetResponse.info.n_pace_status;
                      this.StatusToNum(ss);

                      var replyData = tempData.EnginCoreGetResponse.info.EnginMainCore;
                      var capitalData = tempData.EnginCoreGetResponse.info.EnginInvestmentCore;
                      var investData = tempData.EnginCoreGetResponse.info.EnginCapitalCore;
                      var finishData = tempData.EnginCoreGetResponse.info.EnginCompleteCore;
                      
                      this.formData.s_id = tempData.EnginCoreGetResponse.info.s_id;
                      this.formData.s_name = tempData.EnginCoreGetResponse.info.s_name;
                      this.formData.s_project_no = tempData.EnginCoreGetResponse.info.s_project_no;
                      this.formData.n_year = tempData.EnginCoreGetResponse.info.n_year.toString()
                      this.yYear = tempData.EnginCoreGetResponse.info.n_year.toString();
                      this.formData.n_draft = tempData.EnginCoreGetResponse.info.n_draft;

                      //this.formData.n_pace_status = tempData.EnginCoreGetResponse.info.n_pace_status;
                      this.formData.s_town = tempData.EnginCoreGetResponse.info.s_town;
                      this.formData.s_address = tempData.EnginCoreGetResponse.info.s_address;
                      this.formData.s_legal_person = tempData.EnginCoreGetResponse.info.s_legal_person;
                      this.formData.s_unit_design = tempData.EnginCoreGetResponse.info.s_unit_design;
                      this.formData.s_unit_build = tempData.EnginCoreGetResponse.info.s_unit_build;
                      this.formData.s_unit_supervise = tempData.EnginCoreGetResponse.info.s_unit_supervise;
                      this.formData.n_reckon_total_amt = tempData.EnginCoreGetResponse.info.n_reckon_total_amt;
                      this.formData.n_water_area = tempData.EnginCoreGetResponse.info.n_water_area;
                      this.formData.s_remark = tempData.EnginCoreGetResponse.info.s_remark;
                      this.formData.n_type = tempData.EnginCoreGetResponse.info.n_type;
                      
                      this.formData.n_length = replyData.n_length;
                      this.formData.n_land_area = replyData.n_land_area;
                      this.formData.n_protect_hard = replyData.n_protect_hard;
                      this.formData.n_protect_ecology = replyData.n_protect_ecology;
                      this.formData.n_bridge = replyData.n_bridge;
                      this.formData.n_plant_bank = replyData.n_plant_bank;
                      this.formData.n_plant_slope = replyData.n_plant_slope;
                      this.formData.n_plant_depth = replyData.n_plant_depth;
                      this.formData.n_river_count = replyData.n_river_count;

                      this.formData.n_total_invest = capitalData.n_total_invest;
                      this.formData.n_engin_cost = capitalData.n_engin_cost;
                      this.formData.n_independent_cost = capitalData.n_independent_cost;
                      this.formData.n_prep_cost = capitalData.n_prep_cost;
                      this.formData.n_sight_cost = capitalData.n_sight_cost;
                      this.formData.n_empty_area = capitalData.n_empty_area;
                      this.formData.n_build_cost = capitalData.n_build_cost;

                      this.formData.n_subsidy_city = investData.n_subsidy_city;
                      this.formData.n_subsidy_district = investData.n_subsidy_district;
                      this.formData.n_subsidy_town = investData.n_subsidy_town;

                      this.formData.n_complete_length = finishData.n_complete_length;
                      this.formData.n_complete_land_area = finishData.n_complete_land_area;
                      this.formData.n_complete_protect_hard = finishData.n_complete_protect_hard;
                      this.formData.n_complete_protect_ecology = finishData.n_complete_protect_ecology;
                      this.formData.n_complete_bridge = finishData.n_complete_bridge;
                      this.formData.n_complete_plant_bank = finishData.n_complete_plant_bank;
                      this.formData.n_complete_plant_slope = finishData.n_complete_plant_slope;
                      this.formData.n_complete_plant_depth = finishData.n_complete_plant_depth;
                      this.formData.n_complete_river_count = finishData.n_complete_river_count;
                      var files = tempData.EnginCoreGetResponse.info.FileUploaderList;
                      if (tempData.EnginCoreGetResponse.info.n_pace_status == '工程完结') {
                          this.isFinish = true;
                      } else {
                          this.isFinish = false;
                      }
                      for (var i = 0; i < files.length; i++) {
                          var temp = { name: files[i].s_file_name, url: files[i].s_path, uid: files[i].s_id }
                          if (files[i].s_type == '图纸') {
                              this.drawingFiles.push(temp);
                          }
                          if (files[i].s_type == '图片') {
                              this.pictureFiles.push(temp);
                          }
                      }
                    
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            saveData: function (formName) {
                this.formData.n_year = new Date(this.formData.n_year).getFullYear();
                this.$refs[formName].validate(function (valid) {
                    if (valid) {
                        var drawing = '';
                        var picture = '';
                        if (this.drawingFilesAdd != '') {
                            for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                                drawing = this.drawingFilesAdd[i].name + ',' + drawing
                            }
                        }
                        if (this.pictureFilesAdd != '') {
                            for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                                picture = this.pictureFilesAdd[i].name + ',' + picture
                            }
                        }
                        axios.post('/BackboneRiverway/UpdateProjectData', { param: JSON.stringify(this.formData), drawingFiles: drawing, pictureFiles: picture })
                          .then(function (response) {
                              var tempData = eval('(' + response.data + ')');
                              var tempR = tempData.EnginCoreUpdateResponse.result;
                              
                              if (tempR) {
                                  this.formData.n_year = this.yYear;
                                  if (this.formData.n_type == "骨干河道") {
                                      window.location = "Index";
                                  }
                                  if (this.formData.n_type == "中小河道") {
                                      window.location = "/ZXRiverway/Index";
                                  }
                              } else {
                                  this.formData.n_year = this.yYear;
                                  this.$message.error('保存失败！' + TempR);
                              }
                          }.bind(this))
                          .catch(function (error) {
                              this.formData.n_year = this.yYear;
                              console.log(error);
                          });
                    } else {
                        this.formData.n_year = this.yYear;
                        console.log('error submit!!');
                        return false;
                    }
                }.bind(this));

            },
            beforeAvatarUpload: function (file) {
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                if (fileType == 'exe') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeImagesUpload: function (file) {
                
                var fileType = file.name.substring(file.name.lastIndexOf('.') + 1);
                //image/png, image/jpg, image/jpeg, image/gif
                if (fileType != 'png' && fileType != 'jpg' && fileType != 'jpeg' && fileType != 'gif') {
                    this.$message({
                        message: '不支持上传该类型文件！',
                        type: 'warning'
                    });
                    return false;
                }
                const isLt2M = file.size / 1024 / 1024 < 10
                if (!isLt2M) {
                    this.$message({
                        message: '上传文件大小不能超过 10MB!',
                        type: 'warning'
                    });
                    return false;
                }
            },
            beforeRemove: function (file, fileList) {
                if (file.status == 'ready') {
                    return;
                }
                return this.$confirm('是否确定删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    if (this.formData.remove_pic_ids == "") {
                        this.formData.remove_pic_ids = file.uid;
                    } else {
                        this.formData.remove_pic_ids += "," + file.uid
                    }
                    this.$message({
                        type: 'success',
                        message: '删除成功!'
                    });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除！'
                    });
                });
            },
            handleRemoveDrawing: function (file, fileList) {
                console.log(file);
                console.log(fileList);
                console.log(this.drawingFilesAdd);
                for (var i = 0; i < this.drawingFilesAdd.length; i++) {
                    if (this.drawingFilesAdd[i].name == file.name) {
                        this.drawingFilesAdd.splice(i, 1);
                    }
                }
                console.log(this.drawingFilesAdd);
            },
            handleRemovePicture: function (file, fileList) {
                for (var i = 0; i < this.pictureFilesAdd.length; i++) {
                    if (this.pictureFilesAdd[i].name == file.name) {
                        this.pictureFilesAdd.splice(i, 1);
                    }
                }
            },

            getDrawing: function (file, fileList) {
                this.drawingFiles = fileList;
                //this.drawingFilesAdd = fileList.slice(0 - (fileList.length - this.drawingFilesL))
                //console.log(this.file);
            },
            getPicture: function (file, fileList) {
                this.pictureFiles = fileList;
                //console.log(this.file);
            },
            handlePreview: function (file) {
                //console.log(file);
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            upSucess: function (response, file, fileList) {
                
                var temp = { name: file.name, url: file.url }
                this.drawingFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upSucess2: function (response, file, fileList) {
                var temp = { name: file.name, url: file.url }
                this.pictureFilesAdd.push(temp)
                this.$message({
                    message: '上传成功！',
                    type: 'success'
                });
            },
            upError: function (err, file, fileList) {
                this.$message.error('上传失败！' + err);
            },
            openIndex: function () {
                if (this.formData.n_type == "骨干河道") {
                    window.location = "Index";
                }
                if (this.formData.n_type == "中小河道") {
                    window.location = "/ZXRiverway/Index";
                }
            },
            getRequest: function () {
                var url = window.location.search; //获取url中"?"符后的字串
                var theRequest = new Object();
                if (url.indexOf("?") != -1) {
                    var str = url.substr(1);
                    strs = str.split("&");
                    for (var i = 0; i < strs.length; i++) {

                        theRequest[strs[i].split("=")[0]] = decodeURI(strs[i].split("=")[1]);

                    }
                }
                return theRequest;
            },
            StatusToNum: function (status) {
                switch (status) {
                    case '工前准备':
                        this.formData.n_pace_status = 1;
                        break;
                    case '开工':
                        this.formData.n_pace_status = 10;
                        break;
                    case '完工':
                        this.formData.n_pace_status = 20;
                        break;
                    case '完工验收':
                        this.formData.n_pace_status = 30;
                        break;
                    case '决算审批':
                        this.formData.n_pace_status = 40;
                        break;
                    case '竣工验收':
                        this.formData.n_pace_status = 50;
                        break;
                    case '工程完结':
                        this.formData.n_pace_status = 60;
                        break;
                    default:
                        break;
                }
            },
        },
        
    });
</script>

<style>
    #edit {
        font-size: 14px;
        min-width:900px;
    }
    #editForm {
        padding: 10px 20px 10px 20px;
        margin-bottom:60px;
    }
    #edit .el-form-item {
        width:100%;
    }
    #edit .el-form-item__content{ 
        width:65%; 
    }
    #edit input, select, textarea {
        max-width: none;
        color:#333333;
        font-size:14px;
    }
        #edit .el-input-group__append {
            color:#333333;
            font-size:14px;
        }
        #edit .el-textarea__inner {
            color:#333333;
            font-size:14px;
        }
    #edit .el-form-item__error {
        padding-top:0px;
    }
    #edit .blueTitle {
        width: 7px;
        height: 18px;
        background-color: #409eff;
        float: left;
    }

    #edit .appTitle {
        float: left;
        font-size: 14px;
        font-weight: bold;
        color: #666666;
        padding-left: 10px;
    }
    #edit .colCss {
        height: 50px;
    }

    #edit .selCss {
        width:100%;
    }
    #appFiles .el-dialog__body{
        padding:10px 5px;
    }
</style>