@{
    ViewBag.Title = "采样水质统计";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <samplingszstatistics-query v-on:emit-event="getEmitEvent" ref="samplingszstatisticsQuery"></samplingszstatistics-query>
    <com-line v-bind:option="lineOption" ref="line" style="width:100%;height:350px;  "></com-line>
    <div id="table">
        <template>
            <el-table v-loading="loading" v-bind:data="tableData"
                      stripe
                      border
                      style="width: 100%"
                      v-bind:height="height">
                <el-table-column label="检测项目/检测日期"></el-table-column>
                <el-table-column v-bind:label="month.yf" v-for="(month, index) in tableData" v-bind:key="tableData.yf">{{month.yf}}</el-table-column>
                
            </el-table>
        </template>
    </div>
</div>

@Html.Partial("~/Views/SamplingSZStatistics/components/query.cshtml")
@Html.Partial("~/Views/components/echarts/com_line.cshtml")


<script>
    new Vue({
        el: "#app",
        data: {
            styles: {
                width: '90%',
                height: '0px',
                float: 'left',
            },
            loading: true,
            height: 0,
            tableData:[],
            params: [],
            lineOption: null,
        },
        components: {
            "samplingszstatistics-query": query,
            "com-line": comLine
        },
        mounted: function () {
            this.init();
            this.setSize()
            this.resize()
        },
        methods: {
            init: function () {
                this.setData("/SamplingSZStatistics/GetData", { type:'', zdname: '', date: '' });
            },
            setData: function (url, param) {
                this.params = param;
                this.setLineData(url, param)
                this.setTableData(url, param)
            },
            getEmitEvent: function (param) {
                debugger
                this.setTableData('/SamplingSZStatistics/GetData', param);
                this.setLineData("/SamplingSZStatistics/GetLineData", param);
            },
            setLineData: function (url, param) {
                console.log(param);
                var _this = this;
                this.$children[1].charts.showLoading();
                axios.post(url)
                  .then(function (response) {
                      _this.$children[1].charts.hideLoading();
                      _this.lineOption = {
                          color: ['blue', 'red', 'gray'],
                          title: {
                              left: 'center',
                              text: '大叶公路巨潮港桥-水质逐月统计',
                          },
                          tooltip: {
                              trigger: 'axis'
                          },
                          legend: {
                              bottom: 0,
                              data: ['铁(mg/L)', '锰(mg/L)', '氨氮(mg/L)']
                          },
                          grid: {
                              left: '3%',
                              right: '4%',
                              bottom: '8%',
                              containLabel: true
                          },
                          xAxis: {
                              type: 'category',
                              boundaryGap: false,
                              data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                          },
                          yAxis: {
                              type: 'value'
                          },
                          series: [
                              {
                                  name: '铁(mg/L)',
                                  type: 'line',
                                  stack: '总量',
                                  data: [12, 13.2, 10, 14, 9, 2, 10, 12, 12, 10, 1,9, 6]
                              },
                              {
                                  name: '锰(mg/L)',
                                  type: 'line',
                                  stack: '总量',
                                  data: [12, 12, 10, 4,9,2,8, 12, 12, 10, 1, 9]
                              },
                              {
                                  name: '氨氮(mg/L)',
                                  type: 'line',
                                  stack: '总量',
                                  data: [10, 12, 10, 1, 1, 2, 10, 12, 15, 10, 1, 9]
                              }
                          ]
                      };
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            setTableData: function (url, param) {
                this.loading = true;
                axios.post(url, param)
                 .then(function (response) {
                     this.loading = false;
                     var li = JSON.parse(response.data);
                    // var datas = li.EnginListGetResponse.engin_list;
                     //this.tableData = datas;
                   //  this.total = li.EnginListGetResponse.totalCount;
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
                //this.tableData = [{ 'yf': '1月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'IV类', 'HBchange': '持平' },
                //          { 'yf': '2月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'IV类', 'HBchange': '持平' },
                //          { 'yf': '3月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'V类', 'HBchange': '持平' },
                //          { 'yf': '4月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'VI类', 'HBchange': '持平' },
                //          { 'yf': '5月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'IV类', 'HBchange': '持平' },
                //         { 'yf': '6月', 'Fe': '6.2', 'Mn': '1.9', 'Ad': '3', 'szType': 'IV类', 'HBchange': '持平' }];
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.samplingszstatisticsQuery.$el.clientHeight
                var contentH = docH - queryH - 50
                this.height = contentH / 2;
                console.log(this.height);
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
        }

    })
</script>


<style scoped>
    html, body, #app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        font-size: 14px;
        font-family: 宋体;
        color: #333333;
        border-bottom: 1px solid #b9b9b9;
        height: 100px;
        width: 100%;
    }

        header .el-select .el-input__inner {
            width: 150px;
            height: 32px;
        }

    .el-input__inner {
        height: 32px;
    }

    header .el-button {
        padding: 8px 16px;
    }

    header .el-input__icon {
        line-height: 32px;
    }

    .el-table thead {
        background-color: #F5F5F5;
    }

    tbody .el-table_1_column_3 {
        color: blue;
    }

    .el-dialog {
        height: 600px;
        width: 900px;
        position: relative;
    }

    .el-dialog__header {
        background-color: #2288f1;
        padding: 10px 20px;
    }

    .titlebg {
        background-color: white;
        width: 5px;
        height: 18px;
        position: absolute;
        top: 13px;
        left: 9px;
    }

    .el-dialog__headerbtn .el-dialog__close {
        color: white;
    }

        .el-dialog__headerbtn .el-dialog__close:hover {
            color: white;
            background-color: #6eb1f6;
        }

    .el-dialog__headerbtn {
        top: 13px;
        right: 16px;
    }

    .el-dialog__title {
        color: white;
    }

    #qyjlSelect {
        margin: -10px 0 12px 0px;
    }

        #qyjlSelect .sqqyjltext {
            margin-right: 30px;
            font-size: 16px;
            color: #666666;
            font-family: 'Microsoft YaHei';
        }

        #qyjlSelect .el-button {
            padding: 8px 15px;
        }

        #qyjlSelect .el-input__icon {
            line-height: 34px;
        }

        #qyjlSelect .el-date-editor.el-input, .el-date-editor.el-input__inner {
            width: 200px;
        }

    .el-table--border {
        margin-bottom: 4px;
    }

    .el-pagination {
        float: right;
    }
</style>