@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "工程管理-农村生活污水";
}
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <sanitarysewage-query v-on:emit-event="getEmitEvent" ref="sanitarysewageQuery"></sanitarysewage-query>

    <div id="tableData">
        <el-table v-bind:data="tableData"
                  v-bind:height="height"
                  v-loading="loading"
                  border
                  stripe
                  style="width: 100%"
                  class="tableCss">
            <el-table-column type="index"
                             v-bind:index="indexMethod"
                             label="序号"
                             header-align="center"
                             align="center"
                             width="60">
            </el-table-column>
            <el-table-column prop="n_year"
                             label="年度"
                             header-align="center"
                             align="center"
                             width="100">
            </el-table-column>
            <el-table-column header-align="center"
                             label="工程名称">
                <template slot-scope="scope">
                    @*href="LookProject?t="*@
                    <a v-on:click="getDetail(scope.row.s_id)">{{ scope.row.s_name }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="s_project_no"
                             header-align="center"
                             align="right"
                             label="工程编号">
            </el-table-column>
            <el-table-column prop="n_pace_status"
                             header-align="center"
                             label="工程状态" width="120">
            </el-table-column>
            <el-table-column prop="s_town"
                             header-align="center"
                             align="center"
                             label="所属镇" width="100">
            </el-table-column>
            <el-table-column prop="s_unit_design"
                             header-align="center"
                             label="设计单位">
            </el-table-column>
            <el-table-column prop="s_legal_person"
                             header-align="center"
                             label="项目法人" width="100">
            </el-table-column>
            <el-table-column label="操作"
                             header-align="center"
                             align="center"
                             width="300">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="info" v-on:click="openFileManage(scope.row.s_id)">文件管理</el-button>
                    <el-button size="mini" type="danger" v-on:click="handleDel(scope.row.s_id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <div style="text-align:left;padding:10px 0 0 10px;">
        <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" v-bind:current-page.sync="currentPage" v-bind:page-size="pageSize" v-bind:page-sizes="[10, 20, 30, 40, 50]" v-bind:total="total">
        </el-pagination>
    </div>
</div>

@Html.Partial("~/Views/SanitarySewage/components/query.cshtml")

<script>
    new Vue({
        el: '#app',
        data: {
            loading: true,
            height: 0,
            total: 0, //默认数据总数
            pageSize: 10,//每页的数据条数
            currentPage: 1,//默认开始页面
            height: 0,
            tableData: [],
            params:[],
            delForm: {
                S_ID:''
             }
        },
        components: {
            "sanitarysewage-query": query
        },
        mounted: function () {
            this.setSize()
            this.resize()
            this.setData('/SanitarySewage/GetTabData', { Page: this.currentPage, pageSize: this.pageSize, sYear: moment().format("YYYY"), eYear: moment().format("YYYY"), Status: '', Town: '', NameNum: '' });
        },
        methods: {
            getEmitEvent: function (param) {
                this.setData('/SanitarySewage/GetTabData', {
                    page: this.currentPage, pageSize: this.pageSize, sYear: param.sYear, eYear: param.eYear, status: param.status, town: param.town, NameNum: param.NameNum,
                });
            },
            getDetail: function (id) {
                window.location.href = '/SanitarySewage/DetailPage?id=' + id;
            },
            setData: function (url, param) {
                this.params = param;
                this.setTableData(url, param);
            },

            setTableData: function (url, param) {
                this.loading = true,
                axios.post(url, param)
                 .then(function (response) {
                     this.loading = false;
                     var li = JSON.parse(response.data);
                     var datas = li.EnginListGetResponse.engin_list;
                     this.tableData = datas;
                     this.total = li.EnginListGetResponse.totalCount;
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            handleEdit:function (index, row) {
                window.location.href = "/SanitarySewage/EditPage?id=" + row.s_id;
            },
            handleDel: function (id) {
                this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    this.delForm.S_ID = id;
                    axios.post("/SanitarySewage/DelData", { id: this.delForm.S_ID })
                  .then(function (response) {
                      debugger
                      var tempData = JSON.parse(response.data);
                      if (tempData.EnginSewageUpdateResponse.result) {
                          this.$message({
                              type: 'success',
                              message: '删除成功!'
                          });
                      } else {
                          this.$message.error('删除失败！' + tempData.EnginSewageUpdateResponse.result);
                      } 
                      this.setData('/SanitarySewage/GetTabData', this.params);
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            openFileManage: function (id) {
                window.location.href = '/SanitarySewage/FileManage?id=' + id;
            },
            indexMethod: function (index) {
                return (index + 1) + (this.currentPage - 1) * this.pageSize;
            },
            currentChange: function (val) {
                this.currentPage = val;
                this.params.Page = val;
                this.setData('/SanitarySewage/GetTabData', this.params);
            },

            sizeChange: function (val) {
                this.pageSize = val;
                this.params.pageSize = val;
                this.setData('/SanitarySewage/GetTabData', this.params);
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.sanitarysewageQuery.$el.clientHeight
                var contentH = docH - queryH - 40
                this.height = contentH - 5
            }
        }
    });
</script>

<style>
    #tableData a{
        text-decoration:none;
        font-size:14px;
        color:#2288f1;
        cursor:pointer;
    }
    #tableData th{
        background-color:#F5F5F5;
    }
</style>