@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "工程管理-农村生活污水";
}
@{
    ViewBag.Title = "Index";
}

<div id="app">
    <sanitarysewage-query v-on:emit-event="getEmitEvent" ref="sanitarysewageQuery"></sanitarysewage-query>

    <div style="padding-top: 10px; text-align: center;">
        <el-table v-bind:data="tableData" border v-bind:height="height">
            <el-table-column type="index" label="序号" v-bind:index="(currentPage-1)*pagesize+1" header-align="center" align="center" width="60">
            </el-table-column>
            <el-table-column prop="n_year" label="年度" width="80;" header-align="center">
            </el-table-column>
            <el-table-column header-align="center"
                             label="工程名称">
                <template slot-scope="scope">
                    <a v-on:click="getDetail(scope.row.s_id)">{{ scope.row.s_name }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="s_project_no" label="项目编号" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="n_pace_status" label="工程状态" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="s_town" label="所属镇" width="120" header-align="center">

            </el-table-column>
            <el-table-column prop="s_unit_design" label="设计单位" width="200" header-align="center">

            </el-table-column>
            <el-table-column label="操作" width="260" header-align="center">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button size="mini" type="info">文件管理</el-button>
                    <el-button size="mini" type="danger" v-on:click="handleDel(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-form v-bind:inline="true" label-position="right" size="small">
            <div style="text-align:right;">
                <el-form-item>
                    <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" v-bind:current-page.sync="currentPage" v-bind:page-sizes="[10, 20, 30, 40]" v-bind:page-size="pagesize" v-bind:total="total">
                </el-form-item>
            </div>
        </el-form>
    </div>
</div>

@Html.Partial("~/Views/SanitarySewage/components/query.cshtml")

<script>
    new Vue({
        el: '#app',
        data: {
            height: 0,
            total: 0, //默认数据总数
            pagesize: 10,//每页的数据条数
            currentPage: 1,//默认开始页面
            height: 0,
            tableData: [],
            params:[]
        },
        components: {
            "sanitarysewage-query": query
        },
        mounted: function () {
            this.setSize()
            this.resize()

        },
        methods: {
            getEmitEvent: function (param) {
                this.setData('/SanitarySewage/GetTabData', {
                    page:this.currentPage, pagesize: this.pagesize, sYear: param.sYear, eYear: param.eYear, status: param.status, town: param.town
                });
            },
            getDetail: function (id) {
                window.location.href = '/SanitarySewage/DetailPage?id=' + id;
            },
            setData: function (url, param) {
                this.params = param;
                this.setTableData(url, param);
            },

            setTableData: function (url, param) {
                axios.post(url, param)
                 .then(function (response) {
                     debugger
                     var li = JSON.parse(response.data);
                     var datas = li.EnginListGetResponse.engin_list;
                     this.tableData = datas;
                     this.total = li.EnginListGetResponse.totalCount;
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            handleEdit(index, row) {
                window.location.href = "/SanitarySewage/EditPage?id=" + row.s_id;
            },
            handleDel(index, row) {
            },
            currentChange: function (val) {
                this.params.page = val;
                 this.setData('/SanitarySewage/GetTabData', this.params);
            },

            sizeChange: function (pagesize) {
                this.currentPage = pagesize;
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.sanitarysewageQuery.$el.clientHeight
                var contentH = docH - queryH - 66
                this.height = contentH;
            }
        }
    });
</script>

<style>
    .pagefloat {
        float: left;
    }
</style>