@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "骨干河道工程量统计";
}

<div id="app">
    <gghdgclstatistics-query v-on:emit-event="getEmitEvent" ref="GghdGclStatisticsQuery"></gghdgclstatistics-query>
    <div class="center">
        <com-bar v-bind:option="barOption" v-bind:style='styles'></com-bar>
        <div class="centerradio">
            <el-radio-group v-model="choose" v-on:change="changeChecked" size="small">
                <el-radio label="1">长度</el-radio>
                <el-radio label="2">土方</el-radio>
                <el-radio label="3">硬质护岸</el-radio>
                <el-radio label="4">生态护岸</el-radio>
                <el-radio label="5">桥梁</el-radio>
                <el-radio label="6">岸域绿化</el-radio>
                <el-radio label="7">斜坡绿化</el-radio>
                <el-radio label="8">水深绿化</el-radio>
            </el-radio-group>
        </div>
    </div>
    <com-base-table v-bind:height="height" v-bind:tabledatas="tableData" class="com-base-table"></com-base-table>
</div>

@Html.Partial("~/Views/GghdGclStatistics/components/query.cshtml")
@Html.Partial("~/Views/components/echarts/com_bar.cshtml")
@Html.Partial("~/Views/components/tables/com_base_table.cshtml")


<script>
    new Vue({
        el: '#app',
        data: {
            styles: {
                height: '0px',
                width: '90%',
                float: 'left',
            },
            barOption: null,
            height: 0,
            tableData: {
                tableKey: [],
                tableData: []
            },
            choose: '1',
            barTitle: '骨干河道工程量（长度）统计图',
            tabTitle: '全区（批复）',
        },
        components: {
            'gghdgclstatistics-query': query,
            'com-bar': comBar,
            'com-base-table': comBaseTable,
        },
        mounted: function () {
            this.setSize()
            this.resize()
            this.setData('/GghdGclStatistics/GetData', { startYear: moment().format("YYYY"), endYear: moment().format("YYYY"), qchoose: 'pf' })
        },
        methods: {
            getEmitEvent: function (param) {
                this.setBarTitle();
                this.setData('/GghdGclStatistics/GetData', { startYear: param.startYear, endYear: param.endYear, qchoose: param.qchoose })
            },
            changeChecked: function (param) {
                this.setBarTitle(param);
                if (this.$refs.GghdGclStatisticsQuery.querychoose == "pf") {
                    this.tabTitle = "全区（批复）";
                }
                else {
                    this.tabTitle = "全区（完成）";
                }
                this.setData('/GghdGclStatistics/GetData', { startYear: this.$refs.GghdGclStatisticsQuery.sYear, endYear: this.$refs.GghdGclStatisticsQuery.eYear, qchoose: this.$refs.GghdGclStatisticsQuery.querychoose })

            },

            setData: function (url, param) {
                this.setBarTitle();
                this.setBarData(url, param)
                this.setTableData(url, param)
            },
            setBarData: function (url, param) {
                this.$children[1].charts.showLoading();
                axios.post(url, param).then(function (response) {
                    var tempData = JSON.parse(response.data);
                    var datas = tempData.StatisticsEnginCoreGetResponse.statistics_engin_gcl[parseInt(this.choose) - 1];
                    this.$children[1].charts.hideLoading();
                    this.barOption = {
                        title: {
                            left: 'center',
                            text: this.barTitle,
                            textStyle: {
                                color: '#666666',
                                fontWeight: 'normal',
                                fontSize: 16
                            }
                        },
                        legend: {
                        },
                        xAxis: {
                            type: 'category',
                            data: ['庄行镇', '南桥镇', '拓林镇', '金汇镇', '青村镇', '海湾镇', '奉城镇', '四团镇'],
                            axisTick: {
                                show: false
                            },
                            axisLine: {
                                show: false
                            },
                        },
                        yAxis: {
                            type: 'value',
                            axisLine: {
                                show: false
                            },
                            axisTick: {
                                show: false
                            },
                            axisLabel: {
                                textStyle: {
                                    color: '#999'
                                }
                            }
                        },
                        series: [
                            {
                                name: '',
                                type: 'bar',
                                barWidth: '60%',
                                data: [datas.zh, datas.nq, datas.tl, datas.jh, datas.qc, datas.hw, datas.fc, datas.st]
                            }
                        ]
                    }
                }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },

            setTableData: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.StatisticsEnginCoreGetResponse.statistics_engin_gcl;
                      this.tableData = {
                          tableKey: [
                              {
                                  name: '序号',
                                  type: 'index',
                                  width: '60',
                                  headerAlign: 'center',
                                  align: 'center'
                              }, {
                                  name: '工程量',
                                  value: 'gcl',
                                  headerAlign: 'center',
                              }, {
                                  name: this.tabTitle,
                                  value: 'alllent',
                                  headerAlign: 'center',
                                  align: 'right'

                              }, {
                                  name: '庄行镇',
                                  value: 'zh',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '南桥镇',
                                  value: 'nq',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '柘林镇',
                                  value: 'tl',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '金汇镇',
                                  value: 'jh',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '青村镇',
                                  value: 'qc',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '海湾镇',
                                  value: 'hw',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '奉城镇',
                                  value: 'fc',
                                  headerAlign: 'center',
                                  align: 'right'
                              }, {
                                  name: '四团镇',
                                  value: 'st',
                                  headerAlign: 'center',
                                  align: 'right'
                              }
                          ],
                          tableData: datas
                      }
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            setBarTitle: function () {
                switch (this.choose) {
                    case '1':
                        this.barTitle = '骨干河道工程量（长度）统计图';
                        break;
                    case '2':
                        this.barTitle = '骨干河道工程量（土方）统计图';
                        break;
                    case '3':
                        this.barTitle = '骨干河道工程量（硬质护岸）统计图';
                        break;
                    case '4':
                        this.barTitle = '骨干河道工程量（生态护岸）统计图';
                        break;
                    case '5':
                        this.barTitle = '骨干河道工程量（桥梁）统计图';
                        break;
                    case '6':
                        this.barTitle = '骨干河道工程量（岸域绿化）统计图';
                        break;
                    case '7':
                        this.barTitle = '骨干河道工程量（斜坡绿化）统计图';
                        break;
                    case '8':
                        this.barTitle = '骨干河道工程量（水深绿化）统计图';
                        break;
                    default:
                        break;
                }
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.GghdGclStatisticsQuery.$el.clientHeight
                var contentH = docH - queryH - 40
                this.styles.height = (contentH / 2) + 'px'
                this.height = contentH / 2
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
        }
    });
</script>

<style>
    .center {
        width: 99%;
        position: relative;
    }

    .centerradio {
        width: 7%;
        height: 80%;
        float: left;
        padding-top: 50px;
        font-family: 'Microsoft YaHei';
    }

        .centerradio .el-radio {
            margin-left: 0px !important;
            padding-top: 16px;
            width:82px;
        }
    @@media all and (max-height:632px) {
        .centerradio {
            padding-top: 0px;
        }
    }

    @@media all and (min-height:632px) and (max-height:700px) {
        .centerradio {
            padding-top: 20px;
        }
    }

    @@media all and (min-height:700px) and (max-height:900px) {
        .centerradio {
            padding-top: 50px;
        }
    }
</style>
