@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "设施子系统-设施统计";
}
<div id="app">
    <div class="center">
        <com-bar v-bind:option="barOption" v-bind:style='styles'></com-bar>
        <div class="centerradio">
            <el-radio-group v-model="choose" v-on:change="init(choose)" size="small">
                <el-radio label="1" checked="checked">雨量站</el-radio>
                <el-radio label="2">水位站</el-radio>
                <el-radio label="3">水文站</el-radio>
                <el-radio label="4">水质站</el-radio>
                <el-radio label="5">水表</el-radio>
                <el-radio label="6">管网</el-radio>
                <el-radio label="7">阀门</el-radio>
                <el-radio label="8">水厂</el-radio>
                <el-radio label="9">套闸</el-radio>
            </el-radio-group>
         
          
        </div>
    </div>
    <com-base-table v-bind:height="height" v-bind:tabledatas="tableData" class="com-base-table"></com-base-table>
</div>

@Html.Partial("~/Views/components/echarts/com_bar.cshtml")
@Html.Partial("~/Views/components/tables/com_base_table.cshtml")

<script>
    new Vue({
        
        el: '#app',
        data: {
            styles: {
                height: '0px',
                width: '85%',
                float: 'left',
            },
            barOption: null,
            height: 0,
            tableData: {
                tableKey: [],
                tableData: []
            },
            
            choose: '1',
            charTitle: '雨量站统计图',
        },
        components: {
            'com-bar': comBar,
            'com-base-table': comBaseTable,
        },
        mounted: function () {
            this.setSize()
            this.resize()
            this.init()
        },
        methods: {

            init: function () {
                this.setData('/FacilityStatistics/GetData', null)
            },
            setData: function (url, param) {
                this.setBarData(url, param)
                this.setTableData(url, param)
            },
            setBarData: function (url, param) {
              //  this.$children[1].charts.showLoading();
                axios.post(url)
                  .then(function (response) {
                    //  this.$children[1].charts.hideLoading();
                      switch (this.choose) {
                          case '1':
                              this.charTitle = "雨量站统计图";
                              break;
                          case '2':
                              this.charTitle = "水位站统计图";
                              break;
                          case '3':
                              this.charTitle = "水文站统计图";
                              break;
                          case '4':
                              this.charTitle = "水质站统计图";
                              break;
                          case '5':
                              this.charTitle = "水表统计图";
                              break;
                          case '6':
                              this.charTitle = "管网统计图";
                              break;
                          case '7':
                              this.charTitle = "阀门统计图";
                              break;
                          case '8':
                              this.charTitle = "水厂统计图";
                              break;
                          case '9':
                              this.charTitle = "套闸统计图";
                              break;
                          default:
                              break;

                      }
                      this.barOption = {
                          title: {
                              left: 'center',
                              text: this.charTitle,
                              textStyle: {
                                  color: '#666666',
                                  fontWeight: 'normal',
                                  fontSize: 16
                              }
                          },
                          legend: {
                          },
                          xAxis: {
                              type: 'category',
                              data: ['庄行镇', '南桥镇', '拓林镇', '金汇镇', '青村镇', '海湾镇', '奉城镇', '四团镇'],
                              axisLabel: {
                                  //rotate: 50
                              },
                              axisTick: {
                                  show: false
                              },
                              axisLine: {
                                  show: false
                              },
                          },
                          yAxis: {
                              type: 'value',
                              axisLine: {
                                  show: false
                              },
                              axisTick: {
                                  show: false
                              },
                              axisLabel: {
                                  textStyle: {
                                      color: '#999'
                                  }
                              }
                          },
                          series: [
                              {
                                  name: '',
                                  type: 'bar',
                                  barWidth: '60%',
                                  data: [0, 100, 200, 300, 400, 500, 600, 1100]
                              }
                          ]
                      }
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            setTableData: function (url, param) {
                axios.post(url)
                  .then(function (response) {
                      if (!param) {
                          this.tableData = {
                              tableKey: [
                                   {
                                       name: '序号',
                                       type: 'index',
                                       width: '50',
                                   }, {
                                       name: '设施类型',
                                       value: 'FacilityType',
                                   }, {
                                       name: '全区',
                                       value: 'WholeAreaCompleted',
                                   }, {
                                       name: '庄行镇',
                                       value: 'ZhuangHangTown',
                                   }, {
                                       name: '南桥镇',
                                       value: 'NanQiaoTown',
                                   }, {
                                       name: '柘林镇',
                                       value: 'ZhelinTown',
                                   }, {
                                       name: '金汇镇',
                                       value: 'JinhuiTown',
                                   }, {
                                       name: '青村镇',
                                       value: 'QingCunTown',
                                   }, {
                                       name: '海湾镇',
                                       value: 'HaiWanTown',
                                   }, {
                                       name: '奉城镇',
                                       value: 'FengChengTown',
                                   }, {
                                       name: '四团镇',
                                       value: 'SiTuanTown',
                                   }
                              ],
                              tableData: [{
                                  FacilityType: '雨量站',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '水位站',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '水文站',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '水质站',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '水表',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '管网',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '阀门',
                                  WholeAreaCompleted: '4598',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '290',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '290',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '290'
                              }, {
                                  FacilityType: '水厂',
                                  WholeAreaCompleted: '4238',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '190',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '260',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '260'
                              }, {
                                  FacilityType: '套闸',
                                  WholeAreaCompleted: '4238',
                                  ZhuangHangTown: '298',
                                  NanQiaoTown: '190',
                                  ZhelinTown: '290',
                                  JinhuiTown: '290',
                                  QingCunTown: '260',
                                  HaiWanTown: '290',
                                  FengChengTown: '290',
                                  SiTuanTown: '260'
                              }
                              
                              ]
                          }
                      } else {
                          this.tableData = {
                              //tableKey: [
                              //    {
                              //        name: '序号',
                              //        type: 'index',
                              //        width: '150'
                              //    }, {
                              //        name: '日期',
                              //        value: 'date'
                              //    }, {
                              //        name: '日累计雨量(mm)',
                              //        value: 'dailyRainfall'
                              //    }, {
                              //        name: '最大小时降雨量(mm)',
                              //        value: 'maximumHourlyRain'
                              //    }, {
                              //        name: '最大小时降雨量时间(mm)',
                              //        value: 'maximumHourlyRainTime'
                              //    }],
                              //tableData: [{
                              //    date: '2018-04-02',
                              //    dailyRainfall: '88',
                              //    maximumHourlyRain: '22',
                              //    maximumHourlyRainTime: '2018-04-02 15:00-16:00'
                              //}, {
                              //    date: '2018-04-02',
                              //    dailyRainfall: '88',
                              //    maximumHourlyRain: '22',
                              //    maximumHourlyRainTime: '2018-04-02 15:00-16:00'
                              //}, {
                              //    date: '2018-04-02',
                              //    dailyRainfall: '88',
                              //    maximumHourlyRain: '22',
                              //    maximumHourlyRainTime: '2018-04-02 15:00-16:00'
                              //}, {
                              //    date: '2018-04-02',
                              //    dailyRainfall: '88',
                              //    maximumHourlyRain: '22',
                              //    maximumHourlyRainTime: '2018-04-02 15:00-16:00'
                              //}]
                          }
                      }
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });

            },
            changeChecked: function (param) {
                //this.choose = param;
            },

            MoreEvent: function () {
                this.more = this.param;
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var contentH = docH - 40
                this.styles.height = (contentH / 2) + 'px'
                this.height = contentH / 2
            },

        }
    });
</script>

<style>
    .center {
        width: 99%;
        position: relative;
    }

    .centerradio {
        width: 7%;
        height: 80%;
        float: left;
        padding-top: 100px;
        font-family: 'Microsoft YaHei';
    }

        .centerradio .el-radio + .el-radio {
            margin-left: 0px !important;
            padding-top: 16px;
        }
</style>
