
@{
    ViewBag.Title = "com_zhjcleft";
}
<script id="com_zhjcleft" type="text/x-template">
    <div>
        <div id="hideLeft" ref="hideLe" title="隐藏" v-on:click="hideLeft">
            <img src="/Images/zhjc/hideleft.png" alt="隐藏" />
        </div>
        <div id="showLeft" ref="" title="显示" v-on:click="showLeft">
            <img src="/Images/zhjc/showleft.png" alt="显示" />
        </div>
        <div id="leftcontent">
            <header class="title">
                <span>综合监测筛选</span>
                <span class="smallZt">(共</span><span class="smallZt figure">{{finalMapData.length}}</span><span class="smallZt">条数据)</span>
            </header>
            <div id="jzSelect">
                <!--indeterminate 属性用以表示 checkbox 的不确定状态，一般用于实现全选的效果-->
                <img src="/Images/zhjc/ico_jiezhen.png" /><span class="jztext" style="margin-left:7px;">街镇</span>
                <el-checkbox v-bind:indeterminate="isIndeterminate" v-model="checkAll" v-on:change="handleCheckAllChange" v-bind:checked="true" style="margin-left:59px;">
                    全选
                </el-checkbox>
                <div style="margin: 15px 0;" class="fgdiv"></div>
                <el-checkbox-group v-model="checkedTwons" v-on:change="handleCheckedTwonsChange">
                    <el-row>
                        <el-col v-bind:span="11">
                            <el-checkbox label="庄行镇"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="12">
                            <el-checkbox label="柘林镇"></el-checkbox>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col v-bind:span="11">
                            <el-checkbox label="南桥镇"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="12">
                            <el-checkbox label="青村镇"></el-checkbox>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col v-bind:span="11">
                            <el-checkbox label="金汇镇"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="12">
                            <el-checkbox label="奉城镇"></el-checkbox>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col v-bind:span="11">
                            <el-checkbox label="四团镇"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="12">
                            <el-checkbox label="海湾镇"></el-checkbox>
                        </el-col>
                    </el-row>
                    <el-row >
                        <el-col v-bind:span="10" style="margin-left:12px;">
                            <el-checkbox label="西渡街道"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="12" style="margin-left:5px;">
                            <el-checkbox label="奉浦街道"></el-checkbox>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col v-bind:span="16" style="margin-left:-18px;">
                            <el-checkbox label="金海社区"></el-checkbox>
                        </el-col>
                        <el-col v-bind:span="8" style="margin-left:-5px;">
                            <el-checkbox label="海湾旅游区"></el-checkbox>
                        </el-col>
                    </el-row>
                </el-checkbox-group>
            </div>
            <div id="jcdSelect">
                <el-tabs v-model="jclx" type="card" v-on:tab-click="handleClick">
                    <el-tab-pane label="自动监测点" name="zdjcd">
                        <div id="zdgcxm">
                            <div id="zdgcxmTitle">
                                <img src="/Images/zhjc/ico_自动观测项目.png" />
                                <span>自动观测项目</span>
                            </div>
                            <el-dropdown v-on:command="handleCommand">
                                <div class="el-dropdown-link">
                                    <span ref="selectItem">雨量</span><i class="el-icon-arrow-down el-icon--right"></i>
                                </div>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item command="雨量">雨量</el-dropdown-item>
                                    <el-dropdown-item command="水位">水位</el-dropdown-item>
                                    <el-dropdown-item command="流量">流量</el-dropdown-item>
                                    <el-dropdown-item command="风速风向">风速风向</el-dropdown-item>
                                    <el-dropdown-item command="水质监测">水质监测</el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                        <div id="zdzt">
                            <div id='zdztTitle'><img src="/Images/zhjc/ico_站点状态.png" /> <span>站点状态</span></div>
                            <el-checkbox-group v-on:change="zdztChange" v-model="checkedZdzt">
                                <el-checkbox label="正常"></el-checkbox>
                                <el-checkbox label="设备异常"></el-checkbox>
                            </el-checkbox-group>
                        </div>
                    </el-tab-pane>
                    <el-tab-pane label="人工取样点" name="rgqyd">
                        <div id="rgqyd">
                            <img src="/Images/zhjc/rgqyd/ico_szjcrw.png"/>
                            <span>水质检测任务</span>
                            <el-checkbox-group v-on:change="szjcrwChange" v-model="checkedSzjcrw">
                                <el-row>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="重污染"></el-checkbox>
                                    </el-col>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="黑臭"></el-checkbox>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="水功能"></el-checkbox>
                                    </el-col>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="进出水"></el-checkbox>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="清洁水"></el-checkbox>
                                    </el-col>
                                    <el-col v-bind:span="12">
                                        <el-checkbox label="劣五类"></el-checkbox>
                                    </el-col>
                                </el-row>
                            </el-checkbox-group>
                        </div>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </div>
    </div>
</script>
<script>
    var com_zhjcleft = {
        template: "#com_zhjcleft",
        data: function () {
            return {
                checkAll: false,
                checkedTwons: ['庄行镇', '柘林镇', '南桥镇', '青村镇','金汇镇', '奉城镇', '四团镇', '海湾镇','西渡街道','奉浦街道','金海社区','海湾旅游区'],
                isIndeterminate: false,
                twons: ['庄行镇', '柘林镇', '南桥镇', '青村镇', '金汇镇', '奉城镇', '四团镇', '海湾镇', '西渡街道', '奉浦街道', '金海社区', '海湾旅游区'],
                zdjcxm: ['雨量', '水位', '流量', '风速风向', '水质监测'],  //自动检测项目
                nowxm:'雨量',//当前项目
                jclx: "zdjcd",
                checkedZdzt: ['正常', '设备异常'],
                checkedSzjcrw: ["重污染", "黑臭", "清洁水", "进出水", '水功能', '劣五类'],  //进水,来水
                finalMapData: [],//最后地图和表格中展示的数据
                belowTableTitle: "",//下方表格的title
            };
        },
        created: function () {

        },
        mounted: function () {
            this.afreshSize();
            this.getJCdate();
            const vm = this;
            $(window).resize(function () {
                vm.afreshSize();
            })
        },
        updated: function () {

        },
        methods: {
            afreshSize:function(){
                if (window.screen.height < 900) {
                    $("#leftcontent").css("height", "320px");
                    $("#jzSelect .el-row").css("margin-bottom", "0px");
                    $("#jzSelect > img").css("margin", "0px 0 0 -28px");
                    $("#jzSelect .fgdiv ").css("margin", "0px");
                    $("#jzSelect").css("height", "138px");
                    $("#rgqyd .el-checkbox").css("margin", "3px 0");
                    $("#zdgcxmTitle").css("margin-bottom", "3px");
                    $("#zdztTitle").css("margin", "5px 0 10px");
                    $("#zdzt .el-checkbox").css("margin-top", "-6px");
                    $("#jcdSelect").css("height", "150px");
                }
                else {
                    $("#leftcontent").css("height", "411px");
                    $("#jzSelect .el-row").css("margin-bottom", "3px");
                    $("#jzSelect > img").css("margin", "15px 0 0 -28px;");
                    $("#jzSelect .fgdiv ").css("margin", "15px 0");
                    $("#jzSelect").css("height", "190px");
                    $("#rgqyd .el-checkbox").css("margin", "10px 0;");
                    $("#zdgcxmTitle").css("margin-bottom", "10px");
                    $("#zdztTitle").css("margin", " 20px 0 10px");
                    $("#zdzt .el-checkbox").css("margin", "0 0 10px 0;");
                    $("#jcdSelect").css("height", "247px");
                }
            },
            hideLeft: function () {
                $("#hideLeft").hide();
                $("#jcdSelect").hide();
                $("#leftcontent").animate({ width: "hide" }, "fast", function () {
                    $("#showLeft").show();
                })
            },
            showLeft: function () {
                $("#showLeft").hide();
                $("#jcdSelect").show();
                $("#leftcontent").animate({ width: "show" }, "fast", function () {
                    $("#hideLeft").show();
                })
            },
            //街镇全选框的事件
            handleCheckAllChange: function (val) {
                debugger;
                this.checkedTwons = val ? this.twons : [];//
                this.isIndeterminate = false; //当全选或者全不选时，不确定性为false
                if (val) {
                    //全选
                    this.getJCdate();
                } else {
                    //全取消选择
                    this.belowTableTitle = "未选街镇";
                    this.finalMapData = [];
                    this.dataToFather();
                }
            },
            //具体街镇change事件
            handleCheckedTwonsChange: function (value) {
                debugger;
                var checkedCount = value.length;
                this.checkAll = (checkedCount === this.twons.length);
                this.isIndeterminate = (checkedCount > 0 && checkedCount < this.twons.length);
                //后台取数据
                if (checkedCount == 0) {
                    this.belowTableTitle = "未选街镇";
                    this.finalMapData = [];
                    this.dataToFather();
                } else {
                    this.getJCdate();
                }
               

            },
            //自动、人工监测点tab页的切换事件
            handleClick: function (tab, event) {
                this.getJCdate();
            },
            //检测点下来菜单，菜单项的选择（单击）事件
            handleCommand: function (command) {
                //alert(command);
                debugger;
                this.$refs.selectItem.innerHTML = command;
                this.getJCdate();
            },
            //站点状态改变时
            zdztChange: function () {
                this.getJCdate();
            },
            //水质监测任务改变时
            szjcrwChange: function () {
                this.getJCdate();
            },
            //获取监测数据
            getJCdate: function () {
                var vm = this;
                var strTwons = this.checkedTwons.join(',');
                /**------------------------------------------后台获取数据开始----------------------------------------------------*/
                if (this.jclx == "zdjcd") {
                    debugger;
                    vm.belowTableTitle = vm.$refs.selectItem.innerHTML;
                    //自动监测点分2个接口去数据[{水质监测},{雨量、水位、流量、风速风向}]
                    if (vm.belowTableTitle == "水质监测") {
                        axios.post('/ZHJC/getSZJCdata', { zdzt: vm.checkedZdzt, twons: strTwons }).then(function (response) {
                            debugger
                            var zdjcd_szjc_datas = JSON.parse(response.data).StationInfoGetResponse.station_info_list;
                            console.log(zdjcd_szjc_datas);
                            vm.finalMapData = zdjcd_szjc_datas;
                            vm.dataToFather();
                        });
                    }
                    else { //雨量、水位、流量、风速风向
                        axios.post('/ZHJC/getOtherJCdata', { zdzt: this.checkedZdzt, twons: strTwons, jcxm: this.belowTableTitle }).then(function (response) {
                            debugger
                            var zdjcd_othterJcd_datas = JSON.parse(response.data).StationDistributionInfoGetResponse.station_distribution_info_list;
                            console.log(zdjcd_othterJcd_datas);
                            vm.finalMapData = zdjcd_othterJcd_datas;
                            vm.dataToFather();
                        });
                    }
                }
                else if (vm.jclx == 'rgqyd') {
                    debugger;
                    var rgqydjcrw = vm.checkedSzjcrw.join(',');
                     rgqydjcrw= rgqydjcrw.replace(/进出水/, '进水,出水');
                    vm.belowTableTitle = "人工取样点";
                    axios.post('/ZHJC/getRgqydData', { jcrw: rgqydjcrw, twons: strTwons }).then(function (response) {
                        debugger
                        var rgqyd_datas = JSON.parse(response.data).SamplingPointListGetResponse.sampling_point_list;
                        vm.finalMapData = rgqyd_datas;
                        vm.dataToFather();
                    });
                }
                /***---------------------------------------------后台获取数据结束------------------------------------------*/
            },
            //注册事件，向父组件传递参数
            dataToFather: function () {
                this.$emit("get-data", this.finalMapData, this.belowTableTitle, this.jclx);
            }
        }
    }
</script>
<style>
    #com_zhjcleft {
        display: none;
    }

    #leftcontent {
        width: 240px;
        height: 411px;
        border-right: #cccccc 1px solid;
        border-bottom: #cccccc 1px solid;
        position: absolute;
        z-index: 1301;
        color: #333333;
        background-color: white;
    }

        #leftcontent .title {
            width: 100%;
            height: 32px;
            /*border-bottom: #b9b9b9 1px solid;*/
            /*border-right: 1px solid transparent;*/
            line-height: 32px;
            text-align: center;
            font-family: 'Microsoft YaHei';
            background-color: #ececec;
        }

        #leftcontent .smallZt {
            font-size: 13px;
        }

            #leftcontent .smallZt.figure {
                font-family: Arial;
            }
    /**检测点区域样式*/
    #jcdSelect {
        height: 247px;
    }

        #jcdSelect .el-tabs--card > .el-tabs__header .el-tabs__nav {
            border: none;
        }

        #jcdSelect .el-tabs--card > .el-tabs__header .el-tabs__item {
            width: 120px;
            height: 30px;
            line-height: 30px;
        }

        #jcdSelect .el-tabs__nav-wrap.is-scrollable {
            padding: 0 !important;
        }

        #jcdSelect .el-tabs__nav-prev {
            display: none;
        }

        #jcdSelect .el-tabs__nav-next {
            display: none;
        }
        /**tab栏选中时的样式*/
        #jcdSelect .el-tabs__item.is-active {
            color: white;
            background-color: #2288f1;
            border: none;
        }

    #hideLeft {
        position: absolute;
        z-index: 1255;
        left: 240px;
        top: 0px;
        width: 22px;
        text-align: center;
        height: 32px;
    }

    #showLeft {
        position: absolute;
        z-index: 1255;
        left: 0px;
        top: 0px;
        width: 22px;
        text-align: center;
        height: 32px;
        display: none;
    }

    #jzSelect {
        height: 190px;
        border-bottom: 1px solid #cccccc;
        text-align: center;
    }

        #jzSelect > img {
            height: 12px;
            margin: 15px 0 0 -28px;
        }
   #jzSelect .el-row{
       margin-bottom:3px;
   }
    /*#jzSelect .jztext {
            font-size: 14px;
            margin: 0 77px 0 10px;
        }

        #jzSelect .el-checkbox {
            margin-bottom: 5px;
        }

        #jzSelect .el-checkbox-group {
            margin: -10px 0 0 -25px;
        }*/

    #zdgcxm, #zdzt {
        margin-left: 15px;
        font-size: 14px;
        font-family: 'Microsoft YaHei';
    }

    #zdgcxmTitle {
        margin-bottom: 10px;
    }

        #zdgcxmTitle img {
            margin-bottom: -1px;
            height: 13px;
        }

    #zdztTitle {
        margin: 20px 0 10px;
    }

    #zdgcxm .el-dropdown-link {
        border: 1px solid #ececec;
        width: 190px;
        height: 25px;
        border-radius: 4px;
        line-height: 25px;
    }

        #zdgcxm .el-dropdown-link > span {
            margin-left: 10px;
        }

    #zdgcxm .el-icon--right {
        float: right;
       margin: 5px 4px 0 0px;
    }

    .el-dropdown-menu {
        width: 190px !important;
        height: 150px;
        margin-top: 5px;
        top: 287px;
    }

    .el-dropdown-menu__item {
        line-height: 30px !important;
    }

    #zdzt .el-checkbox {
        margin-bottom: 10px;
    }

    #rgqyd {
        margin-left: 15px;
        font-size: 14px;
        font-family: 'Microsoft YaHei';
    }

        #rgqyd .el-checkbox {
            margin: 10px 0;
        }
</style>
