<script type="x-text/template" id="query">
    <div class="query">
        <el-row style="margin:10px 0px 10px 24px; min-width:1000px;">
            <el-col v-bind:span="8">
                <span>所属镇:</span>
                <el-select v-model="town" placeholder="请选择">
                    <el-option v-for="item in towns"
                               v-bind:key="item.value"
                               v-bind:label="item.label"
                               v-bind:value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col v-bind:span="8">
                <span>水质监测任务:</span>
                <el-select v-model="task" placeholder="请选择" size="small">
                    <el-option v-for="item in tasks"
                               v-bind:value="item">
                    </el-option>
                </el-select>
            </el-col>
            <el-col v-bind:span="8">
                <span>站点名称:</span>
                <el-select v-model="level" placeholder="请选择" size="small">
                    <el-option v-for="item in levels"
                               v-bind:value="item">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>

        <el-row style="margin:15px 0 0 10px;min-width:1000px;">
            <el-col v-bind:span="8">
                <span>统计类型:</span>
                <el-radio-group v-model="radio2">
                    <el-radio label="3">逐日</el-radio>
                    <el-radio label="6">逐月</el-radio>
                    <el-radio label="9">逐年</el-radio>
                </el-radio-group>
            </el-col>

                <el-col v-bind:span="8">
                    <el-button icon="el-icon-arrow-left" v-on:click="preMonth" size="small">上一月</el-button>
                    <el-date-picker v-model="monthValue" style="width:120px;" size="small"
                                    type="month"
                                    value-format="yyyy-MM"
                                    placeholder="选择月"
                                    key="key-date">
                    </el-date-picker>
                    <el-button v-on:click="nextMonth" size="small">下一月<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                </el-col>
                <el-col v-bind:span="8">
                    <el-button type="primary" icon="el-icon-search" v-on:click="getQyjlData" size="small">查询</el-button>
                    <el-button type="primary" icon="el-icon-upload2" size="small">导出</el-button>
                </el-col>
</el-row>
    </div>
</script>

@Html.Partial("~/Views/components/forms/com_select.cshtml")

<script>
    var query = ({
        template: '#query',
        data: function () {
            return {
                town:[],
                towns: [{
                    value: "1",
                    label: "庄行镇",
                    },{ value: "2",
                    label: "南桥镇"},{
                    value: "3",
                    label: "拓林镇",
                    }],
                levels:[],
                level: '',
                gNameNum: '',
                radio2:'3',
            }
        },
        components: {
            'com-select': comSelect
        },
        watch: {
            type: function (val, oldVal) {
                this.emitEvent()
            }
        },
        methods: {
            emitEvent: function () {

            },

            changeChecked: function () {
                this.$parent.changeChecked()
            }
        }
    })
</script>

<style>
    .query {
        font-size: 14px;
        padding: 10px 20px 0px 20px;
        border-bottom: 1px solid #dcdcdc;
    }

    .butcx {
        margin-left: 50px;
    }

    .tjwd {
        margin-left: 50px;
    }
</style>