
<script type="text/x-template" id="query">
    <div id="appquery">
        <div class="query">
            <el-form v-bind:inline="true" size="small">
                <el-form-item label="所属镇：">
                    <el-select v-model="townValue" class="selCss">
                        <el-option v-for="item in townOption" 
                                   v-bind:key="item.s_cd_key2" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="水质监测任务：">
                    <el-select v-model="waterValue" class="selCss">
                        <el-option v-for="item in waterOption" 
                                   v-bind:key="item.s_sk_key" 
                                   v-bind:label="item.s_sz_value" 
                                   v-bind:value="item.s_sz_value">
                        </el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="站点名称：" style="margin-left:10px;">
                    <el-select v-model="siteValue" class="selCss">
                        <el-option v-for="item in siteOption" 
                                    v-bind:key="item.key" 
                                   v-bind:label="item.value" 
                                   v-bind:value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="统计类别：" style="margin-left:10px;">
                    <el-radio-group v-model="querychoose" size="small">
                        <el-radio label="zy">逐月</el-radio>
                        <el-radio label="zn">逐年</el-radio>
                    </el-radio-group>
                </el-form-item>
                
                <el-form-item label="日期：" v-if="querychoose ==='zy'" style="margin-left:10px;">
                    <el-button icon="el-icon-arrow-left" v-on:click="preYear">上一年</el-button>
                    <el-date-picker v-model="yearValue" style="width:120px;"
                                    type="year"
                                    value-format="yyyy"
                                    placeholder="选择年"
                                    key="key-year">
                    </el-date-picker>
                    <el-button v-on:click="nextYear">下一年<i class="el-icon-arrow-right el-icon--right"></i></el-button>
                </el-form-item>

                <el-form-item label="日期：" v-else-if="querychoose ==='zn'" style="margin-left:10px;">
                    <el-date-picker v-model="startYearValue" style="width:120px;"
                                    type="year"
                                    value-format="yyyy"
                                    placeholder="选择年"
                                    key="key-year">
                    </el-date-picker>
                    <el-date-picker v-model="endYearValue"style="width:250px;"
                                    type="year"
                                    value-format="yyyy"
                                    placeholder="选择年"
                                    range-separator="至"
                                    start-placeholder="开始日期"
                                    end-placeholder="结束日期">
                    </el-date-picker>
                </el-form-item>

                <el-form-item style="margin-left:10px;">
                    <el-button type="primary" icon="el-icon-search" v-on:click="emitEvent">查询</el-button>
                    <el-button type="primary" icon="el-icon-search">导出</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</script>

@Html.Partial("~/Views/components/forms/com_select.cshtml")

<script>
    var query = ({
        template: '#query',
        data: function () {
            return {
                param: {
                    town: '',
                    site: '',
                    choose: '',
                    month: '',
                    year: '',
                    startYearValue: '',
                    endYearValue: '',
                },
                value6: '',
                townValue: '',
                waterValue:'',
                siteValue: '',
                townOption: [],
                waterOption: [{ "s_sk_key": "0", "s_sz_value": "清洁水" },
                             { "s_sk_key": "1", "s_sz_value": "进水" },
                             { "s_sk_key": "2", "s_sz_value": "水功能" },
                             { "s_sk_key": "3", "s_sz_value": "来水" },
                             { "s_sk_key": "4", "s_sz_value": "劣5类" },
                             { "s_sk_key": "5", "s_sz_value": "其他" },
                              { "s_sk_key": "6", "s_sz_value": "重污染" },
                             { "s_sk_key": "7", "s_sz_value": "黑臭" }
                             ],
                siteOption: [],
                querychoose: 'zy',
                startYearValue: moment().add(-8, "y").format("YYYY"),
                endYearValue: moment().format("YYYY"),
                yearValue: moment().format('YYYY'),
            }
        },
        mounted: function() {
            this.init();
        },
        components: {
            'com-select': comSelect
        },
        methods: {
            init: function () {
                this.getTown("/SamplingSZStatistics/GetDictionary", { type: "街镇" });
                this.getPointSite("/SamplingSZStatistics/GetPointSite", { town: "柘林镇", task: "劣5类" });
            },
            getTown: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.DictionaryGetResponse.list;
                      this.townOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getPointSite: function (url, type) {
                axios.post(url, type)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      var datas = tempData.StatisticsSinglePointSiteResponse.key_value;
                      this.siteOption = datas;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },

            emitEvent: function () {
                this.param.town = this.townValue;
                this.param.site = this.siteValue;
                if (this.querychoose == 'zy') {
                    this.param.year = this.yearValue;
                } else if (this.querychoose == 'zn') {
                    this.param.startYearValue = this.startYearValue;
                    this.param.endYearValue = this.endYearValue;
                }
                this.param.choose = this.querychoose;
                this.$emit('emit-event', this.param);
            },
            preYear: function () {
                this.yearValue = moment(this.yearValue, "YYYY").subtract(1, 'y').format('YYYY')
            },
            nextYear: function () {
                this.yearValue = moment(this.yearValue, "YYYY").add(1, 'y').format('YYYY')
            },
        }
    })
</script>

<style>
    #appquery .query {
        font-size: 14px;
        padding: 10px 20px 0px 20px;
        border-bottom: 1px solid #dcdcdc;
    }

    #appquery .selCss {
        width: 120px;
    }

    #appquery .txtInput {
        float: left;
        padding-right: 20px;
    }

    #appquery .btnSel {
        height: 32px;
        padding-left: 20px;
        padding-top: -3px;
    }

    #appquery .btnImport {
        width: 100px;
        height: 32px;
        padding-left: 20px;
        background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
        border: 0px;
    }

        #appquery .btnImport:focus {
            background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
        }

        #appquery .btnImport:hover {
            background-image: url(/Images/gcgl/btn_piliangdr_active.png);
        }
</style>

