
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "奉贤区水务公共信息平台";
}

<link href="~/Content/overtime/css/404.css" rel="stylesheet" />
<script type="text/javascript">
            $(function() {
                var h = $(window).height();
                $('.mianBox').height(h);
                centerWindow(".tipInfo");
            });

            //2.将盒子方法放入这个方，方便法统一调用
            function centerWindow(a) {
                center(a);
                //自适应窗口
                $(window).bind('scroll resize',
                        function() {
                            center(a);
                        });
            }

            //1.居中方法，传入需要剧中的标签
            function center(a) {
                var wWidth = $(window).width();
                var wHeight = $(window).height();
                var boxWidth = $(a).width();
                var boxHeight = $(a).height();
                var scrollTop = $(window).scrollTop();
                var scrollLeft = $(window).scrollLeft();
                var top = scrollTop + (wHeight - boxHeight) / 2;
                var left = scrollLeft + (wWidth - boxWidth) / 2;
                $(a).css({
                    "top": top,
                    "left": left
                });
            }
</script>

<div class="mianBox">
    <img src="~/Content/overtime/images/yun0.png" alt="" class="yun yun0" />
    <img src="~/Content/overtime/images/yun1.png" alt="" class="yun yun1" />
    <img src="~/Content/overtime/images/yun2.png" alt="" class="yun yun2" />
    <img src="~/Content/overtime/images/bird.png" alt="" class="bird" />
    <img src="~/Content/overtime/images/san.png" alt="" class="san" />
    <div class="tipInfo">
        <div class="in">
            <div class="textThis">
                <h2>登陆已过期，请重新登陆...</h2>
                @*<p><span>页面自动<a id="href" href="/Login/Index">系统登录页面</a></span><span>等待<b id="wait">6</b>秒</span></p>*@
                <p style="padding-bottom:30px;"><a id="href" href="/Login/Index">系统登录页面</a></p>
                <p style="padding-top:0;"><a id="href" href="/Login/ProjectOutside">法人或设计单位登录页面</a></p>
                <script type="text/javascript">
                            //(function() {
                            //    var wait = document.getElementById('wait')
                            //    var href = document.getElementById('href').href
                            //    var interval = setInterval(function() {
                            //        var time = --wait.innerHTML;
                            //        if (time <= 0) {
                            //            location.href = href;
                            //            clearInterval(interval);
                            //        }
                            //        ;
                            //    }, 1000);
                            //})();
                </script>
            </div>
        </div>
    </div>
</div>