
@{
    ViewBag.Title = "水质取样记录";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="app">
    <header>
        <el-row style="margin:10px 0px 10px 24px; min-width:1000px;">
            <el-col v-bind:span="8">
                <span>所属镇:</span>
                <el-select v-model="town" placeholder="请选择">
                    <el-option v-for="item in towns"
                               v-bind:key="item.value"
                               v-bind:label="item.label"
                               v-bind:value="item.value">
                    </el-option>
                </el-select>
            </el-col>
            <el-col v-bind:span="8">
                <span>水质监测任务:</span>
                <el-select v-model="task" placeholder="请选择">
                    <el-option v-for="item in tasks"
                               v-bind:value="item">
                    </el-option>
                </el-select>
            </el-col>
        </el-row>
        <el-row style="margin:15px 0 0 10px;min-width:1000px;">
            <el-col v-bind:span="8">
                <span>河道等级:</span>
                <el-select v-model="level" placeholder="请选择">
                    <el-option v-for="item in levels"
                               v-bind:value="item">
                    </el-option>
                </el-select>
            </el-col>
            <el-col v-bind:span="8">
                <el-button icon="el-icon-arrow-left" v-on:click="preMonth">上一月</el-button>
                <el-date-picker v-model="monthValue" style="width:120px;"
                                type="month"
                                value-format="yyyy-MM"
                                placeholder="选择月"
                                key="key-date">
                </el-date-picker>
                <el-button v-on:click="nextMonth">下一月<i class="el-icon-arrow-right el-icon--right"></i></el-button>
            </el-col>
            <el-col v-bind:span="8">
                <el-button type="primary" icon="el-icon-search" v-on:click="getQyjlData">查询</el-button>
                <el-button type="primary" icon="el-icon-upload2">导出</el-button>
            </el-col>
        </el-row>
    </header>
    <el-table v-bind:data="qyjlData.slice((currentPage-1)*pagesize,currentPage*pagesize)" highlight-current-row style="width: 100%;" v-bind:border='true' stripe v-on:cell-click="lookThisQyjl">
        <el-table-column type="index" v-bind:index="indexOrder" width="100" label='序号' property="index">
        </el-table-column>
        <el-table-column property="s_river_name" label="河道名称">
        </el-table-column>
        <el-table-column property="s_sampling_address" label="断面名称">
        </el-table-column>
        <el-table-column property="s_lx" label="流向">
            <!--接口无该字段-->
        </el-table-column>
        <el-table-column property="n_monitor_ss" label="水色">
            <!--接口无该字段-->
        </el-table-column>
        <el-table-column property="n_monitor_sw" label="水温(℃)">
        </el-table-column>
        <el-table-column property="s_xhw" label="嗅和味">
            <!--接口无该字段-->
        </el-table-column>
        <el-table-column property="n_monitor_rjy" label="溶解氧(mg/l)">
        </el-table-column>
        <el-table-column property="n_monitor_tmd" label="透明度(cm)">
        </el-table-column>
        <el-table-column property="n_monitor_dw" label="氧化还原电位(mv))">
        </el-table-column>
        <el-table-column property="t_report_time" label="取样时间">
        </el-table-column>
    </el-table>
    <el-pagination v-on:size-change="pagesize_Change" v-on:current-change="current_change" v-bind:current-page="currentPage" v-bind:page-sizes="[2, 3, 4, 5,6,7,8,9,10,11,12,13,14]" v-bind:page-size="pagesize" layout="total, sizes, prev, pager, next, jumper" v-bind:total="qyjlData.length">
    </el-pagination>
    <!--断面取样记录弹窗-->
    <el-dialog v-bind:visible.sync="qyjlDialogVisible" v-bind:before-close="handleClose" v-bind:title="nowDmName">
        <div class="titlebg"></div>
       <div id="qyjlSelect">
            <span class="sqqyjltext">水质取样记录</span>
            <el-date-picker v-model="qyjlStartTime" type="datetime" placeholder="选择时间" class="qyjlDatePicker">
            </el-date-picker>
            <span class="demonstration">-</span>
            <el-date-picker v-model="qyjlEndTime" type="datetime" placeholder="选择时间" class="qyjlDatePicker">
            </el-date-picker>
            <span id="qyjlBtnRange">
                <el-button type="primary" icon="el-icon-search">查询</el-button>
                <el-button type="primary" icon="el-icon-upload2">导出</el-button>
            </span>
        </div>
        <!----<div id="qyjlContent">
            <ul v-for="(qyjl,index) in qyjlData" style="list-style:none;" id="qypic">
                <li>
                    <el-row>
                        <el-col v-bind:span="6" v-bind:id="'qypicture'+index">
                            <div style="margin-top:6px;width:195px;height:110px;background:url(/Images/zhjc/rgqyd/img_暂无图片.png) no-repeat;cursor:pointer" v-bind:id="'nopic'+index" title="暂无图片" v-if="!isHavePic(qyjl)">

                            </div>
                            <el-carousel trigger="click" height="130px" arrow="hover" v-bind:autoplay='false' v-if="isHavePic(qyjl)" style="width:195px;">
                                <el-carousel-item v-for="item in qyjl.full_paths" v-bind:key="item" v-if="notVideoUrl(item)">
                                    <img v-bind:src='item' style="width:195px;height:110px;cursor:pointer;margin-top:6px;" title="查看大图" />
                                </el-carousel-item>
                            </el-carousel>
                        </el-col>
                        <el-col v-bind:span="18">
                            <el-row>
                                <el-col v-bind:span="8">取样时间:{{qyjl.t_report_time}}</el-col>
                                <el-col v-bind:span="8">取样单位:{{qyjl.n_monitor_dw}}</el-col>
                                <el-col v-bind:span="8">操作人员:{{qyjl.s_sampling_operator}}</el-col>
                            </el-row>
                            <el-row>
                                <el-col v-bind:span="8"><span style="margin-left:27px;">风向:</span>{{qyjl.s_monitor_fx}}</el-col>
                                <el-col v-bind:span="8"><span style="margin-left:27px;">水色:</span>{{qyjl.s_monitor_ss}}</el-col>
                                <el-col v-bind:span="8"><span style="margin-left:27px;">水温:</span>{{qyjl.n_monitor_sw}}</el-col>
                            </el-row>
                            <el-row>
                                <el-col v-bind:span="8"><span style="margin-left:13px;">嗅和味:</span>{{qyjl.s_monitor_xhw}}</el-col>
                                <el-col v-bind:span="8"><span style="margin-left:13px;">溶解氧:</span>{{qyjl.n_monitor_rjy}}</el-col>
                                <el-col v-bind:span="8"><span style="margin-left:13px;">透明度:</span>{{qyjl.n_monitor_tmd}}</el-col>
                            </el-row>
                            <el-row>
                                <el-col v-bind:span="8">
                                    <el-col v-bind:span="12">
                                        <span>查看视频:</span><img v-on:click="showVideoDialog(qyjl.full_paths)" src="/Images/zhjc/btn_shipin.png" style="margin-left:3px;cursor:pointer;" title="查看视频" />
                                    </el-col>
                            </el-row>
                            <el-row>
                                <el-col v-bind:span="24"><span style="margin-left:27px;">备注:</span>{{qyjl.s_remark}}</el-col>
                            </el-row>
                        </el-col>
                    </el-row>
                    <hr style="margin-right:10px;" />
                </li>
            </ul>
        </div>-->
    </el-dialog>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            towns: [{
                value: '奉贤区',
                label: '奉贤区'
            }, {
                value: '庄行镇',
                label: '庄行镇'
            }, {
                value: '拓林镇',
                label: '拓林镇'
            }, {
                value: '南桥镇',
                label: '南桥镇'
            }, {
                value: '青村镇',
                label: '青村镇'
            }, {
                value: '金汇镇',
                label: '金汇镇'
            }, {
                value: '奉城镇',
                label: '奉城镇'
            }, {
                value: '四团镇',
                label: '四团镇'
            }, {
                value: '海湾镇',
                label: '海湾镇'
            }],
            town: '拓林镇',
            tasks: ["全部", "重污染", "黑臭", "清洁水", "进出水", '水功能', '劣五类'],
            task: '全部',
            levels: ['全部', '市、区级', '镇级', '村级'],
            level: '全部',
            monthValue: moment().format('YYYY-MM'),
            qyjlData: [], //取样记录数据
            currentPage: 1,
            pagesize: 5,  //每个分页显示的数
            qyjlDialogVisible: false,
            nowDmName: "",//当前断面名字
            qyjlStartTime: moment().format('YYYY-MM-DD'),
            qyjlEndTime: moment().format('YYYY-MM-DD'),
        },
        components: {

        },
        mounted: function () {
            this.getQyjlData();
        },
        methods: {
            preMonth: function () {
                this.monthValue = moment(this.monthValue, "YYYY-MM").subtract(1, 'M').format('YYYY-MM');
            },
            nextMonth: function () {
                this.monthValue = moment(this.monthValue, "YYYY-MM").add(1, 'M').format('YYYY-MM')
            },
            getQyjlData: function () {
                var selectTwon = "", selectTask = "", selectLevel = "";
                if (this.town == "奉贤区") {
                    selectTwon = "庄行镇, 柘林镇,南桥镇,青村镇,金汇镇,奉城镇,四团镇,海湾镇,西渡街道,奉浦街道,金海社区,海湾旅游区";
                } else {
                    selectTwon = this.town;
                }
                if (this.task == "全部") {
                    selectTask = "重污染,黑臭,清洁水,进出水,水功能, 劣五类";
                } else {
                    selectTask = this.task;
                }
                if (this.level == "全部") {
                    selectLevel = "市、区级,镇级,村级";
                } else {
                    selectLevel = this.level;
                }
                debugger;
                const vm = this;
                axios.post('/SZQYJL/getSzqyjl', { town: selectTwon, task: selectTask, level: selectLevel, time: this.monthValue, }).then(function (response) {
                    debugger;
                    vm.qyjlData = JSON.parse(response.data).StatisticsSamplingPointListGetResponse.statistics_sampling_point_list;
                });
            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
            },
            pagesize_Change: function (val) {
                //pageszie-每页的数量改变时
                this.pagesize = val;
            },
            indexOrder: function (index) {
                var startnum = (this.currentPage - 1) * this.pagesize;
                return index + 1 + startnum;
            },
            //查看当断面的取样记录
            lookThisQyjl: function (row, column, cell, event) {
                debugger;
                var nowdmqyData = {};//当前断面取样数据
                for (var i = 0; i < this.qyjlData.length; i++) {
                    if (cell.textContent == this.qyjlData[i].s_sampling_address) {
                        nowdmqyData = this.qyjlData[i];
                        break;
                    }
                }
                if (cell.className == "el-table_1_column_3  ") {
                    alert(nowdmqyData.s_id);
                    this.qyjlStartTime = moment().format('YYYY-MM-DD');
                    this.qyjlStartTime = moment(this.qyjlStartTime, "YYYY-MM-DD").subtract(1, 'y').format('YYYY-MM-DD');
                    this.qyjlEndTime = moment(this.qyjlEndTime).format('YYYY-MM-DD');
                    this.qyjlDialogVisible = true;
                    this.nowDmName = nowdmqyData.s_sampling_address;
                }
            },
            //关闭dialog弹框时的回调
            handleClose: function (done) {
                done();
            },
        },
    })
</script>
<style scoped>
    html, body, #app {
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    header {
        font-size: 14px;
        font-family: 宋体;
        color: #333333;
        border-bottom: 1px solid #b9b9b9;
        height: 100px;
        width: 100%;
    }

        header .el-select .el-input__inner {
            width: 150px;
            height: 32px;
        }

    .el-input__inner {
        height: 32px;
    }

    header .el-button {
        padding: 8px 16px;
    }

    header .el-input__icon {
        line-height: 32px;
    }

    .el-table thead {
        background-color: #F5F5F5;
    }
    tbody .el-table_1_column_3 {
        color: blue;
    }
   .el-dialog {
        height: 600px;
        width: 900px;
        position: relative;
    }
    .el-dialog__header {
      background-color: #2288f1;
      padding: 10px 20px;
    }
   .titlebg {
        background-color: white;
        width: 5px;
        height: 18px;
        position: absolute;
        top: 13px;
        left: 9px;
    }
   .el-dialog__headerbtn .el-dialog__close {
         color: white;
     }
    .el-dialog__headerbtn .el-dialog__close:hover {
          color: white;
           background-color: #6eb1f6;
      }
   .el-dialog__headerbtn {
        top: 13px;
        right: 16px;
    }
     .el-dialog__title {
        color: white;
    }
        #qyjlSelect {
        margin: -10px 0 12px 0px;
    }
        #qyjlSelect .sqqyjltext {
            margin-right: 30px;
            font-size: 16px;
            color: #666666;
            font-family: 'Microsoft YaHei';
        }
        #qyjlSelect .el-button{
            padding:8px 15px;
        }
        #qyjlSelect .el-input__icon {
        line-height: 34px;
     }
        #qyjlSelect .el-date-editor.el-input, .el-date-editor.el-input__inner{
            width:200px;
        }
</style>
