
<script type="text/x-template" id="defaultPage">
    <div id="defaultpage">
        <div id="queryhead">             
            <el-form v-bind:inline="true" size="small">
                <el-form-item>
                    <el-input v-bind:placeholder="promptMessage" prefix-icon="el-icon-search" size="small" v-model="frName">
                    </el-input>
                </el-form-item>
                <el-form-item style="padding-left:20px;">
                    <el-button type="primary" icon="el-icon-search" class="btnSel"  v-on:click="queryFRinfo">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="btnAdd" v-on:click="showAddPage"></el-button>
                    <el-button type="primary" class="btnDown"></el-button>
                    <el-button type="primary" class="btnImport"></el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-upload2" v-on:click="exportExcel" size="small" plain>导出</el-button>
                </el-form-item>
            </el-form>           
        </div>
        <div id="out-table">
            <el-table v-bind:data="frData"   v-loading="loading"    highlight-current-row style="width:100%;" v-bind:border='true' v-bind:stripe="true" v-bind:height="tableHeight">
                <el-table-column type="index" v-bind:index="indexOrder" width="100" label='序号' header-align="center" align="center">
                </el-table-column>
                <el-table-column property="s_name" label="法人姓名" header-align="center" align="center">
                </el-table-column>
                <el-table-column property="s_account" label="账号" header-align="center" align="left">
                </el-table-column>
                <el-table-column property="engin_name" label="关联未完结工程" header-align="center" align="left">
                </el-table-column>
                <el-table-column property="cz" label="操作" header-align="center" align="center">
                    <template slot-scope="scope">
                        <el-button size="mini" v-on:click="showEditPage(scope)">编辑</el-button>
                        <el-button size="mini" type="danger" v-on:click="deletFRinfo(scope)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <el-pagination layout="total, sizes, prev, pager, next, jumper" v-on:size-change="pagesize_Change" v-on:current-change="current_change" v-bind:current-page="currentPage" v-bind:page-sizes="[2, 3, 4, 5,6,7,8,9,10,11,12,13,14]" v-bind:page-size="pagesize" v-bind:total="frTotalCount">
        </el-pagination>
    </div>
</script>
<script>
    var defaultPage = {
        template: "#defaultPage",
        data: function () {
            return {
                promptMessage: "请输入法人姓名",
                tableHeight: document.documentElement.clientHeight - (53 + 34),
                frData: [],
                frTotalCount:0,
                currentPage: 1,
                pagesize: 14,
                addpage_visible: false,
                editpage_visible: false,
                nowEditData: null,//当前编辑的数据
                frName: "",
                loading:true,
            }
        },
        components: {

        },
        mounted: function () {
            const vm = this;
            $(window).resize(function () {
                vm.tableHeight = document.documentElement.clientHeight - (53 + 34);
            });
            vm.queryFRinfo();
        },
        methods: {
            indexOrder: function (index) {
                var beginIndex = index + 1 + (this.currentPage - 1) * this.pagesize;
                return beginIndex;
            },
            current_change: function (currentPage) {
                this.currentPage = currentPage;
                this.queryFRinfo();
            },
            pagesize_Change: function (pagesize) {
                this.pagesize = pagesize;
                this.queryFRinfo();
            },
            showAddPage: function () {
                this.addpage_visible = true;
                this.editpage_visible = false;
                this.dataToFather();
            },
            showEditPage: function (scope) {
                var rowInfo = scope.row;//当前行信息
                var index = scope.$index; //当前行在数据数组中的序号，0开始
                this.nowEditData = this.frData[index];
                this.editpage_visible = true;
                this.addpage_visible = false;
                this.dataToFather();
            },
            dataToFather: function () {
                this.$emit("defaultpage-event", this.addpage_visible, this.editpage_visible, this.nowEditData);
            },
            //查询法人信息
            queryFRinfo: function () {
                //this.$message("查询法人姓名");
                const vm = this;
                vm.loading = true;
                axios.post("/LegalPersonManger/queryFrInfo", { currentPage: this.currentPage, pagesize: this.pagesize, frName: this.frName }).then(function (response) {      
                    var result = JSON.parse(response.data).EnginLegalPersonListGetResponse;   //totalCount  engin_unit_person_list
                    vm.frData = result.engin_unit_person_list;
                    vm.frTotalCount = result.totalCount;
                    vm.loading = false;
                    
                 })
            },
            //删除法人信息
            deletFRinfo: function (scope) {
                debugger;
                const vm = this;
                var rowInfo = scope.row;//当前行信息
                var frId = rowInfo.s_id;
                var deleteDesOrg = window.confirm("确认删除？");
                if (deleteDesOrg) {
                    //deleteFrInfo
                    axios.post("/LegalPersonManger/deleteFrInfo", { s_id: frId }).then(function (response) {
                        debugger;
                        var result = JSON.parse(response.data).EnginLegalPersonUpdateResponse.result;
                        if (result) {
                            vm.$message("删除成功");
                            vm.queryFRinfo();
                        }
                    });
                 
                }
                else {
                    this.$message("取消删除");
                }
            },
            exportExcel:function () {
                debugger;
                /* generate workbook object from table */
                var wb = XLSX.utils.table_to_book(document.querySelector('#out-table'))
                /* get binary string as output */
                var wbout = XLSX.write(wb, { bookType: 'xlsx', bookSST: true, type: 'array' })
                try {
                    FileSaver.saveAs(new Blob([wbout], { type: 'application/octet-stream' }), 'sheetjs.xlsx')
                }
                catch (e) {
                    if (typeof console !== 'undefined')
                        console.log(e, wbout);
                }
                return wbout;
            },
        },
        watch: {

        },
    }
</script>
<style>
    #queryhead {
        margin-left: 10px;
        min-width: 700px;
        height:50px;
    }
        #queryhead .btnSel {
            padding: 8px 12px;
            margin-left: 0px;
        }

        #queryhead .el-input--small {
            width: 220px;
        }

        #queryhead .btnAdd {
            width: 73px;
            height: 32px;
            padding-left: 20px;
            background: url(/Images/gcgl/btn_xinzeng_normal.png) no-repeat;
            border: 0px;
        }

            #queryhead .btnAdd:focus {
                background: url(/Images/gcgl/btn_xinzeng_normal.png) no-repeat;
            }

            #queryhead .btnAdd:hover {
                background: url(/Images/gcgl/btn_xinzeng_active.png) no-repeat;
            }

            #queryhead .btnAdd:active {
                background: url(/Images/gcgl/btn_xinzeng_active.png) no-repeat;
            }

        #queryhead .btnDown {
            width: 100px;
            height: 32px;
            padding-left: 20px;
            background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
            border: 0px;
        }

            #queryhead .btnDown:focus {
                background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
            }

            #queryhead .btnDown:hover {
                background-image: url(/Images/gcgl/btn_mobanxz_active.png);
            }

        #queryhead .btnImport {
            width: 100px;
            height: 32px;
            padding-left: 20px;
            background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
            border: 0px;
        }

            #queryhead .btnImport:focus {
                background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
            }

            #queryhead .btnImport:hover {
                background-image: url(/Images/gcgl/btn_piliangdr_active.png);
            }
          .el-table__body-wrapper {
           overflow-y: auto !important;
       }
    .el-table--border{
        margin-bottom:4px;
    }
    /*.el-pagination{
        float:right
    }*/
</style>
