
@{
    ViewBag.Title = "法人管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/LegalPersonManger/components/defaultPage.cshtml")
@Html.Partial("~/Views/LegalPersonManger/components/addPage.cshtml")
@Html.Partial("~/Views/LegalPersonManger/components/editPage.cshtml")
<div id="frmanger">
    <default-page v-on:defaultpage-event="getDefaultpageDate">
        <!--v-bind:属性名一定要小写-->
    </default-page>
    <add-page ref="addPage">

    </add-page>
    <edit-page ref="editPage">

    </edit-page>
</div>
<script>
    new Vue({
        el: "#frmanger",
        components: {
            "default-page": defaultPage,
            "add-page": addPage,
            "edit-page": editPage,
        },
        data: {

        },
        mounted: function () {

        },
        methods: {
            getDefaultpageDate: function (addpage_visible, editpage_visible, nowEditData) {
                debugger;
                this.$refs.addPage.addDialogVisible = addpage_visible;
                this.$refs.editPage.editDialogVisible = editpage_visible;
                //sjdwmc: "",
                //account: "",
                //password:"",
               // yearVlue: moment().format('YYYY'),
               // town: "奉贤区",
                //nowPrjClass: "骨干河道",
                /*----------------进入编辑页面默认看到的信息->当前选中编辑的信息-------------------------------*/
                if (editpage_visible) {
                    this.$refs.editPage.frname = nowEditData.frname;
                    this.$refs.editPage.account = nowEditData.zh;
                    this.$refs.editPage.password = nowEditData.mm;
                    this.$refs.editPage.yearVlue = nowEditData.nf;
                    this.$refs.editPage.town = nowEditData.town;
                    this.$refs.editPage.nowPrjClass = nowEditData.gzclass;
                }
            }
        },
    })
</script>
<style scoped>
    html, body, #sjdwgl {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>


