
@{
    ViewBag.Title = "法人管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/LegalPersonManger/components/defaultPage.cshtml")
@Html.Partial("~/Views/LegalPersonManger/components/addPage.cshtml")
@Html.Partial("~/Views/LegalPersonManger/components/editPage.cshtml")
<div id="frmanger">
    <default-page  ref="defaultPage"   v-on:defaultpage-event="getDefaultpageDate">
        <!--v-bind:属性名一定要小写-->
    </default-page>
    <add-page ref="addPage" v-on:refresh-event="refreshDispaly">

    </add-page>
    <edit-page ref="editPage" v-bind:now_edit_data="now_edit_data"  v-on:refresh-event="refreshDispaly">

    </edit-page>
</div>
<script>
    new Vue({
        el: "#frmanger",
        components: {
            "default-page": defaultPage,
            "add-page": addPage,
            "edit-page": editPage,
        },
        data: {
            now_edit_data: null,//当前编辑的数据
        },
        mounted: function () {

        },
        methods: {
            getDefaultpageDate: function (addpage_visible, editpage_visible, nowEditData) {
                debugger;
                this.$refs.addPage.addDialogVisible = addpage_visible;
                this.$refs.editPage.editDialogVisible = editpage_visible;
                this.now_edit_data = nowEditData;
                if (addpage_visible) {
                    this.$refs.addPage.frmc = "";
                    this.$refs.addPage.account = "";
                    this.$refs.addPage.password = "";
                    this.$refs.addPage.queryProjct_add();//查询没有被关联的工程
                } 
                /*----------------进入编辑页面默认看到的信息->当前选中编辑的信息-------------------------------*/
                if (editpage_visible) {
                    this.$refs.editPage.frmc = nowEditData.s_name;
                    this.$refs.editPage.account = nowEditData.s_account;
                    this.$refs.editPage.password = nowEditData.s_password;
                    const vm = this;
                    setTimeout(function () {
                        vm.$refs.editPage.queryProjct_edit();//查询已关联和未关联工程
                    }, 100)
                }
            },
            //编辑、新增、删除后，刷新页面
            refreshDispaly: function () {
                this.$refs.defaultPage.queryFRinfo();
            },
        },
    })
</script>
<style scoped>
    html, body, #sjdwgl {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
</style>


