<script type="text/x-template" id="query">
    <div>
        <div class="query">
            <el-form v-bind:inline="true" size="small">
                <el-form-item label="年度：">
                    <el-date-picker type="year" v-model="beginYear" placeholder="选择年份" value-format="yyyy" style="width:120px"></el-date-picker>
                </el-form-item>
                <el-form-item label="至">
                    <el-date-picker type="year" v-model="endYear" placeholder="选择年份" style="width:120px;"></el-date-picker>
                </el-form-item>
                <el-form-item label="工程状态">
                    <com-select v-on:change="getState" v-bind:options="getStateOption" v-model="gState" class="dateCss"></com-select>
                </el-form-item>
                <el-form-item label="所属镇">
                    <com-select v-on:change="getTown" v-bind:options="getTownOption" v-model="gTown" class="dateCss"></com-select>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-search" v-on:click="search">查询</el-button>
                </el-form-item>
            </el-form>
        </div>
        <div style="height:1px;background-color:#dcdcdc;"></div>
        <div class="centerQuery">
            <div class="txtInput">
                <el-input clearable placeholder="请输入工程名称/项目编号" prefix-icon="el-icon-search" size="small"></el-input>
            </div>
            <el-button class="btnAdd"></el-button>
            <el-button class="btnDown"></el-button>
            <el-button class="btnImport"></el-button>
        </div>
    </div>
</script>

@Html.Partial("~/Views/components/forms/com_select.cshtml")
<script>
    var comquery = {
        template: "#query",
        data: function () {
            return {
                beginYear: moment().format("YYYY"),
                endYear: moment().format("YYYY"),
                getStateOption: [],
                getTownOption: [],
                gState: '',
                gTown: '',
                param: {
                    beginYear: '',
                    endYear: '',
                    State: '',
                    Town: ''
                }
            }
        },
        components: {
            'com-select': comSelect
        },
        mounted: function () {
            this.init();
        },
        methods: {
            init: function () {
                this.getStateOption = [{
                    value: '1',
                    label: '全部',
                }, {
                    value: '2',
                    label: '工前准备',

                }, {
                    value: '3',
                    label: '开工',

                }, {
                    value: '4',
                    label: '完工',

                }, {
                    value: '5',
                    label: '完工验收',

                }, {
                    value: '6',
                    label: '决算审批',

                }, {
                    value: '7',
                    label: '竣工验收',

                }];
                this.getTownOption = [{
                    value: '1',
                    label: '奉贤区',
                }, {
                    value: '2',
                    label: '庄行镇',

                }, {
                    value: '3',
                    label: '南桥镇',

                }, {
                    value: '4',
                    label: '柘林镇',

                }, {
                    value: '5',
                    label: '金汇镇',

                }, {
                    value: '6',
                    label: '青村镇',

                }, {
                    value: '7',
                    label: '海湾镇',

                }, {
                    value: '8',
                    label: '奉城镇',

                }, {
                    value: '9',
                    label: '四团镇',

                }];
            },
            getState: function (value) {
                this.gState = value;
            },
            getTown: function (value) {
                this.gTown = value;
            },
            search: function () {
                this.param.beginYear = this.beginYear;
                this.param.endYear = this.endYear;
                this.param.State = this.gState;
                this.param.Town = this.gTown;
                this.$emit("emit-event", this.param);
            }

        }
    };
</script>

<style scoped>
    .query {
        font-size: 14px;
        margin: 10px 0 0 20px;
        position:relative;
        top:4px;
    }

    .dateCss {
        width: 120px;
    }

    .centerQuery {
        margin: 15px 0 15px 20px;
        float: left;
    }

    .txtInput {
        float: left;
        margin-right: 20px;
    }

    .btnAdd {
        width: 75px;
        height: 32px;
        float: left;
        background:url('/Images/gcgl/btn_xinzeng_normal.png') no-repeat;
        border:none;
    }

        .btnAdd:focus {
            background-image: url(/Images/gcgl/btn_xinzeng_normal.png);
        }

        .btnAdd:hover {
            background-image: url(/Images/gcgl/btn_xinzeng_active.png);
        }

        .btnAdd:active {
            background-image: url(/Images/gcgl/btn_xinzeng_active.png);
        }

    .btnDown {
        width: 100px;
        height: 32px;
        float: left;
        border:none;
        background:url('/Images/gcgl/btn_mobanxz_normal.png') no-repeat;
    }

        .btnDown:focus {
            background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
        }

        .btnDown:hover {
            background-image: url(/Images/gcgl/btn_mobanxz_active.png);
        }

    .btnImport {
        width: 100px;
        height: 32px;
        float: left;
        border:none;
        background:url('/Images/gcgl/btn_piliangdr_normal.png') no-repeat;
    }

        .btnImport:focus {
            background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
        }

        .btnImport:hover {
            background-image: url(/Images/gcgl/btn_piliangdr_active.png);
        }
</style>