<script type="text/x-template" id="query">
    <div id="appquery">
        <div class="query">
            <el-form v-bind:inline="true" size="small">
                <el-form-item label="年度：">
                    <el-date-picker type="year" v-model="beginYear" placeholder="选择年份" value-format="yyyy" style="width:120px" v-bind:picker-options="pickerOptionsB"></el-date-picker>
                </el-form-item>
                <el-form-item label="至">
                    <el-date-picker type="year" v-model="endYear" placeholder="选择年份" style="width:120px;" value-format="yyyy" v-bind:picker-options="pickerOptionsE"></el-date-picker>
                </el-form-item>
                <el-form-item label="工程状态">
                    <el-select v-on:change="changeState" v-model="gState" class="dateCss">
                        <el-option v-for="item in getStateOption" v-bind:key="item.s_cd_key" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_key">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="所属镇">
                    <el-select v-on:change="changeTown" v-model="gTown" class="dateCss">
                        <el-option v-for="item in getTownOption" v-bind:key="item.s_cd_value" v-bind:label="item.s_cd_value" v-bind:value="item.s_cd_value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item>
                    <el-input placeholder="请输入工程名称/项目编号"
                              prefix-icon="el-icon-search" size="small">
                    </el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" icon="el-icon-search" v-on:click="search" class="btnCss">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" class="btnAdd" v-on:click="Add"></el-button>
                    <el-button type="primary" class="btnDown"></el-button>
                    <el-button type="primary" class="btnImport"></el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</script>

<script>
    var comquery = {
        template: "#query",
        data: function () {
            return {
                beginYear: moment().format("YYYY"),
                endYear: moment().format("YYYY"),
                getStateOption: [],
                getTownOption: [],
                gState: '',
                gTown: '',
                pickerOptionsB: {
                    disabledDate: function (time) {
                        if (this.endYear != "") {
                            return time.getTime() > Date.now() || time.getTime() > new Date(this.endYear).getTime();
                        } else {
                            return time.getTime() > Date.now();
                        }
                    }
                },
                pickerOptionsE: {
                    disabledDate: function (time) {
                        if (this.beginYear != "") {
                            return time.getTime() < new Date(this.beginYear).getTime();
                        }
                    }
                },
                param: {
                    beginYear: '',
                    endYear: '',
                    State: '',
                    Town: ''
                }
            }
        },
        mounted: function () {
            this.init();
        },
        methods: {
            init: function () {
                this.getStatus("/HydraulicEngineer/GetSelect", { Type: "工程状态" });
                this.getTown("/HydraulicEngineer/GetSelect", { Type: "街镇" });
            },
            getStatus: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.getStateOption = tempData.DictionaryGetResponse.list;
                      this.gState = this.getStateOption[0].s_cd_key;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            getTown: function (url, param) {
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      this.getTownOption = tempData.DictionaryGetResponse.list;
                      this.gTown = this.getTownOption[0].s_cd_value;
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            changeState: function (value) {
                this.gState = value;
            },
            changeTown: function (value) {
                this.gTown = value;
            },
            search: function () {
                this.param.beginYear = new Date(this.beginYear).getFullYear();
                this.param.endYear = new Date(this.endYear).getFullYear();
                this.param.State = this.gState;
                this.param.Town = this.gTown;
                this.$emit("emit-event", this.param);
            },
            Add: function () {

            }

        }
    };
</script>

<style scoped>
    #appquery .query {
        font-size: 14px;
        padding: 10px 20px 0px 20px;
        border-bottom: 1px solid #dcdcdc;
        position:relative;
        top:5px;
    }

    #appquery .dateCss {
        width: 120px;
    }

    #appquery .btnCss {
        height: 32px;
        padding-left: 20px;
        margin-left: 35px;
    }

    #appquery .btnAdd {
        width: 75px;
        height: 32px;
        float: left;
        background: url('/Images/gcgl/btn_xinzeng_normal.png') no-repeat;
        border: none;
    }

        #appquery .btnAdd:focus {
            background-image: url(/Images/gcgl/btn_xinzeng_normal.png);
        }

        #appquery .btnAdd:hover {
            background-image: url(/Images/gcgl/btn_xinzeng_active.png);
        }

        #appquery .btnAdd:active {
            background-image: url(/Images/gcgl/btn_xinzeng_active.png);
        }

    #appquery .btnDown {
        width: 100px;
        height: 32px;
        float: left;
        border: none;
        background: url('/Images/gcgl/btn_mobanxz_normal.png') no-repeat;
    }

        #appquery .btnDown:focus {
            background-image: url(/Images/gcgl/btn_mobanxz_normal.png);
        }

        #appquery .btnDown:hover {
            background-image: url(/Images/gcgl/btn_mobanxz_active.png);
        }

    #appquery .btnImport {
        width: 100px;
        height: 32px;
        float: left;
        border: none;
        background: url('/Images/gcgl/btn_piliangdr_normal.png') no-repeat;
    }

        #appquery .btnImport:focus {
            background-image: url(/Images/gcgl/btn_piliangdr_normal.png);
        }

        #appquery .btnImport:hover {
            background-image: url(/Images/gcgl/btn_piliangdr_active.png);
        }
</style>