@{
    ViewBag.Title = "水质评价";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app">
    <home-query ref="homeQuery"></home-query>
    <div id="tableData">
        <template>
            <el-table v-bind:data="tableData"
                      stripe
                      border
                      style="width: 100%" v-bind:height="height"
                      v-bind:span-method="objectSpanMethod"
                      v-bind:summary-method="getSummaries" show-summary>
                <el-table-column label="序号"
                                 width="180" type="index">
                </el-table-column>
                <el-table-column prop="sgnq"
                                 label="水功能区">
                </el-table-column>
                <el-table-column prop="jcdm"
                                 label="监测断面">
                </el-table-column>
                <el-table-column prop="szmb"
                                 label="水质目标">
                </el-table-column>
                <el-table-column prop="gmsy"
                                 label="高锰酸盐指数">
                </el-table-column>
                <el-table-column prop="ad"
                                 label="氨氮">
                </el-table-column>
                <el-table-column prop="szlb"
                                 label="综合水质类别">
                </el-table-column>
                <el-table-column prop="dbqk"
                                 label="达标情况">
                </el-table-column>
            </el-table>
        </template>
    </div>
</div>

@Html.Partial("~/Views/WaterFunction/components/query.cshtml")

<script>
    new Vue({
        el: "#app",
        data: {
            styles: {
                height: '0px',
                width: '100%'
            },
            height: 0,
            tableData: []
        },
        computed: {
        },
        created: function () {
        },
        components: {
            'home-query': query,
        },
        mounted: function () {
            this.init();
            this.setSize()
            this.resize()
        },
        methods: {
            init: function () {
                this.setData("/SingleStatistics/GetData", null);
            },
            setData: function (url, param) {
                this.setTableData(url, param)
            },
            setTableData: function (url, param) {
                var _this = this;
                axios.post(url)
                  .then(function (response) {
                      if (!param) {
                          _this.tableData=[{
                                  sgnq: '南竹港上海过度区',
                                  jcdm: '大叶公路桥',
                                  szmb: 'III',
                                  gmsy: '1.65',
                                  ad: '6',
                                  szlb: 'V类',
                                  dbqk: '不达标',
                              }, {
                                  sgnq: '金汇港上海过度区',
                                  jcdm: '大叶公路桥',
                                  szmb: 'III',
                                  gmsy: '1.65',
                                  ad: '6',
                                  szlb: 'V类',
                                  dbqk: '达标',
                              }, {
                                  sgnq: '金汇港上海过度区23',
                                  jcdm: '大叶公路桥',
                                  szmb: 'III',
                                  gmsy: '1.65',
                                  ad: '6',
                                  szlb: 'V类',
                                  dbqk: '达标',
                              }]
                      } else {
                              _this.tableData= [{
                                  sgnq: '金汇港上海过度区',
                                  jcdm: '大叶公路桥',
                                  szmb: 'III',
                                  gmsy: '1.65',
                                  ad: '6',
                                  szlb: 'V类',
                                  dbqk: '达标',
                              }, {
                                  sgnq: '金汇港上海过度区23',
                                  jcdm: '大叶公路桥',
                                  szmb: 'III',
                                  gmsy: '1.65',
                                  ad: '6',
                                  szlb: 'V类',
                                  dbqk: '达标',
                              }]
                      }
                  })
                  .catch(function (error) {
                      console.log(error);
                  });

            },
            arraySpanMethod: function (row, column, rowIndex, columnIndex) {
                debugger
                //if (rowIndex === 5) {
                //    if (columnIndex === 0) {
                //        return [1, 2];
                //    } else if (columnIndex === 1) {
                //        return [0, 0];
                //    }
                //}
            },
            objectSpanMethod:function(row, column, rowIndex, columnIndex ) {
                debugger
                if (columnIndex === 0) {
                    if (rowIndex % 2 === 0) {
                        return {
                            rowspan: 2,
                            colspan: 1
                        };
                    } else {
                        return {
                            rowspan: 0,
                            colspan: 0
                        };
                    }
                }
            },
            getSummaries: function(param) {
                const { columns, data } = param;
                const sums = [];
                columns.forEach((column, index) => {
                    if (index === 0) {
                        sums[index] = '总达标率';
                        return;
                    }
                    const values = data.map(item => Number(item[column.property]));
                    if (!values.every(value => isNaN(value))) {
                        sums[index] = values.reduce((prev, curr) => {
                            const value = Number(curr);
                           
                        }, 0);
                        sums[index] = ' %';
                    }
                });

                return sums;
                },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.homeQuery.$el.clientHeight
                var contentH = docH - queryH - 50
                this.styles.height = (contentH / 2) + 'px'
                this.height = contentH / 2
            }
        }
    })
</script>

<style>
    .el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper{
        height:auto !important;
    }
</style>
