
<script id="com_map" type="text/x-template">
    <div class="htmlContent" v-bind:style="{height:contentheight+'px'}">
        <div class="hideLeft" ref="hideLe" title="隐藏" v-on:click="hideLeft">
            <img src="/Images/gczl/btn_left.png" alt="隐藏" />
        </div>
        <div class="showLeft" ref="" title="显示" v-on:click="showLeft">
            <img src="/Images/gczl/btn_right.png" alt="显示" />
        </div>
        <div class="proFilter font-yahei">
            <div class="filter_title">
                <b>工程总览筛选（共<span class="filter_title_val font-ariel">{{ filterTitleVal }}</span>条数据）</b>
            </div>
            @* 街镇的选择块 *@
            <div class="filter_town font-size-14">
                <!--indeterminate 属性用以表示 checkbox 的不确定状态，一般用于实现全选的效果-->
                <el-row class="filter_town_title">
                    <el-col v-bind:span="8">
                        <img src="/Images/gczl/ico_jiezhen.png" />&nbsp;&nbsp;街镇
                    </el-col>
                    <el-col v-bind:span="7" :offset="9">
                        <el-checkbox v-bind:indeterminate="isIndeterminate" v-model="checkAll" v-on:change="handleCheckAllChange" v-bind:checked="true">
                            全选
                        </el-checkbox>
                    </el-col>
                </el-row>
                <el-checkbox-group v-model="checkTwons" v-on:change="handleCheckTwonsChange">
                    <el-row class="town_row">
                        <el-col :span="11" class="town_col_style"><el-checkbox label="庄行镇"></el-checkbox></el-col>
                        <el-col :span="9" class="town_col_style"><el-checkbox label="柘林镇"></el-checkbox></el-col>
                    </el-row>
                    <el-row class="town_row">
                        <el-col :span="11" class="town_col_style"><el-checkbox label="南桥镇"></el-checkbox></el-col>
                        <el-col :span="9" class="town_col_style"><el-checkbox label="青村镇"></el-checkbox></el-col>
                    </el-row>
                    <el-row class="town_row">
                        <el-col :span="11" class="town_col_style"><el-checkbox label="金汇镇"></el-checkbox></el-col>
                        <el-col :span="9" class="town_col_style"><el-checkbox label="奉城镇"></el-checkbox></el-col>
                    </el-row>
                    <el-row class="town_row">
                        <el-col :span="11" class="town_col_style"><el-checkbox label="四团镇"></el-checkbox></el-col>
                        <el-col :span="9" class="town_col_style"><el-checkbox label="海湾镇"></el-checkbox></el-col>
                    </el-row>
                </el-checkbox-group>
            </div>
            @* 工程的选择块 *@
            <div class="filter_town font-size-14">
                <!--indeterminate 属性用以表示 checkbox 的不确定状态，一般用于实现全选的效果-->
                <el-row class="filter_town_title">
                    <el-col v-bind:span="12">
                        <img src="/Images/gczl/ico_gongchngfl.png" />&nbsp;&nbsp;工程分类
                    </el-col>
                    <el-col v-bind:span="7" :offset="5">
                        <el-checkbox v-bind:indeterminate="isProIndeterminate" v-model="checkProAll" v-on:change="handleCheckProAllChange" v-bind:checked="false">
                            全选
                        </el-checkbox>
                    </el-col>
                </el-row>
                <el-checkbox-group v-model="checkPros" v-on:change="handleCheckProChange">
                    <el-row class="town_row">
                        <el-col :span="12" class="town_col_style"><el-checkbox label="1">骨干河道</el-checkbox></el-col>
                        <el-col :span="12" class="town_col_style"><el-checkbox label="2">中小河道</el-checkbox></el-col>
                    </el-row>
                    <el-row class="town_row">
                        <el-col :span="12" class="town_col_style"><el-checkbox label="3">小型农田水利</el-checkbox></el-col>
                        <el-col :span="12" class="town_col_style"><el-checkbox label="4">农村生活污水</el-checkbox></el-col>
                    </el-row>
                    <el-row class="town_row">
                        <el-col :span="12" class="town_col_style"><el-checkbox label="5">其他水利工程</el-checkbox></el-col>
                    </el-row>
                </el-checkbox-group>
            </div>
            <div class="filter_town font-size-14">
                <el-row class="filter_town_title">
                    <el-col v-bind:span="12">
                        <img src="/Images/gczl/ico_niandu.png" />&nbsp;&nbsp;年度
                    </el-col>
                </el-row>
                <el-row class="town_row">
                    <el-col :span="8">
                        <el-date-picker v-model="dateBeginParam"
                                        type="year"
                                        size="mini"
                                        :editable="false"
                                        :clearable="false"
                                        format="yyyy年"
                                        value-format="yyyy"
                                        placeholder="选择年"
                                        style="width:80px;">
                        </el-date-picker>
                    </el-col>
                    <el-col :span="3" style="text-align:center;padding-top:4px;">
                        <span>至</span>
                    </el-col>
                    <el-col :span="8">
                        <el-date-picker v-model="dateEndParam"
                                        type="year"
                                        size="mini"
                                        :editable="false"
                                        :clearable="false"
                                        format="yyyy年"
                                        value-format="yyyy"
                                        placeholder="选择年"
                                        style="width:80px;">
                        </el-date-picker>
                    </el-col>
                    <el-col :span="5" style="text-align:center;">
                        <el-button type="primary" 
                                   icon="el-icon-check" 
                                   size="mini"
                                   v-on:click="dateChange"
                                   style="padding:7px 10px;"
                                   circle>
                        </el-button>
                    </el-col>
                </el-row>
            </div>
        </div>
        @* 地图上的四个图标按钮 *@
        <div class="map_Btn refresh_map" title="初始地图范围" v-on:click="refreshMap"></div>
        <div class="map_Btn tuli_btn" icon="el-icon-menu" v-on:click="onMouseOver"></div>
        <div class="map_Btn big_map" icon="el-icon-plus" v-on:click="mapZoomBig"></div>
        <div class="map_Btn small_map" icon="el-icon-minus" v-on:click="mapZoomSmall"></div>
        <div class="tuli_img">
            <img src="/Images/gczl/img_tuli.png"/>
        </div>
        <div id="showMap" style="height:100%;border:0;">

        </div>
        <div class="hideDown" ref="hideDw" title="隐藏" v-on:click="hideDown">
            <img src="/Images/gczl/btn_down.png" alt="隐藏" />
        </div>
        <div class="showUp" ref="showUp" title="显示" v-on:click="showUp">
            <img src="/Images/gczl/btn_up.png" alt="显示" />
        </div>
        <div class="proTable">
            <el-tabs v-model="editableTabsValue2" type="card" v-on:tab-click="clickTabsPane">
                <el-tab-pane v-for="(item, index) in editableTabs2"
                             :key="item.name"
                             :label="item.title"
                             :name="item.name"
                             :value="item.content"
                             >
                    <el-table v-bind:data="tableData"
                              stripe
                              border
                              size="small"
                              height="202"
                              v-bind:key="index"
                              style="width: 100%">
                        <el-table-column type="index"
                                         label="序号"
                                         align="right"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="s_name"
                                         label="工程名称"
                                         align="left"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="s_project_no"
                                         label="工程编号"
                                         align="right"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="n_pace_status"
                                         label="工程状态"
                                         align="left"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="s_town"
                                         label="所属镇"
                                         align="left"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="n_total_invest"
                                         label="投资总金额(万元)"
                                         align="right"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="s_legal_person"
                                         label="项目法人"
                                         align="left"
                                         header-align="center">
                        </el-table-column>
                        <el-table-column prop="s_unit_design"
                                         label="设计单位"
                                         align="left"
                                         header-align="center">
                        </el-table-column>
                    </el-table>
                    @* 分页 *@
                    <el-form v-bind:inline="true" label-position="left" size="mini">
                        <div style="text-align:left;">
                            <el-form-item>
                                <el-pagination @@size-change="sizeChange" 
                                               @@current-change="currentChange" 
                                               layout="total, prev, pager, next, jumper" 
                                               v-bind:current-page.sync="currentPage" 
                                               v-bind:page-size="pagesize" 
                                               v-bind:total="total">
                                </el-pagination>
                            </el-form-item>
                        </div>
                    </el-form>
                </el-tab-pane>
            </el-tabs>
        </div>
    </div>
</script>
<script>
    var comMap = {
        template: "#com_map",
        components: {

        },
        data: function () {
            return {
                contentheight: document.documentElement.clientHeight,
                checkAll: false,
                //选中的街镇
                checkTwons: ['庄行镇', '柘林镇', '南桥镇', '青村镇', '金汇镇', '奉城镇', '四团镇', '海湾镇'],
                isIndeterminate: false,
                twons: ['庄行镇', '柘林镇', '南桥镇', '青村镇', '金汇镇', '奉城镇', '四团镇', '海湾镇'],
                checkProAll: false,
                checkPros: ['1'],//选中工程分类
                isProIndeterminate: false,
                pros: ['1','2','3','4','5'],
                map: null,
                centerDialogVisible: false,
                layers: null,
                markerLayer: null,   //工程点叠加的图层
                infowin: null,       //弹框信息
                fxbaselayerurl: "http://222.66.154.70:8090/iserver/services/map-ugcv5-FengXianJiChuDiTu/rest/maps/FengXianJiChuDiTu",
                gcctRestDataUrl: "http://222.66.154.70:8090/iserver/services/data-gcct0514/rest/data",
                vectorLayer: null,      //点线面feature显示的图层
                vectorDataList: [],     //点线面feature的数据集合
                filterTitleVal: '28',//筛选后的总的工程数量
                GGCount: 5,//骨干河道筛选后数量
                ZXXCount: 6,//中小型河道筛选后数量
                XXNTCount: 8,//小型农田水利筛选后数量
                NCSHCount: 4,//农村生活污水筛选后数量
                QTSLCount: 5,//其他水利工程筛选后数量
                //年度时间选项
                dateBeginParam: moment().format("YYYY"),
                dateEndParam: moment().format("YYYY"),
                //下面几项是动态生成tabs和表格的信息
                editableTabsValue2: '1',
                editableTabs2: [],
                //table中展示的数据
                tableData: [],
                //分页所用参数
                total: 0, //默认数据总数
                pagesize: 4,//每页的数据条数
                currentPage: 1,//默认开始页面
                stype: '1',//点击的Tabs标签
                mapDbData: [],
                mapSpaceData: [],
                pointDataArr: [],//组合完属性后的标注点信息集合
                mapSpaceId: [],
                markers: [],
            }
        },
        mounted: function () {
            this.getDataEvent();//请求数据
            this.initMap();
            const that = this;
            $(window).resize(function () {
                that.contentheight = document.body.clientHeight;
            });
        },
        watch: {
            contentheight: function (val) {
                this.contentheight = val;
            },
        },
        methods: {
            initMap: function() {
                this.map = new SuperMap.Map("showMap", {
                    controls: [
                        //new SuperMap.Control.ScaleLine(),
                        //new SuperMap.Control.MousePosition(),
                        //new SuperMap.Control.Zoom(),
                        new SuperMap.Control.Navigation({
                            dragPanOptions: {
                                enableKinetic: true
                            }
                        })],
                    allOverlays: true
                });
                var baselayer = new SuperMap.Layer.TiledDynamicRESTLayer("2016年奉贤基础底图", this.fxbaselayerurl, null, { maxResolution: "auto" });
                //标注点图层
                this.markerLayer = new SuperMap.Layer.Markers("工程点");
                this.vectorLayer = new SuperMap.Layer.Vector("工程草图");
                this.layers = [baselayer,this.markerLayer,this.vectorLayer];
                baselayer.events.on({ "layerInitialized": this.addLayers });
                this.map.events.on({ "zoomend": this.mapIsZoomend });
            },
            //加载图层信息
            addLayers: function () {
                this.map.addLayers(this.layers);
                this.map.setCenter(new SuperMap.LonLat(121.56, 30.9), 0);
                //this.addMarkerPoints();//加载marker标注点
            },
            mapIsZoomend: function () {
                var zom = this.map.getZoom();
                if (zom >= 3) {
                    this.markerLayer.clearMarkers();//去掉所有的点
                    this.getFeaturesBySQL(1);    //根据条件筛选地图空间数据(0取数据，否则渲染图层)
                } else {
                    this.vectorLayer.removeAllFeatures();//去掉草图
                    this.getFeaturesBySQL(0);    //根据条件筛选地图空间数据(0取数据，否则渲染图层)
                }
            },
            dateChange: function (val) {
                //后台获取数据
                this.getDataEvent();
            },
            addTab:function (name,val,px) {
                this.editableTabs2.push({
                    title: name+'（'+val+'）',
                    name: px+'',
                    value: name,
                    content: val
                });
                this.editableTabsValue2 = px + '';
                this.stype = px;
            },
            getDataEvent: function () {
                this.getTableData('/ProOverView/GetData', {
                    page: this.currentPage, pagesize: this.pagesize,
                    sYear: this.dateBeginParam, eYear: this.dateEndParam,
                    status: this.checkPros.join(','), towns: this.checkTwons.join(","),
                    stype: this.stype
                });
            },
            //条件筛选加载表格中的数据
            getTableData: function (url, param) {
                axios.post(url, param).then(function (response) {
                     var li = JSON.parse(response.data);
                     var datas = li.EnginPandectGetResponse.engin_pandect_list;
                     this.tableData = datas;
                     this.filterTitleVal = li.EnginPandectGetResponse.engin_pandect_count.allcount;
                     this.GGCount = li.EnginPandectGetResponse.engin_pandect_count.ggcount;
                     this.ZXXCount = li.EnginPandectGetResponse.engin_pandect_count.zxcount;
                     this.XXNTCount = li.EnginPandectGetResponse.engin_pandect_count.xxcount;
                     this.NCSHCount = li.EnginPandectGetResponse.engin_pandect_count.nccount;
                     this.QTSLCount = li.EnginPandectGetResponse.engin_pandect_count.qtcount;
                     this.initTab();    //根据条件增加或减少Tab标签页
                     this.getMapDBData();   //获取数据库数据（地图使用）
                 }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            //获取数据库数据（地图）
            getMapDBData:function() {
                axios.post('/ProOverView/GetMapData', {
                    sYear: this.dateBeginParam, eYear: this.dateEndParam,
                    status: this.checkPros.join(','), towns: this.checkTwons.join(",")
                }).then(function (response) {
                    var li = JSON.parse(response.data);
                    var datas = li.EnginPandectGetResponse.engin_pandect_list;
                    this.mapDbData = datas;
                    var zom = this.map.getZoom();
                    if (zom >= 8) {
                        this.getFeaturesBySQL(1);    //根据条件筛选地图空间数据(0取数据，否则渲染图层)
                    } else {
                        this.getFeaturesBySQL(0);    //根据条件筛选地图空间数据(0取数据，否则渲染图层)
                    }
                }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            //根据条件筛选地图空间数据
            getFeaturesBySQL: function (paraNum) {
                var pros = this.checkPros, towns = this.checkTwons.join("','"),
                    sYear = this.dateBeginParam, eYear = this.dateEndParam;
                var yearArr = [], statusArr = [];
                for (i = sYear; i <= eYear; i++) {
                    //yearArr.push(i+"年度");
                    yearArr.push(i+"年度");
                }
                for (i = 0; i < pros.length; i++) {
                    switch (pros[i]) {
                        case '1':
                            statusArr.push("骨干河道");
                            break;
                        case '2':
                            statusArr.push("中小河道");
                            break;
                        case '3':
                            statusArr.push("小型农田水利");
                            break;
                        case '4':
                            statusArr.push("农村生活污水");
                            break;
                        case '5':
                            statusArr.push("其他水利工程");
                            break;
                    }
                }
                var years = yearArr.join("','");
                var status = statusArr.join("','");
                var querySQL = " S_TOWN in ('" + towns + "') and N_YEAR in ('" + years + "') and N_TYPE in ('" + status + "')";
                var getFeatureParam, getFeatureBySQLService, getFeatureBySQLParams;
                getFeatureParam = new SuperMap.REST.FilterParameter({
                    //name: "gcct_pt@gcct0514",
                    attributeFilter: querySQL,
                });
                getFeatureBySQLParams = new SuperMap.REST.GetFeaturesBySQLParameters({
                    queryParameter: getFeatureParam,
                    datasetNames: ["gcct0514:gcct_pt", "gcct0514:gcct_ln", "gcct0514:gcct_pl"],
                    fromIndex: 0,
                    toIndex: 500
                });
                if (paraNum == 0) {
                    getFeatureBySQLService = new SuperMap.REST.GetFeaturesBySQLService(this.gcctRestDataUrl, {
                        eventListeners: {
                            "processCompleted": this.processCompleted,
                            "processFailed": this.processFailed
                        }
                    });
                } else {
                    getFeatureBySQLService = new SuperMap.REST.GetFeaturesBySQLService(this.gcctRestDataUrl, {
                        eventListeners: {
                            "processCompleted": this.processCompleted2,
                            "processFailed": this.processFailed
                        }
                    });
                }
                
                getFeatureBySQLService.processAsync(getFeatureBySQLParams);
            },
            //渲染图层
            processCompleted2: function(e){
                var obj = e.result.features;
                for (var i = 0; i < obj.length; i++) {
                    this.vectorLayer.addFeatures(obj[i]);
                }
                this.vectorDataList = obj;
            },
            //加载数据
            processCompleted: function (e) {
                var obj = e.result.features;
                for (var i = 0; i < obj.length; i++) {
                    let gcobj = {};
                    gcobj.id = obj[i].data.S_PROJECT_NO;
                    gcobj.year = obj[i].data.N_YEAR;
                    gcobj.type = obj[i].data.N_TYPE;
                    gcobj.xmfr = obj[i].data.S_LEGAL_PERSON;
                    gcobj.ssz = obj[i].data.S_TOWN;
                    gcobj.gcdz = obj[i].data.S_ADDRESS;
                    gcobj.sjdw = obj[i].data.S_UNIT_DESIGN;
                    gcobj.sgdw = obj[i].data.S_UNIT_BUILD;
                    gcobj.jldw = obj[i].data.S_UNIT_SUPERVISE;
                    gcobj.gszje = obj[i].data.N_RECKON_TOTAL_AMT;
                    if(obj[i].geometry.id.indexOf("Point") != -1){
                        gcobj.x = obj[i].geometry.x;
                        gcobj.y = obj[i].geometry.y;
                    } else {
                        gcobj.x = obj[i].geometry.getCentroid().x;
                        gcobj.y = obj[i].geometry.getCentroid().y;
                    }
                    if ($.inArray(obj[i].data.S_PROJECT_NO, this.mapSpaceId) == -1) {
                        this.mapSpaceData.push(gcobj);
                        this.mapSpaceId.push(obj[i].data.S_PROJECT_NO);
                    }
                }
                this.getPointDataArr(); //组合数据库数据和地图空间数据
            },
            processFailed:function(e) {
                console.log(e.error.errorMsg);
            },
            //组合数据库数据和地图空间数据
            getPointDataArr: function () {
                var spData = this.mapSpaceData;
                var dbData = this.mapDbData;
                let i=0,j=0;
                for (; i < spData.length;i++){
                    let po = {}, k = 0;
                    breakout:
                    for (; j < dbData.length; j++) {
                        k = 0;
                        if (spData[i].id == dbData[j].s_project_no) {
                            po = spData[i];
                            po.status = dbData[j].n_pace_status;
                            po.name = dbData[j].s_name;
                            k = 1;
                            break breakout;
                        }
                    }
                    this.pointDataArr.push(po);
                }
                console.log(this.pointDataArr);
                this.addMarkers();
            },
            //添加地图上的标注点
            addMarkers: function() {
                this.markerLayer.clearMarkers();
                var podata = this.pointDataArr;
                let i = 0;
                var markers = [];
                for (; i < podata.length; i++) {
                    var size = new SuperMap.Size(28, 33);
                    var offset = new SuperMap.Pixel(-(size.w / 2), -size.h);
                    var picUrl = "";
                    switch (podata[i].status) {
                        case '工前准备':
                            picUrl = "/Images/gczl/btn_gongqianzb.png";
                            break;
                        case '开工':
                            picUrl = "/Images/gczl/btn_kaigong.png";
                            break;
                        case '完工':
                            picUrl = "/Images/gczl/btn_wangong.png";
                            break;
                        case '完工验收':
                            picUrl = "/Images/gczl/btn_wangongys.png";
                            break;
                        case '决算审批':
                            picUrl = "/Images/gczl/btn_juesuansp.png";
                            break;
                        case '竣工验收':
                            picUrl = "/Images/gczl/btn_jungongys.png";
                            break;
                        case '工程完结':
                            picUrl = "/Images/gczl/btn_gongchengwg.png";
                            break;
                    }
                    var icon = new SuperMap.Icon(picUrl, size, offset);
                    var marker = new SuperMap.Marker(new SuperMap.LonLat(podata[i].x, podata[i].y), icon);
                    marker.id = podata[i].id;
                    marker.name = podata[i].name;
                    marker.year = podata[i].year;
                    marker.type = podata[i].type;
                    marker.status = podata[i].status;
                    marker.xmfr = podata[i].xmfr;
                    marker.ssz = podata[i].ssz;
                    marker.gcdz = podata[i].gcdz;
                    marker.sjdw = podata[i].sjdw;
                    marker.sgdw = podata[i].sgdw;
                    marker.jldw = podata[i].jldw;
                    marker.gszje = podata[i].gszje;
                    this.markerLayer.addMarker(marker);
                    markers.push(marker);
                }
                this.markers = markers;
                for (var j = 0; j < markers.length; j++) {
                    //给所有的marker注册单击事件
                    markers[j].events.on({ "click": this.showInfoWin });
                }
            },
            showInfoWin:function (e) {
                this.closeInfoWin();
                var that = e.object;
                var contentHTML = "<div  id='ptPop'>";  //地图上点的弹框
                contentHTML += "<div id='ptPopTitle'><span style='margin-left:20px;'></span>";
                contentHTML += "<div>";
                contentHTML += "<div id='bgColor'><div style='width: 5px;height: 13px;background-color: white; position: absolute;left: 10px;top: 11px;'></div><span style='margin-left:20px;'>" + that.name + "</span></div>";
                contentHTML += "<table cellspacing='0' border='1' cellpadding='0'>";
                contentHTML += "<tr><td class='firtlist'>项目编号</td><td class='secondlist'>" + that.id + "</td><td class='threelist'>年度</td><td class='secondlist'>" + that.year + "</td></tr>";
                contentHTML += "<tr><td class='firtlist'>工程分类</td><td class='secondlist'>" + that.type + "</td><td class='threelist'>工程状态</td><td class='secondlist'>" + that.status + "</td></tr>";
                contentHTML += "<tr><td class='firtlist'>项目法人</td><td class='secondlist'>" + that.xmfr + "</td><td class='threelist'>所属镇</td><td class='secondlist'>" + that.ssz + "</td></tr>";
                contentHTML += "<tr><td class='firtlist'>工程地址</td><td class='secondlist' colspan='3'>" + that.gcdz + "</td></tr>";
                contentHTML += "<tr><td class='firtlist'>设计单位</td><td class='secondlist'>" + that.sjdw + "</td><td class='threelist'>设计单位</td><td class='secondlist'>" + that.sgdw + "</td></tr>";
                contentHTML += "<tr><td class='firtlist'>监理单位</td><td class='secondlist'>" + that.jldw + "</td><td class='threelist'>估算总投资</td><td class='secondlist'>" + that.gszje + "</td></tr>";
                contentHTML += "</table></div>";
                contentHTML += "<div style='width:100%;text-align:center;margin-top:5px;'><input type='button' value='' id='showGcDetail'></div></div></div>";
                //初始化FramedCloud类
                var framedCloud = new SuperMap.Popup.FramedCloud(
                     "ptInfo", //id
                     e.object.lonlat,
                     null,
                     contentHTML,
                     e.object.icon,
                     true,
                     null,
                     true
                 );
                this.infowin = framedCloud;
                this.map.addPopup(framedCloud);
                $('#showGcDetail').click(function () {
                    //打开工程详情页面
                    console.log("打开工程详情");
                })
            },
            closeInfoWin: function () {
                if (this.infowin) {
                    try {
                        this.infowin.hide();
                        this.infowin.destroy();
                    }
                    catch (e) { }
                }
            },
            initTab: function() {
                var that = this;
                that.editableTabs2 = [];
                var name = "";
                for (var i = 0; i < that.checkPros.length; i++) {
                    let val;
                    switch (that.checkPros[i]) {
                        case '1':
                            val = this.GGCount;
                            this.total = this.GGCount;
                            name = "骨干河道";
                            break;
                        case '2':
                            val = this.ZXXCount;
                            this.total = this.ZXXCount;
                            name = "中小河道";
                            break;
                        case '3':
                            val = this.XXNTCount;
                            this.total = this.XXNTCount;
                            name = "小型农田水利";
                            break;
                        case '4':
                            val = this.NCSHCount;
                            this.total = this.NCSHCount;
                            name = "农村生活污水";
                            break;
                        case '5':
                            val = this.QTSLCount;
                            this.total = this.QTSLCount;
                            name = "其他水利工程";
                            break;
                    }
                    this.addTab(name, val, that.checkPros[i]);
                };
                this.refreshTableData();
            },
            clickTabsPane: function (obj) {
                this.currentPage = 1;
                this.stype = obj.name + '';
                this.total = obj.$attrs.value;
                let ct = this.checkTwons.join(",");
                axios.post('/ProOverView/GetData', {
                    page: this.currentPage, pagesize: this.pagesize,
                    sYear: this.dateBeginParam, eYear: this.dateEndParam,
                    status: this.checkPros.join(','), towns: ct, stype: this.stype
                }).then(function (response) {
                    var li = JSON.parse(response.data);
                    var datas = li.EnginPandectGetResponse.engin_pandect_list;
                    this.tableData = datas;
                }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            refreshTableData: function() {
                axios.post('/ProOverView/GetData', {
                    page: this.currentPage, pagesize: this.pagesize,
                    sYear: this.dateBeginParam, eYear: this.dateEndParam,
                    status: this.checkPros.join(','), towns: this.checkTwons.join(","),
                    stype: this.stype
                }).then(function (response) {
                    var li = JSON.parse(response.data);
                    var datas = li.EnginPandectGetResponse.engin_pandect_list;
                    this.tableData = datas;
                }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
            },
            hideLeft: function () {
                $(".hideLeft").hide();
                $(".proFilter").animate({ width: "hide" }, "normal", function () {
                    $(".showLeft").show();
                })
            },
            showLeft: function () {
                $(".showLeft").hide();
                $(".proFilter").animate({ width: "show" }, "normal", function () {
                    $(".hideLeft").show();
                })
            },
            hideDown: function () {
                $(".hideDown").hide();
                $(".proTable").animate({ height: "hide" }, "normal", function () {
                    $(".showUp").show();
                })
            },
            showUp: function () {
                $(".showUp").hide();
                $(".proTable").animate({ height: "show" }, "normal", function () {
                    $(".hideDown").show();
                })
            },
            currentChange: function (currentPage) {
                this.currentPage = currentPage;
                this.refreshTableData();
            },
            sizeChange: function (pagesize) {
                this.currentPage = pagesize;
                this.refreshTableData();
            },
            //街镇全选框的事件
            handleCheckAllChange: function (val) {
                this.checkTwons = val ? this.twons : [];//
                this.isIndeterminate = false; //当全选或者全不选时，不确定性为false
                if (val) {
                    this.getDataEvent();
                } else {
                    this.filterTitleVal = '0';
                    this.editableTabs2 = [];
                }
            },
            //具体街镇change事件
            handleCheckTwonsChange: function (value) {
                var checkedCount = value.length;
                this.checkAll = (checkedCount === this.twons.length);
                this.isIndeterminate = (checkedCount > 0 && checkedCount < this.twons.length);
                //后台取数据
                if (checkedCount > 0) {
                    this.getDataEvent();
                } else {
                    this.filterTitleVal = '0';
                    this.editableTabs2 = [];
                };
            },
            //工程分布全选的事件
            handleCheckProAllChange: function (val) {
                this.checkPros = val ? this.pros : [];//
                this.isProIndeterminate = false; //当全选或者全不选时，不确定性为false
                if (val) {
                    this.stype = '5';
                    this.getDataEvent();
                } else {
                    this.filterTitleVal = '0';
                    this.editableTabs2 = [];
                }
            },
            //具体的工程分布的改变（change）事件
            handleCheckProChange: function (value) {
                var checkedCount = value.length;
                this.checkProAll = (checkedCount === this.pros.length);
                this.isProIndeterminate = (checkedCount > 0 && checkedCount < this.pros.length);
                if (checkedCount > 0) {
                    this.stype = value[value.length-1];
                    this.getDataEvent();
                } else {
                    this.filterTitleVal = '0';
                    this.editableTabs2 = [];
                };
            },
            //图例鼠标悬停事件
            onMouseOver: function () {
                $('.tuli_img').toggle();
            },
            refreshMap: function () {   //复原地图
                debugger
                this.map.setCenter(new SuperMap.LonLat(121.56, 30.9), 0);
            },
            mapZoomBig: function () {
                this.map.zoomTo(this.map.getZoom() + 1);
            },
            mapZoomSmall: function () {
                this.map.zoomTo(this.map.getZoom() - 1);
            },
        }
    }
</script>
<style scoped>
    #com_map {
        display: none;
    }
    .htmlContent{
        width: 100%;
        /*border:1px solid rgb(76, 255, 0);*/
    }
    .hideLeft {
        position: absolute;
        z-index: 1355;
        left: 258px;
        top: 12px;
        width: 22px;
        text-align: center;
        height: 32px;
    }
    .showLeft {
        position: absolute;
        z-index: 1355;
        left: 0px;
        top: 12px;
        width: 22px;
        text-align: center;
        height: 32px;
        display: none;
    }
    .proFilter{
        position:absolute;
        z-index: 1255;
        top:0px;
        left:0px;
        width: 240px;
        height:320px;
        /*border:1px solid #0026ff;*/
    }
    .hideDown {
        position: absolute;
        z-index: 1355;
        left: 49%;
        bottom: 270px;
        width: 32px;
        text-align: center;
        height: 22px;
    }
    .showUp {
        position: absolute;
        z-index: 1355;
        left: 49%;
        bottom: 4px;
        width: 32px;
        text-align: center;
        height: 22px;
        display: none;
    }
    .proTable{
        overflow: auto;
        z-index:1254;
        position:absolute;
        bottom:0px;
        left:0px;
        width:100%;
        height:270px;
        background-color: #ffffff;
        /*border:1px solid #0026ff;*/
    }
    .filter_title{
        font-size:14px;
        padding:8px 0 8px 16px;
        background-color:#ececec;
        color:#333333;
        width:100%;
        border:1px solid #dcdcdc;
    }
    .filter_town{
        background-color: #ffffff;
        padding-left:16px;
        width:100%;
        border:1px solid #dcdcdc;
        border-top:0;
    }
    .filter_town_title{
        padding-top:6px;
        padding-bottom:0px;
        margin-bottom:10px;
    }
    .town_row{
        margin-bottom:6px;
    }
    .town_col_style{

    }
    /*地图上点位的弹框样式*/
    #ptInfo, #ptInfo_contentDiv, #ptInfo_GroupDiv {
        width: 410px !important;
    }

    #ptInfo_contentDiv{
        padding-right:0px;
        padding-bottom:0;
    }

    #ptInfo_GroupDiv{
        height: 266px;
    }

    #ptPop {
		width: 380px;
		font-family: 'Microsoft YaHei';
		line-height: 18px;
		opacity: 0.8;
	}
		
	#bgColor {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #2288f1;
		width: 410px;
		height: 34px;
		border-radius: 5px 5px 0 0;
	}
		
	#ptPop table {
		line-height: 26px;
		color: rgb(0, 0, 0);
		font-size: 12px;
		font-weight: normal;
		border-color: #dcdcdc;
		width: 372px;
		margin: 14px 0 0 18px;
		height: 160px;
	}
		
	#ptPop table .firtlist {
		background-color: #f5f5f5;
		width: 68px;
		color: #333333;
		font-size: 12px;
		font-weight: bold;
		text-align: right;
		padding-right: 8px;
	}
		
	#ptPop table .secondlist {
		font-size: 14px;
		font-weight: normal;
		color: #333333;
		padding-left: 8px;
	}

    #ptPop table .threelist{
        background-color: #f5f5f5;
		width: 74px;
		color: #333333;
		font-size: 12px;
		font-weight: bold;
		text-align: right;
		padding-right: 8px;
    }
	
	#ptInfo_close {
		background: url(/Images/zhjc/btn_close_normal.png) no-repeat;
		right: 0px !important;
		top: 9px !important;
	}
	
	#ptInfo_close:hover {
		background: url(/Images/zhjc/btn_close_active.png) no-repeat;
		top: 5px !important;
		right: 4px !important;
	}
		
	#ptPopTitle {
		height: 34px;
		width: 406px;
		line-height: 34px;
		font-size: 14px;
		font-family: 'Microsoft YaHei';
		margin: -3px 1px 1px -4px;
		color: #ffffff;
	}
    #showGcDetail {
        width: 100px;
        height: 32px;
        background: url(/Images/gczl/btn_gongcxq_normal.png);
        margin: 5px 10px 0 20px;
        border: none;
    }

    #showGcDetail:hover {
        background: url(/Images/gczl/btn_gongcxq_active.png);
    }
    /*地图上的四个悬浮的图标按钮*/
    .map_Btn{
        position:absolute;
        right:15px;
        width:34px;
        height:34px;
        cursor:pointer;
        z-index:1253;
    }
    .refresh_map{
        top:140px;
        background:url(/Images/zhjc/legend/btn_initMapExtent.png) no-repeat;
    }
    .tuli_btn{
        top:174px;
        background:url(/Images/zhjc/legend/btn_showLegend.png) no-repeat;
    }
    .big_map{
        top:209px;
        background:url(/Images/zhjc/legend/btn_zoomToBig.png) no-repeat;
    }
    .small_map{
        top:241px;
        background:url(/Images/zhjc/legend/btn_ZoomToSamll.png) no-repeat;
    }
    /*显示图例信息的div*/
    .tuli_img{
        position:absolute;
        right:55px;
        top:130px;
        z-index:1555;
        width:252px;
        height:165px;
        display:none;
    }

    /*时间选择框的样式重写*/
    .el-input--suffix .el-input__inner{
        padding-right:5px;
    }
    .el-date-picker {
        width: 220px;
    }
    .el-date-picker .el-picker-panel__content{
        width:87%;
    }
    /*tabs标签页的样式重写*/
    .el-tabs--card > .el-tabs__header .el-tabs__nav {
        border: none;
        padding-left:55px;
    }
    .el-tabs--card > .el-tabs__header .el-tabs__item {
        height: 30px;
        line-height: 30px;
    }
    .el-tabs__nav-wrap.is-scrollable {
        padding: 0 !important;
    }
    .el-tabs__nav-prev {
        display: none;
    }
    .el-tabs__nav-next {
        display: none;
    }
    /**tab栏选中时的样式*/
    .el-tabs__item.is-active {
        color: white;
        background-color: #2288f1;
        border: none;
    }
    .el-tabs__header{
        margin:0;
    }

    /*表格中分页的样式重写*/
    .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item{
        margin-bottom:0;
    }

    /*通用的定义class */
    .font-yahei{
        font-family:'Microsoft YaHei';
    }
    .font-ariel{
        font-family:Arial;
    }
    .font-size-14{
        font-size:14px;
    }
</style>
