
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "工程管理-中小河道";
}

<div id="app">
    <com-query v-on:emit-event="getEmitEvent" ref="smallQuery"></com-query>
    <div id="tableData">
        <el-table v-bind:data="tableData"
                  v-bind:height="height"
                  border
                  stripe
                  style="width: 100%"
                  class="tableCss">
            <el-table-column type="index"
                             v-bind:index="indexMethod"
                             label="序号"
                             header-align="center"
                             align="center"
                             width="60">
            </el-table-column>
            <el-table-column prop="n_year"
                             label="年度"
                             header-align="center"
                             align="center"
                             width="100">
            </el-table-column>
            <el-table-column header-align="center"
                             label="工程名称">
                <template slot-scope="scope">
                    @*href="LookProject?t="*@
                    <a v-on:click="openLook(scope.row.s_id)">{{ scope.row.s_name }}</a>
                </template>
            </el-table-column>
            <el-table-column prop="s_project_no"
                             header-align="center"
                             align="right"
                             label="工程编号">
            </el-table-column>
            <el-table-column prop="n_pace_status"
                             header-align="center"
                             label="工程状态" width="120">
            </el-table-column>
            <el-table-column prop="s_town"
                             header-align="center"
                             align="center"
                             label="所属镇" width="100">
            </el-table-column>
            <el-table-column prop="s_unit_design"
                             header-align="center"
                             label="设计单位">
            </el-table-column>
            @*s_legal_person*@
            <el-table-column prop="s_legal_person"
                             header-align="center"
                             label="项目法人" width="100">
            </el-table-column>
            <el-table-column label="操作"
                             header-align="center"
                             align="center"
                             width="300">
                <template slot-scope="scope">
                    <el-button size="mini" v-on:click="openEdit(scope.row.s_id)">编辑</el-button>
                    <el-button size="mini" type="info" v-on:click="openFileManage(scope.row.s_id)">文件管理</el-button>
                    <el-button size="mini" type="danger" v-on:click="DeleteData(scope.row.s_id)">删除</el-button>
                    @*<el-button size="mini" class="btnCss btnEdit"></el-button>
                        <el-button size="mini" class="btnCss btnFile"></el-button>
                        <el-button size="mini" class="btnCss btnDel"></el-button>*@
                </template>
            </el-table-column>
        </el-table>
    </div>

    <div style="text-align:right;padding-top:10px;">
        <el-pagination @@size-change="sizeChange" @@current-change="currentChange" layout="total, sizes, prev, pager, next, jumper" v-bind:current-page.sync="currentPage" v-bind:page-size="pageSize" v-bind:page-sizes="[10, 20, 30, 40, 50]" v-bind:total="total">
        </el-pagination>
    </div>
</div>

@Html.Partial("~/Views/ZXRiverway/components/query.cshtml")

<script>
    new Vue({
        el: "#app",
        data: {
            styles: {
                width: '90%',
                height: '0px',
                float: 'left',
            },
            height: 0,
            tableData: [],
            total: 0, //默认数据总数
            pageSize: 10,//每页的数据条数
            currentPage: 1,//默认开始页面
            params: []
            
        },
        components: {
            "com-query": query,
        },//
        mounted: function () {
            this.setSize()
            this.resize()
            this.setTableData('/ZXRiverway/GetProjectData', { Page: this.currentPage, pageSize: this.pageSize, startYear: moment().format("YYYY"), endYear: moment().format("YYYY"), Status: '', Town: '', NameNum: '' });
            //this.$refs.smallQuery.gStatus   this.$refs.smallQuery.gTown
        },
        methods: {
            openLook: function (ID) {
                window.location = "/BackboneRiverway/LookProject?id=" + ID;
                //window.open('LookProject?id=' + ID);
            },
            getEmitEvent: function (param) {
                this.setTableData('/ZXRiverway/GetProjectData', {
                    Page: this.currentPage, pageSize: this.pageSize, startYear: param.startYear, endYear: param.endYear, Status: param.Status, Town: param.Town, NameNum: param.NameNum,
                });
            },
            setTableData: function (url, param) {
                this.params = param;
                axios.post(url, param)
                  .then(function (response) {
                      var tempData = JSON.parse(response.data);
                      //var datas = tempData.EnginListGetResponse.engin_list;
                      this.tableData = tempData.EnginListGetResponse.engin_list;
                      this.total = tempData.EnginListGetResponse.totalCount;
                  }.bind(this))
                  .catch(function (error) {
                      alert(error)
                      console.log(error);
                  });

            },
            openFileManage: function (ID) {
                window.location = "/BackboneRiverway/FileManage?id=" + ID;

            },
            openEdit: function (ID) {
                window.location = "/BackboneRiverway/EditProject?id=" + ID;
            },

            DeleteData: function (id) {
                this.$confirm('是否确认删除?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(function () {
                    axios.post("/BackboneRiverway/DeleteProjectData", { s_id: id })
                  .then(function (response) {
                      debugger
                      var tempData = JSON.parse(response.data);
                      if (tempData.EnginCoreUpdateResponse.result) {
                          this.$message({
                              type: 'success',
                              message: '删除成功!'
                          });
                      } else {
                          this.$message.error('删除失败！' + tempData.EnginCoreUpdateResponse.result);
                      }
                      debugger
                      this.setTableData('/ZXRiverway/GetProjectData', this.params)
                  }.bind(this))
                  .catch(function (error) {
                      console.log(error);
                  });
                }.bind(this)).catch(function () {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            indexMethod: function (index) {
                return (index + 1) + (this.currentPage - 1) * this.pageSize;
            },
            currentChange: function (val) {
                this.currentPage = val;
                this.params.Page = val;
                this.setTableData('/ZXRiverway/GetProjectData', this.params)
            },
            sizeChange: function (val) {
                this.pageSize = val;
                this.params.pageSize = val;
                this.setTableData('/ZXRiverway/GetProjectData', this.params)
            },
            setSize: function () {
                var docH = document.documentElement.clientHeight
                var queryH = this.$refs.smallQuery.$el.clientHeight
                var contentH = docH - queryH - 40
                this.height = contentH - 5
            },
            resize: function () {
                $(window).resize(function () {
                    this.setSize()
                }.bind(this));
            },
        }

    })
</script>

<style>
    #tableData a {
        text-decoration: none;
        font-size: 14px;
        color: #2288f1;
        cursor: pointer;
    }

    #tableData th {
        background-color: #F5F5F5;
    }

    #app .btnCss {
        width: 20px;
        height: 20px;
        border: 0;
        background: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
    }

    #app .btnEdit {
        background-image: url(/Images/gcgl/btn_bianji.png);
    }

        #app .btnEdit:hover {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_bianji.png);
        }

        #app .btnEdit:focus {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_bianji.png);
        }

    #app .btnFile {
        background-image: url(/Images/gcgl/btn_wenjiangl.png);
    }

        #app .btnFile:hover {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_wenjiangl.png);
        }

        #app .btnFile:focus {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_wenjiangl.png);
        }

    #app .btnDel {
        background-image: url(/Images/gcgl/btn_shanchu.png);
    }

        #app .btnDel:hover {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_shanchu.png);
        }

        #app .btnDel:focus {
            background: rgba(255, 255, 255, 0);
            background-repeat: no-repeat;
            background-image: url(/Images/gcgl/btn_shanchu.png);
        }
</style>